[2017-07-29 18:41] genifycom commented on #143
Wonderful, thanks Pavel.

Interesting that Visual Studio does not show this dependency through Nuget.

Can I run the dependency graph so I can sort out these issues in the future?

Thank you,
Dave

[2017-07-29 19:37] genifycom opened #144 "C# and Lambda the future"
There are many comments including from Lynn Langit "that multi-function Lambda functions are an anti-pattern". https://www.youtube.com/watch?v=PgZ2dxnj734 Time 33:50

However, she then goes on to talk about a command pattern at 37:36 that looks like a ASP.NET core application might fill. After this, we are left with the confusion of single function Lambda or multi function Lambda.

At present we d

[2017-07-29 19:38] genifycom opened #145 "ASp.NET Core and Lambda - the Future"
There are many comments including from Lynn Langit "that multi-function Lambda functions are an anti-pattern". https://www.youtube.com/watch?v=PgZ2dxnj734 Time 33:50

However, she then goes on to talk about a command pattern at 37:36 that looks like a ASP.NET core application might fill. After this, we are left with the confusion of single function Lambda or multi function Lambda.

At present we d

[2017-07-29 19:38] genifycom opened #146 "ASP.NET Core and Lambda - the future?"
There are many comments including from Lynn Langit "that multi-function Lambda functions are an anti-pattern". https://www.youtube.com/watch?v=PgZ2dxnj734 Time 33:50

However, she then goes on to talk about a command pattern at 37:36 that looks like a ASP.NET core application might fill. After this, we are left with the confusion of single function Lambda or multi function Lambda.

At present we d

[2017-07-29 19:39] #145 closed

[2017-07-29 19:39] #144 closed

[2017-07-30 18:13] tarurar opened #147 "Scheduled events"
Which package can be used to work with scheduled cloud watch events?

[2017-07-31 17:27] PavelSafronov commented on #143
Curious. Not sure how it ended up in the csproj then.
I'm unaware of a tool that shows this information, but agree that it would be helpful.
Is your issue resolved?

[2017-07-31 17:31] Kralizek commented on #147
There is no package supporting it.

#88 here I suggest a class that supports some of the information sent from CloudWatch.
#16 here there is a discussion where @normj shows possibilities and problems that need to be solved to be able to support the whole message.

[2017-07-31 17:41] genifycom commented on #143
Yes thank you 👍

[2017-07-31 17:41] #143 closed

[2017-08-01 00:56] wtesler commented on #76
@nanestev That was my problem! Error could be more descriptive for sure.

[2017-08-08 22:13] ChristianAvila commented on #125
I have the same issue, this is the stack trace

Error: Exception has been thrown by the target of an invocation.
   at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean constructor)
   at System.Reflection.RuntimeConstructorInfo.Invoke(BindingFlags invokeAttr, Binder binder, Object[] parameters, CultureInfo culture)
   at Amazon.Extensions.NETCore.Se

[2017-08-09 09:54] sloanyb opened #148 "Can you publish lambda versions?"
Hi, I've been investigating with the `-fp true` switch of `deploy function` and sure enough it creates a version 1 as well as a `$latest`, but I cannot find any way to make either `dotnet lambda deploy-function` or `dotnet lambda deploy-serverless` create new versions of the lambda on each deploy.

Is there some way to actually get new version numbers * for each deploy ** so that function versioni

[2017-08-09 22:27] AlbertoMonteiro opened #149 "Support to .NET Core 2.0"
.NET Core 2.0 was just release https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/

When AWS Lambda will support .NET Core 2.0?

[2017-08-09 22:49] normj commented on #149
Looks like it is not quite out yet but close.

I can't give you release time but we know how important the .NET Core 2.0 release is.

[2017-08-09 22:57] normj commented on #148
Lambda doesn't allow you to specify the version number when you publish. The `-fp` argument maps to the `Publish` property to the [UpdateFunctionCode](http://docs.aws.amazon.com/lambda/latest/dg/API_UpdateFunctionCode.html) service operation.

[2017-08-10 00:40] Kralizek commented on #149
What's going to be the strategy?

Are we going to have a new runtime to choose from? Or will all .net lambda automatically upgraded to .net core 2.0?

[2017-08-10 00:43] bjorg commented on #149
I will be at re:Invent when it's announced screaming my head off like I did last year! :)

[2017-08-10 11:41] AlbertoMonteiro commented on #149
@normj the issue is back!!! https://github.com/dotnet/announcements/issues/24

[2017-08-10 14:38] genifycom commented on #149
Norm, will Razor continue to be an issue with .NET Core 2.0 or is it too early to say?

[2017-08-10 15:56] slang25 commented on #149
Just to be clear, .NET Standard 2.0 has been released, .NET Core 2.0 is still in the works.

[2017-08-10 17:00] normj commented on #146
My view is there is more then one way to design a Serverless application. With all architecture designs there are benefits and trade offs. If your only goal is to have the lowest latency for Lambda as possible then Lynn’s comments about multi functions are correct. The benefits I saw when writing the library to run ASP.NET Core apps on Lambda are:

* Reduce learning curve by not having to relearn

[2017-08-10 17:32] normj commented on #149
@genifycom I can't guarantee anything yet but in .NET Core 2.0 Razor views can be precompiled at packaging time which solves the problem Lambda has with Razor views in our current runtime. Also precompilation will be critical to keep the cold startup time down.

@Kralizek Please don't take anything in this thread as an announcement for .NET Core 2.0 support in Lambda, just know we realize how impo

[2017-08-10 20:52] AlbertoMonteiro commented on #149
Thanks for the feedback @normj

[2017-08-11 07:08] Kralizek commented on #149
@normj don't worry! We are pretty happy with .NET Core 1.0 so far :) but glad to know which direction you would be taking if you were to support a new runtime version!

[2017-08-14 17:44] damianh commented on #149
https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/

Start your engines lads :)

[2017-08-15 22:48] normj commented on #134
I opened up the https://github.com/dotnet/templating/issues/1193 issue on the dotnet/templating repository to find a fix for this issue but it doesn't look like there is a fix you in the templating engine. Sounds like a fix is coming, or probably came out yesterday as part of the .NET Core 2.0 release. But if I make that change then users with the pre .NET Core 2.0 cli will be even more broken.

[2017-08-15 22:48] normj commented on #87
I opened up the https://github.com/dotnet/templating/issues/1193 issue on the dotnet/templating repository to find a fix for this issue but it doesn't look like there is a fix you in the templating engine. Sounds like a fix is coming, or probably came out yesterday as part of the .NET Core 2.0 release. But if I make that change then users with the pre .NET Core 2.0 cli will be even more broken.

[2017-08-15 22:52] normj commented on #135
LambdaLogger doesn't have anything like that built in right now. You would need to manually add it now which could easily be done by wrapping a custom object around LambdaLogger that appended and then use the custom object throughout your function to log.

[2017-08-15 22:56] normj commented on #76
Closing this as it look likes the issues have been resolved. In the next iteration of .NET Core Lambda functions we hope to use some of the new API in .NET Core to capture what happens when the process dies and report that back in the logs.

[2017-08-15 22:56] #76 closed

[2017-08-16 03:01] Marcus-L commented on #87
I think fixing the templates for SDK/CLI v2.0/1.1.0 using the new syntax from dotnet/templating#1168 would be the least-bad option (obviously it's never great to introduce bugs even if only for older CLI versions). As of today new (2.0/1.1.0) versions of .NET Core SDK/CLI are shipping with the VS2017 15.3 or .NET Core 2.0 update, therefore many (most?) developers focusing on .NET Core should be ge

[2017-08-16 09:48] gotmike commented on #149
previously, it was mentioned that Lambda would support all LTS versions of .net core...

now, v1.1.2 is LTS (https://www.microsoft.com/net/core/support)

when will this be supported? or is it already?

[2017-08-17 22:47] normj commented on #87
I think you are right eventually but it does take awhile for people to move to the new bits, I'm still helping people on VS 2015 and project.json. Especially since updating Visual Studio to 15.3 doesn't include .NET Core 2.0 and you have to install it separately. I'm disappointed that there doesn't seem to be away to say a template NuGet package requires a min version of the cli.

It also gets a b

[2017-08-21 15:23] djaquez commented on #124
I wanted to add a statement as a note to anybody seeing "Native image cannot be loaded multiple times: FileLoadException" when MVC is being added to the services in Startup.ConfigureServcies.

This exception is thrown but it really is a red herring.  Catch the exception and handle it.  That will allow your application to log the true exception that is causing the real problem.

In my case, I had a

[2017-08-22 04:03] simonbuchan commented on #107
So for now something like this is best?

[code]

[2017-08-22 04:45] rui-infotrack commented on #107
@simonbuchan
Hi, thank you for your response. This is basically what we've been doing so far. I think for lambda codepipeline, this will be the solution as different languages will require different ways to package/compile the code, but SAM file is quite generic.

So in short words: ad hoc build script + SAM (cloudformation) is the answer

[2017-08-22 04:45] #107 closed

[2017-08-22 23:10] simonbuchan opened #150 "`dotnet lambda package` in WSL (Ubuntu on Windows) using windows `dotnet publish`"
`dotnet lambda package` is failing for me on lambda tools from at least 1.6 when I run it from WSL, while `dotnet publish` works. It seems like it is trying to use the windows `dotnet.exe`, rather than the WSL ubuntu `dotnet`. I am using the dotnet core 2.0 SDK, but I have the 1.0 shared framework installed.

Setting up a trivial project:

[code]

From here `dotnet publish` works fine:

[code]

Bu

[2017-08-22 23:37] simonbuchan commented on #150
Bug is https://github.com/aws/aws-lambda-dotnet/blob/master/Libraries/src/Amazon.Lambda.Tools/DotNetCLIWrapper.cs#L50

Here is how the asp.net core tools do it: https://github.com/aspnet/DotNetTools/blob/6f1057a7603d3ece343d265e484517ef950ada4f/shared/DotNetMuxer.cs

[2017-08-22 23:50] simonbuchan commented on #150
Workaround for now: `PATH=/usr/bin:/bin dotnet lambda package -c Release -f netcoreapp1.0`, which removes `dotnet.exe` from the path.

[2017-08-23 00:40] flameoftheforest opened #151 ""dotnet lambda deploy-serverless" is not working. However deploying serverless-application in VS2015 AWS Tool GUI works"
Hi there,

I have experience the above issue. When I issue the `dotnet lambda deploy-serverless` command, this is what I get:

[code]

From my limited understanding, `dotnet publish` is successful, but for some reason the `lambda package` portion failed.

It seems to me that the command will fail if there are libraries attaching to the netcoreapp project.

Please help.

Thanks in advance.

[2017-08-23 00:50] normj commented on #151
Can you share the the Bleep.deps.json file from the publish folder? That should help us figure out what is triggering the tooling to think what depending on .NET Standard 2.0. I can see that JWT 3.0.2 and Newtonsoft.Json 10.0.3 require dependencies that are only available as part of .NET Core 1.1.

[2017-08-23 00:53] flameoftheforest commented on #151
Thanks @normj ,

Here's the `project.json` for `Bleep`:
[code]

[2017-08-23 00:55] normj commented on #150
Yeap, that is a case we didn't take into account of having both dotnet.exe and dotnet in the path at the same time.

[2017-08-23 01:03] normj commented on #151
Ah, the error message
`
Error: Project is referencing NETStandard.Library version 2.0.0. Max version supported by netcoreapp1.0 is 1.6.0.
`
is caused but your project referencing 2.0.0 of Microsoft.NETCore.App which stands for .NET Core 2.0. That should be 1.0.0.

The other error:
`
Check the following dependencies for versions compatible with netcoreapp1.0
`
Is most likely caused by Newtonsoft.Js

[2017-08-23 01:07] flameoftheforest commented on #151
`You said it works when you deploy from Visual Studio? Do the functions actually run correctly or did they just deploy successfully?`

@normj : Yes, we have tested the api-endpoints to these functions and they are working.

[2017-08-23 01:08] flameoftheforest commented on #151
@normj , this is the part that puzzles me. Why should we haves these function deployed, and working using the AWS Tool GUI when I can even get it pakaged using `dotnet lambda`?

[2017-08-23 01:50] simonbuchan commented on #150
The parameterless 1.7.0 null path error repros in CMD, so I'll open it as a separate issue.

[2017-08-23 01:54] simonbuchan opened #152 "Parameterless `dotnet lambda package` fails with null path."
Discovered while testing #150, but this reproduces on windows-only as well, and is new in 1.7.0:

[code]

[2017-08-23 14:07] PaulKGray commented on #98
I am also hitting this issue, Any idea on when a fix might become available?

[2017-08-23 17:21] normj commented on #152
I think what is going on is your project doesn't have the `aws-lambda-tools-defaults.json` where the tooling looks for the build configuration and target framework. Alternatively you could set the configuration and framework with the command line switches `--configuration` and `--framework`.

I'm updating the tool to report a proper error message when missing the required parameters.

[2017-08-23 17:44] normj commented on #151
I assuming the deployment in Visual Studio is working because your toolkit version is a bit out of date. We added this check into the tooling a couple months back. The problem is when you include dependencies that their NuGet spec file says depend on .NET Core 1.1 dependencies you get unpredictable results. Usually it fails but sometimes in your case it will work because the NuGet package doesn't

[2017-08-23 20:53] normj commented on #152
I pushed out version 1.7.1 which will give better error messages.

[2017-08-23 20:58] normj commented on #150
I pushed out version 1.7.1 which incorporate some of the logic from DotNetMuxer to improve searching for the dotnet CLI.

[2017-08-23 21:15] normj commented on #151
I pushed out version 1.7.1 which has a new `--disable-version-check` that you can use to turn off the version check.

`dotnet package deploy-function --disable-version-check true`

Use this at your own risk. You will not in your publish folder there will be a lot of System dlls that get put in by the `dotnet publish` command because of libraries declaring dependencies to .NET Core 1.1.

[2017-08-23 22:27] flameoftheforest commented on #151
Thanks for the hard work, @normj !

[2017-08-23 23:01] simonbuchan commented on #152
Is this a behavior change that defaults are required? 1.6.0 interactively prompted if flags were not provided.

[2017-08-23 23:07] normj commented on #152
The package and package-ci commands never prompted because the assumption was they would be used in a build pipeline and I didn't want anybodys pipeline to freeze waiting for input from a user.

Although in `1.7.0` I added `--disable-interactive` to all the commands so maybe I should revert the package commands to be like the other commands to be consistent.

[2017-08-23 23:09] simonbuchan commented on #152
1.6.0 prompted:

[code]

[2017-08-23 23:12] simonbuchan commented on #152
Not sure why it's failing like that, I was thinking probably a missed entry in `PATH`, but the same works fine in 1.7.1.

[2017-08-23 23:13] simonbuchan commented on #150
Works great, thanks!

[2017-08-23 23:13] #150 closed

[2017-08-23 23:50] normj commented on #152
Sorry I'm a bit confused with the last response. Is the issue fixed and we can close the issue or are you still having problems?

[2017-08-24 00:03] simonbuchan commented on #152
Yes, I no longer get an exception stack trace in 1.7.1: I instead get `Missing required parameter: --configuration`: it's just that this is *not* the behavior of 1.6.0: that prompted for the configuration and framework. I was just checking that was an intentional change.

[2017-08-24 00:09] normj commented on #152
That was my intention in `1.6.0` and before to not prompt because the package command was meant to be used in a CI system. That fact that it was prompting was a bug that was unintentional fixed in `1.7.0`.

[2017-08-24 00:11] simonbuchan commented on #152
Cool, this is fine then.

The "failing like that" was referring to how 1.6.0 with an overridden `PATH` invoked the correct `dotnet`, but then `dotnet publish` failed. I've experimented a bit more, and it looks like `PATH=/usr/bin dotnet publish -c Release -f netcoreapp1.0` fails while both `PATH=/usr/bin dotnet publish` and `dotnet publish -c Release -f netcoreapp1.0` work, so that's confusing, bu

[2017-08-24 00:11] #152 closed

[2017-08-24 00:15] normj commented on #151
Closing as I believe this is resolved. I'm not planning on exposing the switch in the Visual Studio GUI but if you need it from VS you could add the switch in the aws-lambda-tools-defaults.json file.

[2017-08-24 00:15] #151 closed

[2017-08-24 00:15] #148 closed

[2017-08-24 00:17] normj commented on #146
Closing for lack of activity. Hopefully my previous answer gave enough context of my thoughts on the ASP.NET Core framework on Lambda.

[2017-08-24 00:17] #146 closed

[2017-08-24 00:21] normj commented on #98
If somebody could send me a sample request that would speed up my time to getting this implemented. To send a sample request add the environment variable `LAMBDA_NET_SERIALIZER_DEBUG` with a value of `true`. Then after executing the request where the claims are stripped go to your CloudWatch logs and grab the JSON request string.

[2017-08-24 00:23] normj commented on #120
Closing is this is a duplicate of https://github.com/aws/aws-lambda-dotnet/issues/98

[2017-08-24 00:23] #120 closed

[2017-08-24 00:30] normj commented on #147
Closing as duplicate of https://github.com/aws/aws-lambda-dotnet/issues/16

I understand this would be really useful, I just don't have a way yet to keep all the different possible event types coming from CloudWatch events updated all the time.

[2017-08-24 00:30] #147 closed

[2017-08-24 00:31] normj commented on #137
Marking this as an enhancement to remind us to take a look at this for the next .NET Core runtime where we could potential make this change.

[2017-08-24 00:34] normj commented on #34
Closing since this is already implemented by `Alexa.NET` and there is no reason to create another library.

[2017-08-24 00:34] #34 closed

[2017-08-24 04:29] dailenspencer commented on #146
@normj Apologies for reaching out on a closed issue that may not be relevant. I have a project i'm working on and would love the assistance of someone a bit more experienced.

The C#/Unity AWS SDK is not completely flushed out or I have not been able to locate the appropriate documentation. I have developed a serverless application using React and Node. I used AWS Cognito User Pool authentication

[2017-08-24 05:29] normj commented on #149
@gotmike It has been said that Lambda only supports LTS versions of their supported runtimes not that all LTS versions will be supported.

.NET Core 1.1 has some low build infrastructure changes that makes it not a simple engineering effort and at this point we want to focus our engineering effort on the new versions of .NET Core which I'm sure most of you would prefer.

I'm going to close this is

[2017-08-24 05:32] normj commented on #39
Version `1.7.1` has some improvements to how it searches for the dotnet CLI. Can users running into this problem with the latest version to see if that address the issue?

[2017-08-24 05:33] normj commented on #43
Is this issue still happening? I know there has been some changes on the service side and I'm wondering if that has addressed the issue?

[2017-08-24 06:59] #135 closed

[2017-08-24 07:00] normj commented on #136
Closing for lack of activity

[2017-08-24 07:00] #136 closed

[2017-08-24 07:03] normj commented on #125
@ChristianAvila Was there an inner exception? I'm wondering if we can figure out what the error was with the reflection InvokeMethod.

[2017-08-24 07:50] PaulKGray commented on #98
Hi I added this but it didnt give me much info,

you can get the raw request by taking the input as a Stream

[code]

The full request is quite big but the data that is missing looks like this.

[code]
It is possible to deserialize the object to the classes below using JsonConvert as a work around

`var claimsFix = JsonConvert.DeserializeObject<ClaimsFix>(request);`

[code]

[2017-08-27 02:01] ytn3rd opened #153 "Issue executing Magick.NET from lambda"
I've been trying to do some ImageMagick work using dotnet in lambda. I was previously doing it with node.js which would execute a pre-compiled php binary and we'd do the work in php. But that seems pretty excessive.

I had initially thought the issue was with the Magick.NET library itself, but I posted over in their [github issues section](https://github.com/dlemstra/Magick.NET/issues/94) (includi

[2017-08-28 12:28] uxsoft opened #154 "ASP.NET Core 2 Support"
With ASP.NET Core 2 there is a new way to create a webhost

Instead of:
protected override void Init(IWebHostBuilder builder)
...

We now have:
public static IWebHost BuildWebHost(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                .UseStartup<Startup>()
                .Build();

[2017-08-29 11:58] xingzhougmu commented on #85
@normj , I deployed my web app to AWS Elastic Beanstalk successfully but the app url gives an error:
`2017-08-29T11:24:16.000Z Error 0:(0) IIS AspNetCore Module - Application 'MACHINE/WEBROOT/APPHOST/DEFAULT WEB SITE' with physical root 'C:\inetpub\AspNetCoreWebApps\DysonChatBot\' failed to start process with commandline 'dotnet .\DysonChatbot.dll', ErrorCode = '**0x80004005** : 8000808c.`

Any id

[2017-08-29 19:15] josiahpeters commented on #149
@normj Can you suggest the best way to follow updates for aws-lambda-dotnet? Should I try following one of the AWS Blogs like: https://aws.amazon.com/blogs/aws/category/aws-lambda/ or https://aws.amazon.com/blogs/developer/category/net/

I'm very interested in future announcements for .NET Core 2.0 support for lambdas and other similar developments. If there isn't an official information channel t

[2017-08-30 20:13] InsidiousForce commented on #36
@normj Also, it looks like Microsoft about 15 days ago added LTS* to 1.1 on this page: https://www.microsoft.com/net/core/support so maybe AWS will support this in Lambda

[2017-08-31 03:27] normj commented on #149
For AWS .NET related news I would suggest our .NET Blog https://aws.amazon.com/blogs/developer/category/net/ and our twitter handle https://twitter.com/awsfornet. That is where I post .NET news.

[2017-08-31 09:26] peterdeme commented on #149
Is there any particular reason why only LTS versions are supported? I mean if we have a .NET Core 2 app in our solution and we want another app as a Lambda, and they both have our DataAccessLayer referenced, we need to have the DataAccessLayer .NETStandard 1.6 so the Lambda project can reference it.
![image](https://user-images.githubusercontent.com/19969687/29916444-16011b58-8e3f-11e7-8d45-1528c9

[2017-08-31 10:41] gotmike commented on #149
@peterdeme -- yes, we are also needing the EF features in (at least) v1.1

seems to me that there must be something going on that's causing problems b/c it's been a really long time now and the "LTS" thing doesn't really seem to be true. before, the guidance was to check for "LTS Support" on the MS page, but apparently that's not the case anymore.

@normj -- where can we track the LTS part for the

[2017-08-31 13:49] wilsonat commented on #149
I wish there was a way to get a little more transparency with the .NET Core support plans/timeline. I get that there's a lot of behind-the-scenes work that goes into hosting a new version of the runtime, but, it would at least be nice to have some sort of target---even if it's just 2017 Q4.

My team is starting to move pretty hard into the serverless space, and the fact that we don't have any info

[2017-08-31 19:03] normj commented on #149
I understand your frustration and believe me we are pushing as hard as we can for the next iteration of .NET Core Lambda. I apologize I can't talk in much detail but I'll try and shed as much light as I can.

Lambda runtimes are more complicated than a Beanstalk environment. For a runtime we have to construct a hosting environment for the code. Where as Beanstalk we basically run the latest instal

[2017-08-31 22:23] normj commented on #154
When Lambda supports .NET Core 2.0 we'll take a look at updating the `Amazon.Lambda.AspNetCoreServer` for the changes to ASP.NET Core 2.0.

[2017-08-31 22:30] normj commented on #153
I haven't tried using ImageMagick before. Any chance you could put together a small GitHub repo with the code reproduce the problem?

[2017-08-31 23:41] mrbennett opened #155 "Running deploy-function using a profile that assumes a role using MFA doesn't work"
Hi there,

The way we control access involves assuming roles from a base identity account into other ones with MFA. Given a brand new empty function created using `dotnet new lamdba.EmptyFunction` and a profile looks something like:

[code]

When I run:

[code]

I get an error saying:

[code]

Is this supported / supposed to work?

[2017-08-31 23:53] normj commented on #155
We do need to include AWSSDK.SecurityToken in our list of dependencies for the lambda tooling which will fix the missing dependency issue. I marked it as enhancement though because we don't have support in the Lambda tooling to prompt for the MFA token which looks like will be blocker if I fix the issue about the missing dependency.

[2017-09-01 00:09] ytn3rd commented on #153
I have attached the sample code from the other post. Its enough to see that it dies. You will need to uncomment the `var magickImage = new ...` line and the one below it.

Apparently GitHub is having issues with me uploading the source directly into a repo this morning.

[LambdaImageMagickTest.publish.zip](https://github.com/aws/aws-lambda-dotnet/files/1268808/LambdaImageMagickTest.publish.zip)
[L

[2017-09-01 13:06] tiagoskaneta opened #156 "Deploying behind a corporate proxy"
Hi all,

I'm having some issues while trying to deploy to lambda from behind a corporate proxy.

`dotnet lambda deploy-serverless foobar --region us-west-2 -sb foobar`
`Error determining region for bucket foobar: Error determining region for bucket foobar: Error making request with ErrorCode ProxyAuthenticationRequired and Http Status Code ProxyAuthenticationRequired. No further error information

[2017-09-01 21:31] normj commented on #156
The Lambda tooling does not currently support configuring a proxy.

[2017-09-01 21:32] #43 closed

[2017-09-01 22:15] bslatner opened #157 "Error on deploy when referencing a .NET Standard library"
I recently discovered that if I add a reference to a project targeting .NET Standard 1.4 to my serverless project, I get the following error on `dotnet lambda deploy-serverless`:

[code]
To reproduce. From Visual Studio 2017 (latest updates installed):

* File -> New Project
* Select AWS Serverless Application (.NET Core)
* Pick anything for the blueprint. I chose the blog API
* From project direc

[2017-09-01 22:22] bslatner commented on #157
Incidentally, this appears to happen regardless of which version of .NET Standard you target in the class library.

[2017-09-01 22:43] normj commented on #157
In your csproj file for the class library can add the following as a sibling to the TargetFramework to force the implicit reference of NETStandard.Library to be 1.6.0.

[code]

[2017-09-02 00:58] normj commented on #85
Is it possible to remote into the EC2 instance and check the event viewer? That will probably give details about why the dotnet process is dying.

[2017-09-03 07:27] xingzhougmu commented on #85
@normj thanks for the suggestion. I have figured out that the issue is caused by the incomplete package when zip up.

[2017-09-04 01:56] mrdavenz commented on #85
@xingzhougmu I have the same issue, care to elaborate further so others can fix the problem also?

[2017-09-04 12:39] tiagoskaneta commented on #156
Thanks. I'm using this for now:
`dotnet lambda package
aws cloudformation package
aws cloudformation deploy`

[2017-09-05 02:31] xingzhougmu commented on #85
@mrdavenz my issue is with the package I zipped. I run "zip output.zip *" which will not include files from sub-folder. After I use "zip -r output.zip *" my issue is gone.

[2017-09-06 02:17] cbp123 opened #158 "APIGatewayProxyRequest.QueryStringParameters is always null"
I have created a test Lambda function that looks like this:

`        public APIGatewayProxyResponse Test(APIGatewayProxyRequest request, ILambdaContext context)
        {
            return new APIGatewayProxyResponse
            {
                Body = "Body: " + request.Body
                       + Environment.NewLine
                       + "Querystring: " + (request.QueryStringParameters =

[2017-09-06 04:18] #158 closed

[2017-09-06 04:19] normj commented on #157
Closing as I believe my last comment should unblock you. If not feel free to reopen.

[2017-09-06 04:19] #157 closed

[2017-09-06 04:20] cbp123 commented on #158
Ah I realise the APIGatewayProxyRequest is supposed to correspond to a certain JSON mapping template setup in API Gateway.

[2017-09-06 09:17] damianh commented on #149
Not sure where to say this but... if you are going to encourage full-.net-apps-web-apps-in-a-lambda (which is indeed very useful) then the lambda function deployment package size limit of 50MB will need to be raised. Azure has [no such limits](http://bartwullems.blogspot.nl/2017/01/azure-functions-limitations.html).

[2017-09-06 21:14] ccp-ccollins commented on #99
"Would you be happy without the toolkit support as long as you could use Yaml using the .NET CLI integration?"

+1 for this.  That is exactly what I want.  The inability to put comments in JSON is a major pain point for me, and I'd rather use YAML with no intellisense than JSON with it.  if `dotnet lambda deploy-serverless` could understand a serverless.template in yaml syntax, I'd be a happy camp

[2017-09-06 23:11] jakejscott commented on #99
Shameless plug for my C# based Cloudformation library (which supports .net 45 and dotnet core).

I parse the Cloudformation JSON schema, and use Roslyn to generate the C# API for all the AWS resources.

https://github.com/jakejscott/Humidifier

I plan to move all our serverless deployments which currently are done using a mixture of powershell `dotnet lambda package` and Cloudformation hand coded

[2017-09-06 23:28] normj commented on #99
Looks cool @jakejscott

@ccp-ccollins Thanks for the +1, I agree it would be great to get that work done. I'm just looking to find some time to do it.

[2017-09-07 06:15] ibobkovitransition opened #159 "Specify return code&message for custom authorizer."
It would be nice to have ability to specify custom return code & message in scope of custom authorizer.

[2017-09-07 06:16] ibobkovitransition opened #160 "Stage variables for custom authorizer."
It would be nice to add opportunity to fetch stage variables in scope of custom authorizer.

[2017-09-07 14:50] bslatner commented on #157
That did the trick. Thanks.

[2017-09-11 06:07] ytn3rd commented on #153
@normj , unsure what was up with github the other day, but I have pushed another sample to a test git repo.

[https://github.com/ytn3rd/lamba-dotnet-magick.net](https://github.com/ytn3rd/lamba-dotnet-magick.net)

App should work out of the box, but if you uncomment [these two](https://github.com/ytn3rd/lamba-dotnet-magick.net/blob/master/LambdaImageMagickTest/Program.cs#L50-L51) lines it will fail

[2017-09-11 06:35] NeetaA opened #161 "Request sent from Lex to Lambda not deserialized"
Where to add variable LAMBDA_NET_SERIALIZER_DEBUG with a value of true to your Lambda function?
Can you please tell me the File or syntax for it to add in which file exact?

[2017-09-11 07:07] normj commented on #161
In the Lambda function view in either the Visual Studio toolkit or the web console you can set environment variables for the function. That is where you add the LAMBDA_NET_SERIALIZER_DEBUG environment variable.

[2017-09-11 07:41] NeetaA commented on #161
Can you please share the reference link or Specify Code snippet to add in which file?

Regards,
Neeta Avasare
Software Engineer - Harbinger Systems Pvt. Ltd.
Office: +91.20.2528.4201 / 2 / 3 (Ext no. 165)
Cell: +91 7517893824
________________________________
From: Norm Johanson <notifications@github.com>
Sent: Monday, September 11, 2017 12:37:03 PM
To: aws/aws-lambda-dotnet
Cc: Neeta Avasare; Auth

[2017-09-11 08:33] NeetaA commented on #161
Can you please share the reference link or Specify Code snippet to add in which file?

[2017-09-11 09:23] deadsetgav opened #162 "S3 EventType constant seems to have different underlying values"
Hi,

I don't know if this is a bug or I am just using the EventType constants wrong.

I am trying to write a lambda function to read the contents of new files dropped into an S3 bucket.
I only want to action new files sent to the S3 bucket - when I try to check the EventType on the S3 event record - I get problems:

[code]

I'm on the latest versions of both the Amazon.Lambda.S3Events and Amazon.S

[2017-09-12 00:06] ytn3rd commented on #154
@normj out of curiosity, now that [beanstalk supports .NET Core 2.0](https://aws.amazon.com/blogs/developer/aws-elastic-beanstalk-updated-with-net-core-2-0/) will that be coming to Lambda anytime soon, or not so because we need .NET Core 2.0 to be lts?

[2017-09-12 07:28] NeetaA opened #163 "How to create voice enabled lex bot using c#"
I want to create voice and text enabled lex bot using c#

Hoping you could help me with this issue.

[2017-09-12 12:50] jyothi530 opened #164 "dotnet lambda package failing in VS2017 v15.3"
In VS 2017 v15.3 Package downgrade warnings (error code:NU1605) are treated as errors which will fail the build. But we can configure the setting in Project Build properties to not treat them as errors. I have changed the setting to treat NU1605 as warnings. Now my "dotnet publish" command is working without any errors. But when I try to run "dotnet lambda package" it is failing by considering pac

[2017-09-12 12:59] jyothi530 commented on #164
Not an issue. "dotnet lambda package" publishes in "release" configuration mode. I have changed the setting only for "Debug" mode. I applied the setting for "release" mode as well. Now "dotnet lambda package" is working without any issues.

[2017-09-12 12:59] #164 closed

[2017-09-14 05:09] normj commented on #163
Are you having specific problems? Have you tried the Lex blueprint provided in Visual Studio?

[2017-09-14 05:38] NeetaA commented on #163
text enabled lex bot is working fine using c# now I want to develop voice enabled lex chatbot.

How to add Lex blueprint in Visual Studio?

[2017-09-14 05:50] normj commented on #162
Unfortunately this is be being caused by a discrepancy between how the event type is being sent for the PutBucketNotification operation, which was when the constant was added, and how the event type name is being sent as part of the Lambda event.

I'm trying figure out how I can fix this in a non breaking way.

[2017-09-14 06:34] normj commented on #163
In VIsual Studio create a new project and select AWS Lambda -> AWS Lambda Project or AWS Lambda Project with Tests and then push ok. That will display the following dialog box where you can choose the Lex blueprint. The readme file has more documentation on what to do next.

![lexblueprint](https://user-images.githubusercontent.com/1653751/30415247-1a744e42-98dc-11e7-9ec1-7c63e9bb8f37.png)

[2017-09-14 20:13] normj commented on #39
Closing for lack of activity

[2017-09-14 20:13] #39 closed

[2017-09-15 06:47] NeetaA opened #165 "How to create we version of voice enabled AWS bot using c#"
I want to create web version of audio chat bot using AWS polly in Dot net/C# .

Could you please help me?

[2017-09-15 11:43] NeetaA opened #166 "How to integrate Lex with Polly using C#"
I want to create Lex with Polly integration for web version using C#.

Hoping you could help me with this .

[2017-09-15 23:30] normj commented on #99
Version 1.8.0 of the cli package Amazon.Lambda.Tools was just released which supports YAML based Cloudformation templates.

A Visual Studio release will happen soon with the update as well. The VS update will just be for adding the ability to deploy with a YAML template not updates to the editor for intellisense.

[2017-09-18 08:48] jakejscott commented on #99
@normj Cool thanks for the update, nice work!

[2017-09-21 22:06] drobison opened #167 "How do you deploy to a specific stage in API Gateway"
I am developing an API Gateway and Lambda function with AWS Lambda Templates with .NET Web API. When publishing to AWS, the API is deployed to the production stage. How can I configure which environment to deploy to?

[2017-09-23 19:38] arpit-nagar commented on #154
Any updates by when we can have support of .Net Core 2.0 ?

[2017-09-25 16:57] dzfweb commented on #76
@normj  is there a way to capture what happens when the process dies?

[2017-09-26 02:35] ytn3rd commented on #154
@arpit-nagar, .NET Core 2.0 is not LTS (Long Term Support) so as far as they have said elsewhere it won't suddenly get added.

As to my previous comment wiht beanstalk getting .NET Core 2.0 so can we have it now, normj has a response over [here](https://github.com/aws/aws-lambda-dotnet/issues/149#issuecomment-326391410) regarding that.

I feel this should now be closed.

[2017-09-28 14:22] dsartain18 opened #168 "Null Reference Exception coming from APIGatewayProxyFunction"
I've beaten this one to death as best I can before posting here because I've got to be missing something, but at this point I just can't figure it out.

I've published to AWS Lambda from Visual Studio 2017 using the serverless template and S3 stack as well as just publishing straight there. I've also tried just uploading a zip file. Every time I test from the API Gateway or the tools in Visual Stu

[2017-09-28 16:53] normj commented on #168
To help debug this can you add the environment variable **LAMBDA_NET_SERIALIZER_DEBUG** with a value of **true** to the Lambda function.

This will cause the raw JSON coming into the Lambda function be written into CloudWatch logs for the Lambda function. Once you post the RAW JSON I'll try and debug what is going on.

![image](https://user-images.githubusercontent.com/1653751/30979404-68114928-a4

[2017-09-28 18:14] dsartain18 commented on #168
@normj The entire response of that piece of the log is:

[code]
![cw](https://user-images.githubusercontent.com/15874631/30983061-ec6b1138-a44e-11e7-8abc-0c482411fdaa.PNG)

[2017-09-28 18:20] dsartain18 commented on #168
Adding screen shots of test setup in case that helps.

![config](https://user-images.githubusercontent.com/15874631/30983283-9bda6682-a44f-11e7-8fc9-d429ff1fb531.PNG)

![es](https://user-images.githubusercontent.com/15874631/30983284-9bde8d7a-a44f-11e7-8068-f7d6db7d0f6f.PNG)

![test](https://user-images.githubusercontent.com/15874631/30983331-bd93ab26-a44f-11e7-81c8-907365633496.PNG)

[2017-09-28 18:37] dsartain18 commented on #168
@normj I tried it again after looking at the Fiddler request from the API Gateway

Request:
`{"pathWithQueryString":"/api/users","headers":{},"stageVariables":{},"withAuthorization":false}`

Log:
[code]

In the API Gateway, I do have the Authorization in the Method Request set to AWS_IAM.

I hope that helps.

[2017-09-28 20:12] normj commented on #168
Amazon.Lambda.AspNetCoreServer Assumes the request coming in from API Gateway is a proxy request, http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-set-up-simple-proxy.html, which is what the default serverless.template will configure. The request you are sending seem to short to be a proxy request because it is missing key parts like the HTTP Method and resource path. When t

[2017-09-28 20:28] dsartain18 commented on #168
I got the template and I think I made the necessary modifications, but now I get a 404 error from the VS tester, and a 500 from the API Gateway using the Proxy function.

[code]

My controller attribute routing is:
[code]

Did I configure the path and http method incorrectly?

[2017-10-03 16:21] DerrickF opened #169 "Support for .net Core 1.1 ?"
Now that .net core 1.1 is officially LTS, any word on when lambda will be updated to support 1.1? Theres a bunch of nuget packages that are restricted to 1.1+ that we want to use in our serverless project but cant right now :(

[2017-10-04 19:26] Kralizek commented on #169
I second that. The 1.0 restriction is making our life harder day-by-day.
I hope to hear about .NET Core 2.0 on Lambda at re:Invent 2017 tho :D

[2017-10-04 21:40] normj commented on #169
Closing this as duplicate, you can checkout my previous comments on this here. Short answer is we are focus are engineering effort on the newer versions of .NET Core and not planning support for .NET Core 1.1. I don't have timing information I can share but trust me I know how important this is.

https://github.com/aws/aws-lambda-dotnet/issues/149#issuecomment-326391410

[2017-10-04 21:40] #169 closed

[2017-10-10 19:01] jakejscott opened #170 "Unable to build solution (Failed to retrieve information about 'AWSSDK.DynamoDBv2')"
[code]

[2017-10-10 19:52] michaelthwaite commented on #149
Any update on this? My development environment is constantly rolling forwards into 2.0 land - I have to keep manually backing it out and, unfortunately, that means some components can no longer be supported on Lambda without major package surgery!

An update would be welcome.

[2017-10-10 22:07] megamindbrian opened #171 "Can't install AWSToolkitPackage.vsix"
The best beginning is to never begin!

[code]

![aws_installer](https://user-images.githubusercontent.com/25057134/31413110-a7982bc2-adcc-11e7-8ba4-b6b9b47747bd.png)

[2017-10-10 22:09] megamindbrian opened #172 "No validation in Visual Studio extensions"
Finally got AWS extensions installed using the visual studio store, since their download doesn't work.

First, there is zero validation for settings.  When you first enter your secret key and access id, it doesn't check if they are correctly configured.

There is zero feedback when setting up a lambda function.
I just clicked on the Role Name drop down, it never opens and can't use Next to progres

[2017-10-10 22:12] megamindbrian opened #173 "AWS Lambda requires extra dependencies?"
I thought Kestrel already does this, why not just implement that interface for booting?

https://aws.amazon.com/blogs/developer/deploy-an-existing-asp-net-core-web-api-to-aws-lambda/

Not to draw attention away from these other blocking issues:
https://github.com/aws/aws-lambda-dotnet/issues/172
https://github.com/aws/aws-lambda-dotnet/issues/171

[2017-10-11 19:50] normj commented on #173
Kestrel is not an interface, it is an implementation of the Microsoft.AspNetCore.Hosting interfaces. Since Kestrel is a webserver constantly listening for requests that doesn’t make sense in a Lambda/APIGateway context. So the little bit of code that you need to put in your project is to replace the default implementation of Microsoft.AspNetCore.Hosting to our implementation. All other code in the

[2017-10-11 19:56] normj commented on #171
We need the whole log that you would get if you clicked the "View Install Log". We have contact Microsoft about the issue with Visual Studio extension installer but until we get a full log we can't give them enough information for them to help us.

Also do you know if this is latest patch version of Visual Studio 2017? For example my version is 15.3.5, when we discussed this issue with MS engineer

[2017-10-11 20:01] megamindbrian commented on #171
Yeah sure, wouldn't be surprised if they changed something.

[VSIXInstaller_89309f8d-69cc-4d23-ad8b-fb36c6829ecb.log](https://github.com/aws/aws-lambda-dotnet/files/1377006/VSIXInstaller_89309f8d-69cc-4d23-ad8b-fb36c6829ecb.log)

VS version 15.4.0
![image](https://user-images.githubusercontent.com/25057134/31463822-401535a4-ae84-11e7-9dbc-d190e85ec1f2.png)

[2017-10-11 20:01] normj commented on #172
How did you workaround your install issues you reported in https://github.com/aws/aws-lambda-dotnet/issues/171?

Are you using credentials for an IAM user with restricted access? That might be the reason the Role Name isn't showing any data. I'll take that action item to improve the screen for users to know when there was an issue retrieving roles.

[2017-10-11 20:14] megamindbrian commented on #172
Installed the AWS extension from within Visual Studio, if it's a problem with the installer this page's instruction's could be updated:

https://aws.amazon.com/visualstudio/

![image](https://user-images.githubusercontent.com/25057134/31464119-4d289de8-ae85-11e7-8a44-4967799ab871.png)

Followed these instructions for setting up AWS extension:
http://docs.aws.amazon.com/toolkit-for-visual-studio/la

[2017-10-11 20:21] normj commented on #172
Were those your real AWS credentials you posted in the screenshot? I removed the image just in case but please rotate those credentials as soon as possible so your account does not get compromised.

[2017-10-11 20:22] megamindbrian commented on #172
No, already closed the account.

On Wed, Oct 11, 2017 at 1:21 PM, Norm Johanson <notifications@github.com>
wrote:

--
CONFIDENTIALITY NOTICE: The contents of this email message and any
attachments are intended solely for the addressee(s) and may contain
confidential and/or privileged information and may be legally protected
from disclosure. It is then shared with tech companies, bots, hackers,
gov

[2017-10-11 20:23] normj commented on #172
Great, I just got worried when I saw credentials and wanted to take that down as soon as possible just in case.

[2017-10-11 20:43] normj commented on #171
Got a response back from Microsoft and looks like this is a known issue that has a been fixed but hasn't been released yet. He passed along a couple work arounds through.

“vsixinstaller.exe /instanceids:<instanceid> <path to vsix>”. To find the instance id they can go to %programdata%/Microsoft/VisualStudio/Packages/_Instances, and there they will find folders whose names correspond to the instan

[2017-10-11 21:02] megamindbrian commented on #171
Wow.  Impressive.  I wish I had a direct line to Microsoft!  ;)  Thank you
for looking into this.  There's some gold here I've never even considered.

On Wed, Oct 11, 2017 at 1:43 PM, Norm Johanson <notifications@github.com>
wrote:

--
CONFIDENTIALITY NOTICE: The contents of this email message and any
attachments are intended solely for the addressee(s) and may contain
confidential and/or privileg

[2017-10-11 21:12] normj commented on #171
I wouldn't say a direct line :) The Visual Studio 2017 has a lot changes for extensions which was great because those changes are what allowed us to publish AWS Toolkit through the VS Marketplace finally. I give full props to the VS extension team to help smooth out those changes.

[2017-10-11 21:15] Kralizek opened #174 "Terribly slow cold start when in VPC"
Hi,

we are experiencing extremely slow cold starts when our Lambda is placed in a VPC.
The lambda hosts an ASP.NET Core web site via the serverless application template.

I'm not sure if this is only related to the .NET Core 1.0 runtime or a general problem.

[2017-10-11 21:27] normj commented on #174
The VPC performance hit is across all Lambda runtimes because there is overhead setting up the Elastic Network Interface. I know the Lambda team is aware of this but that issue is beyond the scope of what we support from this repository.

[2017-10-11 21:34] megamindbrian commented on #171
@normj Thank you!  Can you ask them to look at this one too?  lol ;) https://twitter.com/VisualStudio/status/917900154426060800

[2017-10-12 15:23] rbbullard42 commented on #149
I'm really excited to see what you guys have once this is released. Big changes and improvements from .NET Core 1.0 to .NET core 2.0.  Good luck and I appreciate the extra hard work and diligence you guys are putting into this project.

[2017-10-12 15:34] Kralizek commented on #174
Ok, sorry. I didn't know it was a common problem.

[2017-10-12 15:34] #174 closed

[2017-10-13 04:47] #173 closed

[2017-10-13 16:37] coreycoto commented on #39
@normj Upgrading to Lambda Tools `1.7.1` fixed the issue! I can now publish my Lambda function from the dotnet CLI.

[2017-10-13 17:25] normj commented on #39
@coreycoto Thanks for letting me know

[2017-10-15 06:21] vozille commented on #39
Yep, the publishing errors are gone on upgrading. Thanks.

[2017-10-16 17:56] normj commented on #170
The build script `buildtools\build.proj` creates that folder which is where this solution's NuGet packages will be written. We do that so in our build script we can test the blueprints against the latest built bits in the build script. The `Deployment` folder is never checked it it is just where the build artifacts are placed.

I think what I need to do is have the NuGet.config file in the root re

[2017-10-16 17:58] normj commented on #165
Closing as this is a duplicate of https://github.com/aws/aws-lambda-dotnet/issues/166

[2017-10-16 17:58] #165 closed

[2017-10-17 09:32] FrederikNygaardSvendsen commented on #154
I really need to know if support for .net core 2.0 is in development, and if not, if support is even planned... This is a huge deal

[2017-10-17 09:43] ytn3rd commented on #154
@FrederikNygaardSvendsen , aws-lambda only supports LTS versions of dotnetcore, so you need to go ask the [dotnetcore](https://github.com/dotnet/core) people when 2.0 is going to become LTS, nothing is happening here until then.

[2017-10-17 14:52] FrederikNygaardSvendsen commented on #124
@IgorFedchenko Did you manage to solve your swagger problem? I'm having the exact same issue :-)

[2017-10-17 15:12] jsousa411 commented on #124
I did manage to fix my problem.  Let me know if you're having issues.
 I'll b willing to do a team viewer session to hep out.

On Oct 17, 2017 7:58 AM, "Frederik Nygaard Svendsen" <
notifications@github.com> wrote:

[2017-10-17 15:46] FrederikNygaardSvendsen commented on #124
@jsousa411 Thank you so much for the offer, but just managed to get it working. Cheers

[2017-10-17 17:54] normj commented on #154
@FrederikNygaardSvendsen I can't give any timing or details but I will say we know the a new .NET Core Lambda runtime is critical to the community and we are working hard on the next version.

[2017-10-17 18:43] FrederikNygaardSvendsen commented on #154
@normj Thanks for letting me know

[2017-10-17 21:03] Kralizek commented on #154
@normj maybe you should add this news in the ReadMe considering how many requests you are getting :P

[2017-10-18 08:02] matt-hammond commented on #149
It would be really useful to understand when this is likely to land, even at a high level, to help plan our work. No need for a firm commitment, an indication of the earliest we might expect it in terms of weeks/months/quarters would be very helpful.

Many thanks.

[2017-10-18 10:04] Thaina commented on #149
@normj I think we could do things like it had been done for nodejs. There was a time that nodejs4 and nodejs6 need to be selected separately. Actually I think you should support every language in this scheme, has 2-3 versions that stable to choose from and deprecate the old one one by one

[2017-10-18 13:39] damianh commented on #149
I suspect the radio silence will last until re:invent at end of Nov for marketing reasons. Quite annoying that we'll have to wait another month to find out what the plans are.

[2017-10-19 00:13] ytn3rd commented on #153
@normj any chance you'd have time to check this as to why it is broken but works if I drag in my own dotnet runtimes into lambda and execute it via that?

[2017-10-19 03:33] #153 closed

[2017-10-20 16:34] kientran opened #175 "dotnet new generated tools default json config uses incorrect function-handler when folder uses dashes"
Amazon.Lambda.Tools Version 1.8.0

When using the command ```dotnet new lambda.EmptyFunction``` within a  folder that contains a dash, the tool will generate the ```aws-lambda-tools.defaults.json``` file with a function-handler that substituted the dash to an underscore for the package name.

Example:

[code]

The result is

[code]

While this is accurate for the namespace, by default the project

[2017-10-23 04:46] normj commented on #175
This is a duplicate of https://github.com/aws/aws-lambda-dotnet/issues/87. The short answer is there an issue with the dotnet templating engine that has a fix in the newer version of the dotnet CLI but it breaks existing templates. My plan was to make the shift to to the new templating syntax when the fix with the dotnet CLI becomes ubiquitous which is probably pretty soon.

[2017-10-26 19:49] malcernie opened #176 "Operation is not supported on this platform when performing GetObject against S3."
Scenario:
-	I have a C# (dotnet core 1.0) Lambda function trying to perform a GetObject against an S3 bucket using the AWSSDK’s.
-	On a windows platform (i.e. my laptop), it works perfectly well
-	On the Lambda platform (presumably Linux), it errors.
-	AWSSDK.Core version 3.3.18.2 (latest)
-	AWSSDK.S3 version 3.3.11.4 (latest)
-	Microsoft.NETCore.App 1.0.5 (appears to be enforced by AWS libraries,

[2017-10-27 00:40] sudsy opened #177 "X-Ray tracing for lambda proxy missing basic details such as Url and Method"
The only property that is logged when you enable tracing an a lambda proxy using the Amazon.Lambda.AspNetCoreServer package is the StatusCode.

I can see that the AWSXRayRecorder package is not compatible with netcore so I can't add custom tracing.

Since the Amazon.Lambda.AspNetCoreServer middleware is already installed it would be great if it handled the basic properties you would expect when tr

[2017-10-27 17:27] normj commented on #177
As you mentioned we don't have the AWSXRayRecorder package working on .NET Core but this is high on our list to get done. And yes I agree once we have the AWSXRayRecorder on .NET Core it should make it very easy to turn on for ASP.NET Core applications, through Lambda or Kestrel, to get the common HTTP metrics you would expect.

[2017-10-27 17:31] normj commented on #176
Could I see your project file? This error usually indicates that some dependency in your project is causing .NET Core 1.1 to be pulled in. If you do a `dotnet publish` on your project do you see System dll being copied to the publish folder?

[2017-10-27 18:06] malcernie commented on #176
Hi, thanks for the response.

The .sln contains the following:

{code}
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 15
VisualStudioVersion = 15.0.26730.12
MinimumVisualStudioVersion = 10.0.40219.1
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "MyApp", "MyApp\MyApp.csproj", "{AB48547D-1DDD-4DEF-B0FB-E96A384DCBFB}"
EndProject
Global
	GlobalSection(SolutionConfigu

[2017-10-27 19:39] normj commented on #176
What I meant by System dll where all of the System.*.dll files in your publish folder which you do have. They are getting drag into the publish folder because you are targeting .NET Core 1.0 but the version 10.0.3 of Newtonsoft.Json that you are referencing has dependencies on the .NET Core 1.1 System packages.

Can you try changing the version of Newtonsoft.Json to version 9.0.1?

[2017-10-27 21:29] malcernie commented on #176
You're a genius, changing to Newtonsoft.Json v9.0.1 solved the problem.  Is there a cheat sheet anywhere on these known issues?

[2017-10-27 21:55] normj commented on #171
Closing as I assume the work around worked. I'm not comfortable asking Microsoft questions on your behalf that are not related to AWS.

[2017-10-27 21:55] #171 closed

[2017-10-27 22:09] normj commented on #176
The clue I look for is if you look at the list of dependencies for a NuGet packages and if references .NETStandard.Library 1.6.1 that means it is requiring .NET Core 1.1. .NET Core 1.0 .NETStandard.Library 1.6.0 was for .NET Core 1.0.

The versioning is really difficult right now but it should be better when we get to the next version of .NET Core Lambda. In .NET Core 2.0 there is no longer a depe

[2017-10-27 22:09] #176 closed

[2017-10-30 20:08] Lezzer commented on #149
I could really do with knowing when .NET Core 2 is going to be available in Lambda.  It influences a project I am just preparing to kick off. If it's not going to be anytime soon I will make other choices but if it might be released by early december say then .NET Core 2 lambdas here we come!

[2017-10-30 21:03] Kralizek commented on #149
Yeah, don't tell me about that...
Today we realized that a Lambda that was meant to pre-process some massive data import will have to rely to an external node.js lambda to be able to support XSLT transformations...

[2017-10-31 12:14] otakusid commented on #113
Please can you add an option that disable creating of zip archive? With this parameter **Amazon.Lambda.Tools** just put all binaries in specified folder. This make behavior of **Amazon.Lambda.Tools** similar to **dotnet cli** and users have ability to use the same set of tools to compile lambda functions and usual .net core apps.

At this moment if I want to build aws lambda I cant use **microsoft

[2017-11-01 23:25] odyth opened #178 "Environment variables not updating when running lambda update-function-config"
Trying to setup my build server to deploy my lambda functions.  I have my build serer upload a config file to S3 then I run `dotnet lambda deploy-function -c Release` command from the Amazon.Lambda.Tools Nuget package.  My aws-lambda-tools-default.json file is below and the uploaded s3 file I set as the ConfigFileKey in the environment-variables.  My code updates, however the environment variables

[2017-11-01 23:52] odyth commented on #178
function-timeout and memory-size also do not update when running dotnet lambda-deploy-function

[2017-11-01 23:53] odyth commented on #178
ah looks like these get used when creating a function, but if updating then you need to run
`dotnet lambda update-function-config

[2017-11-02 00:18] odyth commented on #178
Looks like this behavior is by design....

[2017-11-02 00:18] #178 closed

[2017-11-02 09:47] Kralizek commented on #178
It would be nice to have a switch to enable this :)

[2017-11-03 07:09] normj commented on #178
I like that idea, seems look a good comprise. The trick is going to be naming that switch :)

Could you open a separate issue to track that feature request?

[2017-11-03 15:57] Kralizek opened #179 "Give possiblity to fully update function configuration via dotnet commands"
As in #178, currently some of the settings, like the environment variables, set in the `aws-lambda-tools-defaults.json` are taken into consideration only during the first deploy via `dotnet lambda deploy-function`. Even using `dotnet lambda update-function-config`, will not update the settings accordingly.

The documentation says that this is an intended behavior but it makes it difficult for witt

[2017-11-09 08:13] KFayal opened #180 "Unable to make connection with Npgsql (.NET Core) in AWS Lambda to PostgreSQL RDS"
I've been beating my head on the wall for this for quite a few days now.  Essentially where I am now is that I have taken my Lambda function outside of my VPC, then I've opened my RDS to be publicly accessible from anywhere on the PostgreSQL port.  I can connect using this function from my dev workstation to the RDS, but for the life of me, this is not happening from my Lambda function.  At first

[2017-11-10 21:40] amivit commented on #149
What's the status? Core 2.0 has matured greatly, so I'm really looking forward to using Lambda with it.

[2017-11-11 01:46] fulghum commented on #149
Stay tuned... we will have more details to share later this month.  We're really excited about .NET Core 2.0 at AWS and like @normj mentioned earlier in this thread, we've been putting some serious thought and effort into making the next iteration of .NET Core on Lambda integrate even more cleanly to support several other key use cases.

[2017-11-11 18:12] rajasekarshanmugam commented on #43
This is still happening. Assembly.GetEntryAssembly() returns a null causing above error. However, changing it to use another assembly gets past the error but blocks later when Roslyn is trying its thing. Wondering if they are all related.

[2017-11-13 06:52] normj commented on #180
The security group you specified for the Lambda configuration did you add it as an ingress rule to the security group that your RDS database is using. Even if they are the same security group you need do that which will say everything in that security group can access each other.

[2017-11-13 08:10] KFayal commented on #180
Norm, Thanks for the response.  Yes, I had a security group named sg-XXXXaf7a, and inside that security group I have two inbound rules - one allowing PostgreSQL traffic from my public workstation IP, the other allowing PostgreSQL traffic from the same Security Group sg-XXXXaf7a.  But was still getting that same error.

[2017-11-14 10:01] kiksen1987 commented on #149
Really hope this soon gets released. Our team has abandoned Lambda because of the missing support newer dotnet core releases. We have alot of tasks I would like to take out of our docker images and instead running as serverless.

[2017-11-15 04:19] HaroonSaid commented on #180
Check your project  to ensure you don't have any code is not pulling in .NET Standard 1.6.1.
It took me several days of trial and error to figure out that System.Data.SqlClient version 4.3 (even that it said it would work with .net-standard 1.3) was not compatible and I had to go back to 4.1
Did you try Npgsql.EntityFrameworkCore.PostgreSQL 1.0?

[2017-11-15 12:38] durgesh4uonly commented on #163
Hi, I am new in  AWS LEX, Created android mobile chat bot successfully. Now start the same through c# sdk. can u provide any link or sample to start my work. can web chat bot supported voice to text support.

[2017-11-15 19:41] Kyefer opened #181 "Unable to finalize SQL Server connection - System.EntryPointNotFoundException thrown for CryptoNative_X509StoreCtxInit2"
I'm currently in the process of moving an ASP.NET core application into the dotnet lambda runtime using the Amazon.Lambda.AspNetCoreServer package. But during runtime, whenever the connection to the SQL Server is created , it fails during the pre-login encryption handshake. It looks like the lambda environment or the build artifacts doesn't have the proper SSL native binaries. I'm sure that others

[2017-11-18 13:52] abidalis commented on #124
@FrederikNygaardSvendsen and @jsousa411 I'm too having the issue with swagger. I can able to add swagger to api using Swashbuckle and can access the API documentation in local environment using **/swagger** endpoint. When i deployed the API on AWS APIGateway, I'm getting 403 forbidden error for **/swagger** endpoint. In Cloudwatch error logged

However the other endpoint like GET, POST requests ar

[2017-11-21 14:10] pawepaw commented on #181
@Kyefer Got the same problem. Did you found a solution?

[2017-11-22 01:31] KFayal commented on #180
HaroonSaid, Thanks for the suggestion.  The dependencies list shows I'm clear of .NET Standard 1.6.1.  You can't even publish to Lambda with the Visual Studio tooling if you go above 1.6.0, or .netcoreapp 1.0.  I am able to publish, it's just the connection refused issue.

[2017-11-22 11:54] Kralizek commented on #180
chiming in because I'm looking into PostgreSQL too. Did you try with an empty Lambda that only connects to the database?

[2017-11-23 09:31] mariowood commented on #176
Replied to https://github.com/aws/aws-sdk-net/issues/781 as well, but essentially the fix for me was to downgrade AWSSDK.S3 from 3.3.14 to 3.3.10.

I was unable to downgrade Newtonsoft.Json to 9.0.1 as i'm using the NEST nuget package which has a dependency on Newtonsoft.Json >= 10.0.0

[2017-11-25 12:05] rabejens opened #182 "Version for package `Amazon.Lambda.Tools` could not be resolved."
I just created an empty C# project with Visual Studio for Mac. My csproj looks like this:

[code]

When I try `dotnet lambda --help` I get:
[code]

EDIT: Trying to add this from VS yields:
[code]

EDIT 2: Trying to create a new function from the command line yields:
[code]

EDIT 3: I now set the `TargetFramework` to `netcoreapp1.1` and got a small step further:
[code]

EDIT 4:

OK, I knew what I w

[2017-11-25 12:35] #182 closed

[2017-11-27 12:12] raRaRa commented on #149
:drum:

I guess we'll see some updates this week? :)

[2017-11-27 14:09] CheeseNPort commented on #149
As the comment said end of the month, perhaps it would be announced as part of reinvent this week.

[2017-11-27 20:52] michaelthwaite commented on #149
I hope so too! I'm in the middle of a wasted day because, somewhere in my code I have a NuGet package that wants NetStandard Library 1.6.1 so, my lambda function is failing, failing, failing.

I'm currently running it on an EC2 instance, what a mess.

[2017-11-28 10:19] Kralizek commented on #149
In the wishlist for lambda, I would add the possibility of running them in VPC without the absurd requirement of 15s+ cold start.

[2017-11-29 08:40] AbbTek commented on #149
@Kralizek have you tried increasing the memory of the lambda, especially with .Net or Java, increasing the memory speed up the cold start a lot, in my case, the cold start sometimes was 20 seconds with 128Mb, and now it is around 2 seconds with 1536 MB. But yes VPC also increases the cold start.

[2017-11-29 09:48] raRaRa commented on #149
@AbbTek  Yikes, 20 seconds with 128MB? I really hope that Lambda running .NET Core 2 will take less than 2 seconds on 128Mb. Going to be damn expensive to run it with 1536MB. (in my use case at least). Otherwise I'm probably going to look into Apex + Golang :disappointed:

[2017-11-29 09:54] Kralizek commented on #149
@raRaRa @AbbTek there is little that we can do on our side, and .NET Core 2.0 will not help, it's an infrastructure problem of AWS/VPC/Lambda... see #174

See also: https://robertvojta.com/aws-journey-api-gateway-lambda-vpc-performance-452c6932093b

[2017-11-29 21:15] KFayal commented on #180
No I did not.  I have moved on to another solution.  Didn't have time to figure this out.

[2017-11-30 17:04] normj commented on #149
Yesterday I did my .NET Core session at our AWS re:Invent conference. In my session, .NET Core 2.0 Lambda support was officially pre announced and it is coming soon. To help prove it was coming soon, we actually demoed running an ASP.NET Core application with Razor pages using our upcoming .NET Core 2.0 runtime from the us-west-2 region.

We also demoed upcoming .NET Core 2.0 X-Ray support as well

[2017-11-30 19:32] KFayal commented on #149
Norm, I have been so disappointed with Re:Invent this year.  I wish I could have attended your session.  I had some questions about the c# implementation of Lambda and now with Cloud9 I’m wondering if it will be easier to deploy from there instead of having to do it solely from VS.

[2017-11-30 20:04] normj commented on #149
@KFayal Sorry re:Invent is working for you this year. If you want to try and get together while we are both here to talk about your questions I'll be free after my session on VSTS today at the MGM. That ends at 4:15. Tomorrow I don't fly out till the evening so you can reach me via my twitter handle socketnorm to set a meeting spot.

[2017-12-01 00:45] Thaina commented on #149
@normj I would like to appreciate but I was learn that the word "soon" of amazon can be 2 years without any movement. Please use another word that would be more secure

[2017-12-01 01:06] normj commented on #149
@Thaina As you have found in the past it is Amazon's Policy is not talk about release dates so I can't add to much there. I knew if we just said it was coming soon that would give you that valid feeling that it is some ambiguous time in the future. My hope with the doing the live demo from a production endpoint it would demonstrate we really mean soon.

[2017-12-01 01:08] normj commented on #149
My session is online if anybody wants to see the .NET Core 2.0 Lambda demo with X-Ray support. The Lambda part starts about 13 minutes into the talk. There is also some cool ECS Fargate support we talked about after the Lambda section.

https://www.youtube.com/watch?v=IfF1E2RJ6Do

[2017-12-01 08:36] matantal1 commented on #149
@normj Hi Norm,
Where can i signup for the preview?

[2017-12-01 08:39] jocool commented on #149
Amazon, please please please, release .NET Core 2.0 in december, we badly need it for our Cloud Backend platform (https://cloudbackend.appdrag.com/)

We are waiting this since August :)

[2017-12-02 05:00] DylanMunyard opened #183 "JsonSerializer is case-sensitive so by default deserialized events are empty"
Hi - I noticed the Lambda event templates have a different casing to the event classes in this repo, so the lambda event is deserialised with empty values. If you see this commit by adding serialisation attributes the event is deserialised with data, https://github.com/DylanMunyard/aws-lambda-dotnet/commit/5fd23b4c7aae7af088b61935b6eef9a51484833e.

[code]

[code]

lexEvent.UserId is empty. Expecte

[2017-12-07 02:51] rui-ktei commented on #149
I have to add some comments to help speed this thing up... I want .net core 2.0 lambda literally now : ) Can't wait any longer

[2017-12-07 08:15] normj commented on #183
Thanks for letting us know, I'll take a look

[2017-12-07 10:35] derwasp commented on #153
@ytn3rd just FYI, if you are talking about `Albelli.Magick.Builder`, please be aware that I don't have support for all the libraries there.

[2017-12-07 18:01] MikeN3 commented on #149
After seeing the .Net Core 2.0 announcement, along with the live production demos, at the AWS Lambda re:Invent 2017. With this blog post (https://aws.amazon.com/blogs/developer/category/net/), could we realistically see .Net Core 2.0 support added by the end of December?

[2017-12-08 15:34] ibuchan72390 commented on #181
I experienced this issue a little while back with the MySQL .Data 7.0.7-m61 library (Only MySQL.Data release for .NET Core 1.0).  When I was working in 1.0.4, I had to explicitly pin a dependency to System.Security.Cryptography.x509Certificates to 4.1.0 and then I also had to include a dependency on System.Security.Cryptography.OpenSsl to 4.0.1.  It's explicitly missing a specific native library i

[2017-12-08 23:49] ibuchan72390 opened #185 "System.AccesssViolationException encountered in Lambda based AspNetCore Kestrel Hosting"
Hi there,

I've been working with a Lambda based AspNetCore Kestrel hosted website for almost a year now.  It appears that I've encountered my first memory leak.  It took me a few days to realize what was going on.  I had figured I was somehow running into a bad .NET Core 1.0 reference because the issue was relatively intermittent and seemed to largely occur when working with an asynchronous conte

[2017-12-09 19:30] normj commented on #185
I have not heard of others having a memory leak when using the ASP.NET Core bridge for Lambda. I'm happy to investigate if you could provide a small reproducible code example.

[2017-12-09 19:35] normj commented on #183
I'm confused what is going on here. You can see from our tests that we are testing with "userId" casing.

Here is the sample event:
https://github.com/aws/aws-lambda-dotnet/blob/b56b97d8591eabd4b92e89128f306ed0703b10c0/Libraries/test/EventsTests/lex-event.json#L4

And the corresponding test:
https://github.com/aws/aws-lambda-dotnet/blob/b56b97d8591eabd4b92e89128f306ed0703b10c0/Libraries/test/Event

[2017-12-09 20:13] ibuchan72390 commented on #185
My project is almost a year along now, so it's kind of hard for me to reproduce anything on a smaller scale by this point.  I feel like I'm more in the investigation stage and I'm curious if you've possibly seen any of these ASP.NET Core bridge for Lambda applications surpassing 1024 MB prior to Lambda stabilizing it's memory consumption?  I found the previous article interesting in that it mentio

[2017-12-09 20:23] genifycom opened #186 "DKIM failing SES"
I have recently started testing SES receive mail.

I noticed that none of the replies like today "Re: [aws/aws-lambda-dotnet] Memory Leak Encountered in Lambda based AspNetCore Kestrel Hosting (#185)" are getting through.

This is because in AWS Lambda,  receipt.dkimVerdict.status is returning FAIL for these messages and are getting bounced (deliberate as per ses-bounce).

Is anyone else seeing th

[2017-12-09 20:32] ibuchan72390 commented on #186
I got an email notification from that post when normj replied about 1 hour ago.

[2017-12-09 20:45] ibuchan72390 commented on #185
Now that I've increased the memory capacity to 3008 MB and now, It's failing on a slightly different error once it surpasses about the 1024 MB point.  I'd have to image it's got to be a memory leak of some form in my implementation.

I had a deep suspicion that it was possibly my use of the Microsoft.Extensions.Caching.Memory package; however, I've removed that and I still seem to be running into

[2017-12-10 01:09] normj commented on #186
You might want to ask this question in the SES forums. Somebody from the SES team would have a better understanding of what is going on as this is more of a service question than a .NET Lambda question.

[2017-12-10 11:48] HaroonSaid commented on #181
Look thru obj/project.assets.json file in the lambda project.
Ensure you don't have any .netstandard/1.6.1 and any reference to 4.3.0 System.* dlls.

[2017-12-10 16:53] genifycom commented on #186
Will do Norm.

[2017-12-10 16:53] #186 closed

[2017-12-11 14:18] dHihich commented on #160
Any update on the issue?

[2017-12-11 16:04] ibuchan72390 commented on #185
Upon further investigation, the following link seems to indicate that Lambda supports up to .NET Core 1.0.1 - http://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html

Does that mean that Lambda has not been keeping up with the other minor updates that have been released for .NET Core 1.0?  As 1.0.2 - 1.0.5 have come out, I have continued to allow my libraries to upgrade within

[2017-12-11 18:20] ibuchan72390 commented on #181
As long as they're using the "dotnet lambda package" command, that will properly warn them if they're referencing a package outside of the .NET Core 1.0 Framework.  The problem seems to be that Lambda is specifically on .NET Core 1.0.1 (http://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html).  While not ALL packages outside of 1.0.1 will cause runtime failures, some of them wi

[2017-12-11 18:37] Kyefer commented on #181
@ibuchan72390 Thank you! Pinning the specific versions of System.Security.Cryptography.x509Certificates and System.Security.Cryptography.OpenSsl and downgrading to 1.0.4 worked. Do you know if 4.1.0 and 4.0.1 are the highest working versions of the pinned packages?

[2017-12-11 19:07] ibuchan72390 commented on #181
From my experience, yes, that's exactly the issue.   I attempted to upgrade to 1.0.5, but I ended up fighting this exact issue for a couple days.  As long as you allow NuGet to work with the greater than / equal to strategy, it will almost be guaranteed to screw you in the long run if you accidentally update an upstream package unless you explicitly pin these problem packages.

I believe there may

[2017-12-11 20:28] djaquez commented on #181
I'm sure this issue will go away with .netcore 2.0.  Can't wait for AWS to move Lambda to .netcore 2.0!

[2017-12-11 22:41] ibuchan72390 commented on #185
I've dropped everything back into 1.0.1 and I'm still running into the System.AccessViolationException.  It feels like a memory leak by the way it gradually builds to an exception and then releases pressure for a while until it reoccurs, but it doesn't seem to be demonstrating a memory-leak exception.  I've never had to deal with a System.AccessViolationException and have absolutely no idea where

[2017-12-12 08:47] normj commented on #154
Closing this in favor of tracking the upcoming .NET Core 2.0 support with issue https://github.com/aws/aws-lambda-dotnet/issues/149

[2017-12-12 08:47] #154 closed

[2017-12-12 08:48] normj commented on #177
Closing this in favor tracking this feature request with issue https://github.com/aws/aws-sdk-net/issues/500

[2017-12-12 08:48] #177 closed

[2017-12-12 08:55] #99 closed

[2017-12-12 08:57] normj commented on #48
Closing this in favor of issue https://github.com/aws/aws-lambda-dotnet/issues/149 which covers .NET Core 2.0 which is where Razor pages will work.

[2017-12-12 08:57] #48 closed

[2017-12-12 08:59] normj commented on #53
Closing this in favor issue https://github.com/aws/aws-lambda-dotnet/issues/149 which is the .NET Core 2.0 support where this issue will be fixed for finding assemblies.

[2017-12-12 08:59] #53 closed

[2017-12-12 13:46] DylanMunyard commented on #183
Hi - I went back to basics and created a brand new app and it's working - I can run the Lex EventTests tests and can see they pass - so I must have changed a dependency somehow, sorry but all good now.

[2017-12-12 18:43] ibuchan72390 commented on #181
If we're all back to compiling and running as expected, I think we can probably close this issue.

Hopefully Lambda 2.0 will be coming soon. I will be very happy the day of its release.

[2017-12-13 00:34] ibuchan72390 commented on #185
I'm making slow, but eventual progress here.  It seems the problems are almost definitely stemming from an issue with IServiceCollection and container management.  I've isolated a specific controller that is capable of replicating the issue after repeated runs.  It takes about 40 runs to hit the error point, but even if I remove all of the logic and simply inject my questionable service into a bra

[2017-12-13 06:13] normj commented on #183
Cool, I also shipped version 1.0.1 of Amazon.Lambda.LexEvents that contained your pull request.

[2017-12-13 06:13] #183 closed

[2017-12-13 19:41] normj commented on #149
@damianh Lambda function size is determined by the service and not the .NET Core runtime which is what we cover here. If you would like that increased I suggest letting the Lambda team know through their [forums](https://forums.aws.amazon.com/forum.jspa?forumID=186). Out of curiosity what makes your functions so large? Larger functions have a higher cold start time which is why they are generally

[2017-12-13 19:46] Kralizek commented on #149
damn! a post from @normj here and i was already opening the champagne...

[2017-12-13 19:51] normj commented on #149
Sorry :(

When we get the support out my post will be filled with the happiest emojis so you can quickly see the good news.

[2017-12-13 23:18] ibuchan72390 commented on #185
I've attempted to add logging to a custom service provider and it appears that controller resolution is happening at a layer above the IServiceProvider.  I created a custom IServiceProvider that basically wraps the original ServiceProvider functionality with an ILogger.  I can see the initial resolutions occurring during the application startup and the first request is definitely firing through th

[2017-12-14 14:32] screig commented on #149
![image](https://user-images.githubusercontent.com/4292074/33997221-9ab99160-e0db-11e7-971b-c391c00b0f2b.png)

[2017-12-14 17:59] ibuchan72390 commented on #185
Hey, @normj, I THINK I've been able to replicate this on a smaller scale.  I've setup a repo at the following GitHub url: https://github.com/ibuchan72390/iage-lambda-failure

I am still referencing some proprietary packages, but they're all accessible via the modified NuGet.config file included in the repo. I am registering them to a container and resolving a single service into a controller; howe

[2017-12-16 16:12] abidalis opened #187 "Native image cannot be loaded multiple times: FileLoadException - using AutoMapper 5.2.0"
Hi,

I'm facing following error when i use the AutoMapper 5.2.0.

at System.RuntimeTypeHandle.CreateInstance(RuntimeType type, Boolean publicOnly, Boolean noCheck, Boolean& canBeCached, RuntimeMethodHandleInternal& ctor, Boolean& bNeedSecurityCheck)
at System.RuntimeType.CreateInstanceSlow(Boolean publicOnly, Boolean skipCheckThis, Boolean fillCache, StackCrawlMark& stackMark)
at System.Activator.

[2017-12-17 18:53] normj commented on #187
You didn't say what version of AutoMapper.Extensions.Microsoft.DependencyInjection you were using. That should be version 1.2.0 because newer versions require newer versions of .NET Core.

Also there is an issue with the current .NET Core Lambda with how assemblies are searched which is being fixed in the next version. Till then when you use AutoMapper you need to pass in the assemblies that conta

[2017-12-17 18:54] normj commented on #181
Closing as suggested

[2017-12-17 18:54] #181 closed

[2017-12-18 04:18] abidalis commented on #187
Hi @normj , Thanks for your help.

I'm using the correct reference in my .NETCore 1 project.
[code]
Adding AutoMapper as you suggested is working fine.

[code]
Thanks,
Abidali

[2017-12-18 04:18] #187 closed

[2017-12-18 15:22] normj commented on #170
I moved the NuGet.config to the buildtools sub folder and copy it to the Deployment folder during the build script. VS will no longer be affected by the NuGet.config file.

[2017-12-18 15:22] #170 closed

[2017-12-18 15:46] normj commented on #185
I'm getting the following error when I try and run the code. Is there something I'm missing?
[code]

[2017-12-18 15:59] ibuchan72390 commented on #185
Stupid mistake on my part.  I must have accidentally removed it when cleaning up my comments.  Just pushed the fixed version.

[2017-12-18 16:17] GeraldBauerImplan opened #189 "Environment Variable in Running Serverless ASP.NET Core Web APIs"
I see that the "Running Serverless ASP.NET Core Web APIs" is no longer a Preview and began investigating how to use.

I am trying to determine how the env.EnvironmentName is defined/set and the ability to change it for my other environments (Development, Integration, and Beta). I am not seeing the variable "ASPNETCORE_ENVIRONMENT" in the Environment Variables grid (csproj => right click and chose

[2017-12-18 16:32] normj commented on #189
You would set the ASPNETCORE_ENVIRONMENT environment variable in the `serverless.template` file which is a CloudFormation template. Here is an example with the value for ASPNETCORE_ENVIRONMENT coming in as a parameter. If you use this template be sure to update the `Handler` back to your project's handler.

[code]

You can also adjust the environment variables on the configuration tab in the Lambd

[2017-12-18 17:03] GeraldBauerImplan commented on #189
Thank you for your quick response. (So much to learn, little time allowed.) Didn't see the Preview in the fine print ;-)

[2017-12-18 17:14] normj commented on #189
I feel you on the so much to learn and so little time.

[2017-12-18 17:14] #189 closed

[2017-12-19 15:38] J4S0Nc opened #190 "LexEvent.CurrentIntent.SlotDetails missing?"
Based on the [docs](http://docs.aws.amazon.com/lex/latest/dg/lambda-input-response-format.html) there is a slotDetails object on the current intent. How do I get this object information in C#?

[code]

[2017-12-19 18:44] normj commented on #185
Okay, I'm taking a look to see if I see anything.

[2017-12-19 20:11] J4S0Nc commented on #190
To add a little more detail on why this is needed, we are using amazon.Time slot types:

http://docs.aws.amazon.com/lex/latest/dg/built-in-slot-time.html

[code]

[2017-12-19 22:01] normj commented on #185
I believe there is something with your dependencies that isn't compatible with .NET Core and Linux not Lambda related.

Here is what I have done to try and figure this out. I deployed your test case and after 4 executions Lambda reported the process died and restarted it. Then hoping that are upcoming .NET Core 2.0 runtime would have more information I ported the sample to .NET Core 2.0 and ran it

[2017-12-19 22:42] ibuchan72390 commented on #185
I can't think of any reason that my code would be explicitly asking for Mono.Runtime; however, I will start digging into it.  That's extremely suspicious to me because the only external packages I really use are the following, everything else are directly from System and Microsoft:

AWSSDK
Dapper
Moq
MySql
Newtonsoft
XUnit

I've currently ported my code to a docker-based EC2 instance using the sam

[2017-12-20 00:29] ibuchan72390 commented on #185
Started searching for references in DotPeek on my output folder.  It appears this may be an attempt by the Microsoft internal facilities to detect if the system is currently using Mono.

[Microsoft.AspNetCore.Mvc.Core.Internal.ReferenceEqualityComparer.cs](https://github.com/aspnet/Mvc/blob/rel/1.0.5/src/Microsoft.AspNetCore.Mvc.Core/Internal/ReferenceEqualityComparer.cs)

[Microsoft.AspNetCore.Mv

[2017-12-20 01:20] normj commented on #190
Thanks for letting us know. Looks like our event class is out of date and I'll take a look at updating it.

[2017-12-20 18:34] normj commented on #190
I pushed out version 1.0.2 of Amazon.Lambda.LexEvents that is updated to contain slot details

[2017-12-21 19:41] normj commented on #190
Closing as I believe this is fixed. Feel free to reopen if that is not the case.

[2017-12-21 19:41] #190 closed

[2017-12-21 19:48] normj commented on #185
I used the latest Amazon Linux available from the EC2 console and then installed .NET Core 2.0 on it. Here is my code I used to call your Lambda function.

[code]

[2017-12-22 01:18] normj commented on #161
In the configuration tab is where you can set that environment variable.

![image](https://user-images.githubusercontent.com/1653751/34281338-f076c766-e672-11e7-87bb-2136f60ec9d0.png)

[2017-12-22 01:18] #161 closed

[2017-12-22 01:19] normj commented on #125
Closing for lack activity and unable to reproduce the issue

[2017-12-22 01:19] #125 closed

[2017-12-22 03:30] Thaina commented on #149
[AWS CodeBuild Now Supports Builds for .NET Core 2.0](https://aws.amazon.com/about-aws/whats-new/2017/12/aws-codebuild-now-supports-builds-for-net-core-2_0/)

But lambda still cannot...

[2017-12-22 15:34] dHihich commented on #160
I've just noticed that a new type of Authorizer was released - Request Authorizer. The documentation says that this type of Authorizer supports headers, query strings, stage variables, or context parameters. It looks like it's exactly what we need, right?

Can you please give us an approximate estimate when this feature is going to be included in .NET Core SDK?

Thank's in advance

[2017-12-23 00:07] normj commented on #179
I pushed out version **1.9.0** of **Amazon.Lambda.Tools** which has a new **--apply-defaults** switch that if set to true will use the values from **aws-lambda-tools-defaults.json** when updating an existing function.

[2017-12-23 00:07] #179 closed

[2017-12-23 07:33] normj commented on #162
I have pushed out a version  3.3.16.2 of AWSSDK.S3 which updates the comparison of EventType to consider s3:ObjectCreated:X and ObjectCreated:X as the same. Version 1.0.2 of Amazon.Lambda.S3Events has the dependency to AWSSDK.S3 updated to this new version.

[2017-12-23 07:33] #162 closed

[2017-12-23 09:40] normj commented on #163
This is beyond the support of this repository. Issues on this repository focus specifically on .NET and Lambda. This is more of a general Lex and Polly service usage question. For that I'd recommend the Lex or Polly forums or using Stack Overflow.

[2017-12-23 09:40] #163 closed

[2017-12-23 09:40] normj commented on #166
This is beyond the support of this repository. Issues on this repository focus specifically on .NET and Lambda. This is more of a general Lex and Polly service usage question. For that I'd recommend the Lex or Polly forums or using Stack Overflow.

[2017-12-23 09:40] #166 closed

[2017-12-23 09:41] normj commented on #112
Closing for lack of activity

[2017-12-23 09:41] #112 closed

[2017-12-23 09:42] normj commented on #175
Closing as duplicate

[2017-12-23 09:42] #175 closed

[2017-12-24 10:29] Kralizek commented on #179
Thanks @normj!

Does the flag work on both ’deploy-function’ and ’update-function-config’?

[2017-12-24 18:49] normj commented on #179
Yes, it works for both and the **--apply-defaults** switch can be in the **aws-lambda-tools-defaults.json** file as well like the other switches.

[2017-12-28 09:18] mrwcjoughin commented on #181
@ibuchan72390 thank you - i have been strugging for ages to get sql to work in lambda - and your advise on which packages at which versions to use has finally solved it for me!

for others who are just looking for the latest reply this is the final result of packages in my .csproj file that worked (obviously you may have more, but you need these at these versions for it to work):
    <PackageRefer

[2017-12-29 10:01] mrwcjoughin commented on #157
thanks @normj - that tag did the trick!

[2018-01-02 21:35] VerHext opened #193 "Failed to use Mysql.Data nuget package"
Hello

i want do developed a alexa skill with C# in a lambda function. But i can't upload the project to the lambda function beacaus this error:
[code]
What is wrong? I want to use the .NET Core 1.0

[2018-01-03 19:32] ddrinka commented on #127
@normj I feel like https://github.com/aws/aws-lambda-dotnet/commit/0a3fb00cfb6f09d14618e7ff2544ce0478c9b7b0 reverts this change.

My expectation for the path provided to ASP.Net Core is that it be the contents of `{proxy+}`, i.e. `PathParameters["proxy"]`.  The resources before that point may change, but the handler should always handle the proxied portion of the URL.

In the fix for this issue, i

[2018-01-04 20:43] ddrinka opened #194 "Argument --function-publish does not create a new version"
Expected Behavior
------------
`dotnet lambda deploy-function --function-publish true` should, for an existing function, update the code and create a new version, updating $latest.

Actual Behavior
------------
Code for an existing function is updated, but no versions are created.

[Looking at the code](https://github.com/aws/aws-lambda-dotnet/blob/551bd59bd286b726aa382aa6805863ab7dadf540/Librarie

[2018-01-04 20:46] honify commented on #149
<img width="100px" src="https://toggl.com/images/landing-pages/skull-developer-waiting-toggl.jpg"/>

[2018-01-04 22:09] phillijw commented on #149
An estimate of when this might happen would be useful. Otherwise I will likely just give up all hope and not bother waiting around.

[2018-01-04 22:22] rui-ktei commented on #149
Come on AWS, it's 2018 now. I'm still waiting for it.

[2018-01-05 00:50] screig commented on #149
@phillijw .....

![image](https://user-images.githubusercontent.com/4292074/34591011-4cd98eb8-f1b2-11e7-871a-1579ed1208a5.png)

[2018-01-05 02:59] stephen-mi11er commented on #149
As one of the top computing platforms don't you think it's reasonable to provide an update or timeline?

[2018-01-05 03:16] Thaina commented on #149
@stephen-mi11er Right. That is the one thing I hate the most from aws. They just make every development in secret while all of us struggle of things that need to be fixed from them

Seem like they try to make a new standard. A standard for the top that don't need to care for us slave that should just pay them money and wait obediently like a loyal dog for their next meal

[2018-01-05 03:26] stephen-mi11er commented on #149
@Thaina it's nothing less than disappointing. It is unfortunate that I need to use outdated libraries so I can push my code to AWS.

[2018-01-05 03:29] Thaina commented on #149
@stephen-mi11er Me too and I even need to use REST api sometimes

[2018-01-05 03:43] alexzaytsev-newsroomly commented on #149
Wile i'd certainly like to see this feature, i think the people complaining are a bit over-entitled. It's not exactly like they owe us anything, AWS provide a service. if they choose to go with Gabe Newell's `when it's ready` approach, well, what can we do...

[2018-01-05 03:51] stephen-mi11er commented on #149
I don't believe anyone here is complaining or feeling entitled to updates from AWS. Rather, we're voicing our concerns about AWS not providing transparency and not moving along with the industry. Most of use here provide some time of service to customers and expect our provider "AWS" to provide the latest technology so we can better serve our paying customers.

[2018-01-05 04:02] josiahpeters commented on #149
You know there is a schedule communication problem when someone (@alexzaytsev-newsroomly) compares it to the schedule for Half Life 3.

[2018-01-05 06:29] normj commented on #149
@josiahpeters Comparing to Half Life 3 is just harsh :smile:

I understand the frustration and I really hope it won't be much longer but I know that is still vague. Everybody is asking for a date so they can make their plans based on that date and that is why we can't say for sure when it will be released because if something causes us to miss that date that messes up all of your committed dates.

[2018-01-05 06:42] Thaina commented on #149
@normj I'm not sure that this is a process that should work for updating aws lambda. It not practical if C# or any other platform would progress and you need to wait such a years to update one version

Well, this is not relate to this repo but I would like to say the process of lambda to updating itself is such a blocking issue since I was using nodejs

[2018-01-05 06:44] alexzaytsev-newsroomly commented on #149
@normj is the plan to rollout across all regions? or us first and the rest.. whenever?

[2018-01-05 09:57] tiemtran opened #195 "Redirect to Login"
Hi all. I can not  auto redirect when user not login. Asp.Net core 2.0

![screenshot_43](https://user-images.githubusercontent.com/16088066/34604169-6d4b3250-f239-11e7-969a-24eb150562bf.png)

[2018-01-05 14:48] ddrinka commented on #127
For anyone wishing for the behavior I described above, here's a bit of middleware to utilize the proxy path rather than the full path for routing.  Include this before `app.UseMvc()`.
https://gist.github.com/ddrinka/8418fef0fcc6f9455dd2c01f645560c6

[2018-01-05 18:20] normj commented on #127
@ddrinka Could you open a new issue for this? Comments on old closed post tend to get lost.

[2018-01-05 19:12] ddrinka opened #196 "ASP.Net Core applications running in Lambda as proxy functions should not depend on URL resource paths"
Background
---------
Amazon.Lambda.AspNetCoreServer implements a handler between AWS API Gateway and a .Net Core Lambda function which runs ASP.Net Core.  The module's job is to translate between API Gateway's proprietary JSON formats and ASP.Net's request/response functionality.

API Gateway allows the creating of a virtual hierarchy of Resources and Methods.  A Proxy Resource acts as a wildcard,

[2018-01-05 19:14] ddrinka commented on #127
Thanks @normj .  Don't let this distract you from getting Core 2.0 support out!  It's getting really hard to build for 1.0 these days.  :)

[2018-01-05 19:52] normj commented on #127
I'm going through this code now for the upcoming .NET Core 2.0 release so it is a good time to look into the issue. Any changes would be rolled into the upcoming 2.0 release.

[2018-01-05 20:17] normj commented on #149
@alexzaytsev-newsroomly The release should go out to all regions that support Lambda at the same time.

[2018-01-07 09:54] normj commented on #193
Can you post your csproj file? It looks like you are pulling in quite a few dependencies that required .NET Core 1.1

[2018-01-08 16:09] jbright commented on #149
@normj thanks for the update. I just wanted to leave feedback that another developer & project is hoping to have .NET Core 2.0 support soon.

[2018-01-08 21:31] tsibelman opened #197 "How to run deploy-serverless without specific project context ?"
I see that it is possible to give a package to deploy-serverless via parameter so it looks like It should be easy to separate package and deploy into two different steps on a build server, but it's not clear how to run deploy-serverless with no context of a specific project.

Is it possible to run deploy-serverless with no context of a specific project?

[2018-01-09 07:33] pawepaw opened #198 "AWS Lambda and .Net synchronization context"
Hi,

How aws lambda c# dlls are loaded and run? What runtime is it? Are they hosted somehow under asp.net core or how it's done?

I'm asking because of synchronization context. In asp.net core they removed it and you can block async code without worrying about deadlocks https://blog.stephencleary.com/2017/03/aspnetcore-synchronization-context.html So is there synchronization context in aws lambda

[2018-01-10 10:30] martonx commented on #149
And please update AWS Toolkit for Visual Studio 2017 also. Publish To AWS Lambda wizard don't let to choose even dotnet core 1.1 even if Lambda has dotnet core 1.1 support.
So please not just add support for dotnet core 2.0 but update AWS Toolkit for Visual Studio 2017 also.

Thank you very much!

[2018-01-10 11:02] murilogibim commented on #149
@martonx AWS Lambda doesn't support 1.1 as you can see in the following page:
[Lambda Execution Environment and Available Libraries](https://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html)

[2018-01-10 12:14] martonx commented on #149
@murilogibim oh thanks for reminder, so hehe that documentation is not up to date, because of Lambda do support dotnet core 1.1 - at least I have more running dotnet core 1.1 lambda instances.
So when dotnet core 2.0 support will be ready (or before :) ) it would be good for the public, to update all of the dotnet core related document pages, examples etc...

[2018-01-10 12:45] murilogibim commented on #149
@martonx nice to know you can actually run it. what i said was purely based on what i saw in the documentation.

[2018-01-10 12:48] martonx commented on #149
@murilogibim yes, dotnet core 1.1 capabilities was a good and big surprise for us more months ago. 1.0 was very limited in lots of ways 1.1 is much better, 2.0 will be enough for everything.

[2018-01-10 15:27] Kralizek commented on #149
@martonx how did you get Lambda to run .NET Core 1.1 code? 😮

[2018-01-10 15:40] ddrinka commented on #149
It's easy to run .Net Core 1.1 on Lambda: just publish using `dotnet lambda publish --disable-version-check`.  But it won't always work.  The AWS team replaced functionality of the low-level .Net runtime with their own routines that plug into their Lambda infrastructure.  If you target 1.1, you replace those "hacked" libraries with your own copy, without the Lambda routines.  It might work.  But d

[2018-01-10 15:45] martonx commented on #149
@Kralizek First of all, I'm using https://serverless.com/ for deploying my .Net Core stuff to Lambda. I'm using them as Web APIs under AWS API Gateway.
There is no trick, just use netcoreapp1.1 instead of netcoreapp1.0

[code]

[2018-01-10 15:57] jrstill commented on #149
It has been a while since I gave up on it, so I may be remembering some of this wrong, but what I found was that if nothing depended on NETStandard.Library higher than 1.6.0, you could build for Core 1.1 and it would work in lambda.  If anything depended on 1.6.1 it wouldn't work when deployed to lambda.  Specifically, SQL Client was one that would pull in a 1.6.1 dependency, you could deploy and

[2018-01-10 18:19] normj commented on #149
.NET Core 1.1 is definitely not supported in Lambda. You can skip the version check as mentioned above but if any of your dependencies call something that is only available in .NET Core 1.1 then your function will crash most likely with an uncatchable exception.

I think what is happening for @martonx is that since he is packaging up his application targeting netcoreapp1.1 `dotnet publish` is not

[2018-01-10 18:20] normj commented on #149
Sorry pushed the wrong button, didn't mean to close the issue

[2018-01-10 19:19] jrstill commented on #149
@dls314 I seem to recall trying the self contained deployment and that it still failed.  The thing with SCD is that you have to tell it what platform you're targeting and there's no amazon linux target option (here's the list: https://docs.microsoft.com/en-us/dotnet/core/rid-catalog).  I think I remember trying the `linux-x64` and a few others but none worked.

[2018-01-10 19:26] dls314 commented on #149
@jrstill I just tried and can confirm it fails. I'd guess that whatever loading/reflection is done by the lambda runtime dies when 1.0 attempts to load or reflect 2.0 to find the named handler

[2018-01-10 19:41] scottmcarthur commented on #149
Any chance the discussion about attempting to get 1.1 working can be done elsewhere (on another issue or the AWS forum)?

This thread is about 2.0 support, and the conversion in the last 9 hours here hasn't added to this.
I'd rather not unsubscribe this thread and miss the 2.0 discussions / announcement.

Thanks :smile:

[2018-01-11 00:46] ibuchan72390 commented on #185
I have been heavily detoured for the past few weeks; however, the code sample you posted is one of the most valuable things I've seen for understanding how this whole process works.  I would love to see this piece publicized a little bit more because it really helps demonstrate the flow from the JSON test files, to the interpretation into a .NET HTTP Request, and it's pass to the LambdaEntryPoint.

[2018-01-11 00:50] normj commented on #194
Thanks for letting us know. I see for an existing functions I need to make a separate call to LambdaClient.PublishVersionAsync. I'll make that fix and it will go out with the upcoming .NET Core 2.0 support.

[2018-01-11 01:08] ddrinka commented on #194
According to [Introduction to AWS Lambda Versioning](https://docs.aws.amazon.com/lambda/latest/dg/versioning-intro.html) and [UpdateFunctionCode](https://docs.aws.amazon.com/lambda/latest/dg/API_UpdateFunctionCode.html) you should be able to just pass `Publish: true` like I mentioned above to atomically update the Lambda function's code and create a new version.

[2018-01-11 01:09] normj commented on #196
If I'm understanding your issue you are proposing that if I defined my api gateway like this

/v1/{+proxy}
and
/v2/{+proxy}

When a request something like http://mygateway/PROD/v1/mycontroller you are expecting /mycontroller to be the root in ASP.NET Core because that is the proxy?

If so that is not how I intended that to work. I always wanted to root of the API Gateway stage to be the root in AS

[2018-01-11 01:10] normj commented on #195
Closing as this can't be a Lambda .NET Core question since .NET Core 2.0 is not supported yet in Lambda.

[2018-01-11 01:10] #195 closed

[2018-01-11 01:27] ddrinka commented on #196
You understood my issue.  The relationship that's set between API Gateway and Lambda is that every Lambda function becomes a mini web server.  That server might be handling a subset of requests, it might be a different version of the API, or it might be using a different language altogether.  API Gateway lets you piece together multiple components that define a single API.

My viewpoint is that th

[2018-01-11 02:18] normj commented on #194
The problem is that via the deploy command you can be updating both the function configuration and the function code. And you can't publish on the UpdateFunctionConfiguration which currently happens after UpdateFunctionCode.

[2018-01-11 22:09] gokarnm commented on #198
@pawepaw , we don't create a synchronization context in the host that loads and executes the  Lambda function. Are you seeing a [synchronization context](https://docs.microsoft.com/en-us/dotnet/api/system.threading.synchronizationcontext.current?view=netcore-1.0#System_Threading_SynchronizationContext_Current) being available in your code?

[2018-01-14 20:26] dguisinger commented on #149
I know you don't want to commit to anything, but are we talking days? weeks? months?  It looked like it was really close 2 months ago when you showed it off.

I too am suffering from writing code that unknowingly had a dependency (Stripe's payment processing libraries) tied to 1.6.1.   It would be nice to know if I can switch gears for a few days and work on something else, or if I need to take a

[2018-01-14 21:51] Kralizek commented on #149
@dguisinger I'm in the same shoes. What we did is, whenever possible, to isolate the annoying code into a WCF service hosted in a container to be invoked from the Lambda... it gets the project going...

[2018-01-14 22:07] dguisinger commented on #149
In my case I chose the API Gateway proxy to WebAPI running inside of Lambda pattern to handle Stripe webhooks, so its actually the incoming parsing  of the stripe webhook that is tied to 1.6.1....  so the Lambda can't call out to outsource that function.... I could throw it up in a container, but I'd really prefer not to waste more time on it if 2.0 support is going to drop real soon

[2018-01-14 23:41] normj commented on #149
@dguisinger I hope to have news really soon so I would just switch gears for a couple days.

[2018-01-15 14:07] pawepaw commented on #198
ok you are right. Rechecked that and deadlock was in our sdk which was calling aws lambda from asp.net code. Thanks and sorry for bothering!

[2018-01-15 14:07] #198 closed

[2018-01-15 23:58] ChristianAvila commented on #149
https://aws.amazon.com/about-aws/whats-new/2018/01/aws-lambda-supports-c-sharp-dot-net-core-2-0/

[2018-01-16 00:02] normj commented on #149
:grey_exclamation: :grin: :relieved: :smiley: :grin: :joy: :raised_hands: :grey_exclamation: (As promised lots of happy emojis)

.NET Core 2.0 Lamdba support is out, and version 1.14.0.0 of the AWS Toolkit for Visual Studio is released to support it! Here is my blog post about the new release: https://aws.amazon.com/blogs/developer/aws-lambda-net-core-2-0-support-released/

Also, you might want to

[2018-01-16 00:02] #149 closed

[2018-01-16 00:08] josiahpeters commented on #149
Thanks for all the hard work Norm and team!

I guess it's confirmed, Half Life 3 is shipping this year! 😉

On Jan 15, 2018 5:02 PM, "Norm Johanson" <notifications@github.com> wrote:

[2018-01-16 00:12] jonathan3698 commented on #149
Oh my god.

This made my day. I have been waiting for this since a VERY LONG TIME.

Thank you!

[2018-01-16 00:17] AbbTek commented on #149
Heee Finally, thanks, guys I've been waiting for this... :D

On 16 January 2018 at 11:12, jonathan3698 <notifications@github.com> wrote:

--
Carlos Martinez Loyola
Ingeniero ejecución informática USACH
Santiago - Chile.

[2018-01-16 00:19] Thaina commented on #149
Thank you very much

[2018-01-16 00:24] Kralizek commented on #149
OMG thanks so much!!

[2018-01-16 00:30] normj commented on #196
As part of the .NET Core 2.0 release today, https://aws.amazon.com/blogs/developer/aws-lambda-net-core-2-0-support-released/, I added some virtual methods to `APIGatewayProxyFunction` that you can overwrite and customize how the path is configured. For example you would overwrite the `PostMarshallRequestFeature` method and compute the path and base path as you like.

[2018-01-16 00:31] alexzaytsev-newsroomly commented on #149
@normj In the presentation back at re: invent you mentioned that x-ray will be available for .net core 2.0. Now that lambda support is out, when can we expect x-ray? :)

[2018-01-16 00:35] normj commented on #149
@alexzaytsev-newsroomly We were able to pull in the Lambda release sooner than we could finish X-Ray. We didn't want to make anybody wait any longer for the Lambda release so we pushed out the Lambda release without X-Ray. The .NET Core X-Ray release will follow very soon.

[2018-01-16 00:36] normj commented on #194
This fix went out today as part of `Amazon.Lambda.Tools` 2.0.0. The 2.0.0 release of this library supports both .NET Core 1.0 and .NET Core 2.0.

[2018-01-16 00:36] #194 closed

[2018-01-16 00:37] normj commented on #193
Now that .NET Core 2.0 support is out for Lambda, https://aws.amazon.com/blogs/developer/aws-lambda-net-core-2-0-support-released/, you should be able to switch to that and use your MySql driver.

[2018-01-16 00:37] #193 closed

[2018-01-16 00:39] normj commented on #104
This is now fixed in the new .NET Core 2.0 Lambda runtime that was released today, https://aws.amazon.com/blogs/developer/aws-lambda-net-core-2-0-support-released/

[2018-01-16 00:39] #104 closed

[2018-01-16 00:44] normj commented on #98
As part of the .NET Core 2.0 Lambda release today I updated `Amazon.Lambda.APIGatewayEvents` and `Amazon.Lambda.AspNetCoreServer` to pass along the claims and create the HttpContext.User similar to how @ljacobsson was doing in his code.

I'm going to close this as I believe that solves the problem. Feel free to reopen or open a new issue if there are more use cases that are not met.

[2018-01-16 00:44] #98 closed

[2018-01-16 00:51] honify commented on #149
@normj you are awesome

[2018-01-16 04:23] hounddog22030 opened #199 "Unable To Package under AWS CodeBuild"
I have created a AWS Lambda project using VS2017

I have a CodeBuild project for it (Ubuntu .net core 2.0)

I am running the command "dotnet lambda package" in CodeBuild, but I am receiving an error of "It was not possible to find any compatible framework version"

The project builds just fine, it's the package command that is failing.

It seems as though the CLI tools call to "dotnet lambda packa

[2018-01-16 06:07] hounddog22030 commented on #199
This issue can be demonstrated with a CodeBuild - .net core 2 configuration with the below buildspec.yaml

Is this a lambda thing or a codebuild thing?

version: 0.2
phases:
  build:
    commands:
      - dotnet new -i Amazon.Lambda.Templates::*
      - dotnet new lambda.S3 --name Issue
      - cd Issue/src/Issue
      - dotnet restore
      - dotnet lambda package

[2018-01-16 06:10] hounddog22030 commented on #149
@normj

Thanks for getting this out.  We're having an issue packaging in CodeBuild.  I've created an issue @ https://github.com/aws/aws-lambda-dotnet/issues/199

Wondering if it's a Lambda library problem or a AWS CodeBuild problem?  Or perhaps we're doing something wrong.  This was working with .net core 1.0.

Thanks

[2018-01-16 06:11] normj commented on #199
I'll take a look

[2018-01-16 06:29] normj commented on #199
I see the problem and I'm verifying a fix.

[2018-01-16 08:09] normj commented on #199
I just pushed version 2.0.1 of `Amazon.Lambda.Tools` that fixes the issue. Sorry about that.

[2018-01-16 09:52] raRaRa commented on #149
Awesome news. How soon will you support `Microsoft.AspNetCore.All` version 2.0.5? I hit my first blocker which is:
`Project is referencing version 2.0.5 of Microsoft.AspNetCore.All which is newer than 2.0.3, the latest version available in the Lambda Runtime environment. Please update your project to use version 2.0.3 and then redeploy your Lambda function.`

It's no problem for me to downgrade, j

[2018-01-16 11:56] damianh commented on #149
@raRaRa Can you get around that with self-contained deployment?

[2018-01-16 13:34] hounddog22030 commented on #199
I think that did it.  I can now package.  I won't have a chance to test the output until later tonight, but the zip file passes a manual/visual inspection.

Thanks for the quick turnaround.

[2018-01-16 13:34] #199 closed

[2018-01-16 14:53] raRaRa opened #200 "deploy-function and deploy-serverless override the environment variables"
Hey.

I'm a bit confused on how to configure environment variables in Lambda. My attempt was basically to deploy my stack using `dotnet lambda deploy-serverless`, which worked great. Then I went to the Lambda function within the AWS Management Console, and I manually configured my secrets, such as the DB password, which again worked great.

Now, the next time I deployed my Lambda using `dotnet lam

[2018-01-16 15:14] Shockolate opened #201 "package/deploy-serverless is packaging AspNetCore dependencies (Amazon.Lambda.Tools v2.0.1)"
Hello,
As outlined in [the re:Invent video](https://youtu.be/IfF1E2RJ6Do?t=24m6s), it is my understanding that the lambda compute substrate has the AspNetCore package stored locally. The demo shows a small deployment package with no AspNetCore dependencies.

However, when using the latest tools version for .NET Core 2.0 support, I notice that the AspNetCore dependencies are being packaged, causing

[2018-01-16 15:22] VinditCo commented on #149
Hello,

Using latest .NET Core 2.1.4, the Serverless Framework build command :
_dotnet lambda package --configuration release --framework netcoreapp2.0 --output-package bin/release/netcoreapp2.0/deploy-package.zip_

fails to create the following files
_CsharpHandlers.deps
CsharpHandlers.dll
CsharpHandlers.pdb_

The function then fails to run.

Anyone having the same issue ? Does the build command

[2018-01-16 16:12] mattlund commented on #149
Yes yes yes - cheers for .net core 2.0 support.  Thanks AWS guys!!!!!!!!!!!!!!!!!!!!!!

[2018-01-16 16:19] VinditCo opened #202 "Missing CsharpHandlers files"
Hello,

Using latest .NET Core 2.1.4, the Serverless Framework build command :
_dotnet lambda package --configuration release --framework netcoreapp2.0 --output-package bin/release/netcoreapp2.0/deploy-package.zip_

fails to create the following files
CsharpHandlers.deps
CsharpHandlers.dll
CsharpHandlers.pdb

The function then fails to run.

Anyone having the same issue ? Does the build command ne

[2018-01-16 16:35] dls314 commented on #149
@damianh said:

I've been trying and I can't get self-contained deployment to work. I've been using the `linux-x64` RID to create a SCD and I get an error trying to test such a fn like this

I can see the libcoreclr.so in my zip package, but maybe that's not a good RID to use?

[2018-01-16 16:40] Shockolate commented on #202
Can't really help you until you provide more information about your project (the files, deps, etc). I don't know what those 3 files are for, or why they're important.

My inkling is that it's an issue with the Serverless Framework.

[2018-01-16 16:45] VinditCo commented on #202
I've looked into this a bit more and I think you're right. The default syntax for function handlers in the Serverless Framework YML setup is :
_receivepost:
    handler: CsharpHandlers::namespace::class etc_

Thanks for the quick reply!

[2018-01-16 16:45] #202 closed

[2018-01-16 16:59] dls314 opened #203 "Question - Are Self Contained Deployments supported?"
Mostly in the title.

So far, my experience is that it's not possible to use an SCD, but I could easily be doing something incorrectly.

This comes up for supporting new (patch) versions for the runtime as suggested in these comments.

https://github.com/aws/aws-lambda-dotnet/issues/149#issuecomment-356675040
https://github.com/aws/aws-lambda-dotnet/issues/149#issuecomment-357908328
https://github

[2018-01-16 17:49] normj commented on #201
Is this a Web API project created before updating Visual Studio to the latest toolkit? Can you share the csproj file?

[2018-01-16 18:31] gokarnm commented on #203
@dls314 , Lambda only supports [FDD](https://docs.microsoft.com/en-us/dotnet/core/deploying/#framework-dependent-deployments-fdd). We don't have plans to support SCD currently.

[2018-01-16 18:36] Shockolate commented on #201
The original solution was a Web API Project (with Tests) that was created with the blueprint from the previous VS Toolkit.
When the latest version was released, I downloaded & installed it, and created a parallel project with the same Blueprint.

I then made changes to the original solution:
* Changed the Target Framework (in VS) to .NET Core 2.0
* Manually changed the source files (copy-paste)
*

[2018-01-16 18:41] #203 closed

[2018-01-16 19:08] normj commented on #201
Ah I forgot in the .NET Core project template I set the Sdk at the root to **Microsoft.NET.Sdk**. I did that to prevent the refs folder being generated in the package bundle. Probably wasn't my best idea :)

Can you update
[code]
to
[code]

I'm finishing up my blog post on Serverless ASP.NET Core, I'll add a note about this migration detail.

[2018-01-16 19:23] ChristianAvila commented on #200
Hi, I have done using template parameters and reference in environment variables in template, i.e.
[code]

[2018-01-16 19:38] raRaRa commented on #200
@christianavila do you specify the CustomersDB in the CI? Or can you do that once in the Management Console?

[2018-01-16 20:11] 01binary commented on #149
Can someone from Amazon add a link to an issue where aws-lambda-dotnet is updated to support ASP.NET Core 2.0? I see that it's using project.json and old versions of Core packages currently.

[2018-01-16 20:20] Guitrum opened #204 "Unable to find *.deps.json file that contains periods"
We currently have a project that has the namespace of ABC.API.XYZ.Admin

When the project is published and zipped, it creates a ABC.API.XYZ.Admin.deps.json file and uploads it to the lambda function on AWS. But upon testing the function, I get the following error:

[code]

After trying different namespaces, project names, assembly names, it appears that the whatever is trying to read the *.deps.js

[2018-01-16 20:28] Shockolate commented on #201
That did the trick!
Thanks, @normj

[2018-01-16 20:28] #201 closed

[2018-01-16 21:25] ibuchan72390 commented on #185
After spending a few more days working on this issue, I've got a bit more information, but still no result.  I've been able to pull the test project failure over to an Ubuntu instance and it definitely replicates the issue as expected; however, debugging into the aws-lambda-dotnet libraries has been difficult because of the Ubuntu environment.  It appears VS Code doesn't share the Visual Studio ca

[2018-01-16 22:32] sstevenkang commented on #204
Hey thanks for reporting this.  Could you describe in detail the step to create a lambda function?  Did you use AWS Console, VS Toolkit, or dotnet CLI?

If you updated the Lambda function through AWS Console, what was the exact Handler string you used?

[2018-01-16 22:49] Guitrum commented on #204
@sstevenkang Sure thing:

1. Create a new AWS Serverless Application with Tests (.NET Core) project in Visual Studio 2017. Make sure the project is named with periods (i.e. ABC.API.XYZ.Admin.csproj) and that the namespaces are also named with periods (i.e. ABC.API.XYZ.Admin).
2. Modify the serverless.template file to allow for a publish to AWS Lambda to work (I believe this just requires the Resou

[2018-01-16 23:00] sstevenkang commented on #204
@Guitrum , in the publish directory, what's the name of the DLL?  From the handler string you provided, it looks like the assembly is `ABC.API.XYZ.Admin.dll` but the handler names is telling Lambda to look for `Admin.dll`

The `:` delimited string needs to be the full assembly name.  See documentation [here](https://docs.aws.amazon.com/lambda/latest/dg/dotnet-programming-model-handler-types.html)

[2018-01-16 23:02] rui-ktei commented on #149
Beautiful work guys!

[2018-01-16 23:52] ChristianAvila commented on #200
When deploy the function, you can pass the parameters as arguments

[code]

Or after deploy, can management in console

[2018-01-17 00:27] Guitrum commented on #204
@sstevenkang Looks like that was the problem. Thank you for looking at this so quickly! Everything is working.

[2018-01-17 00:27] #204 closed

[2018-01-17 00:48] normj commented on #149
@01binary Hot off the presses I just pushed a blog post talking about the ASP.NET Core support in Lambda. Hope that helps.  https://aws.amazon.com/blogs/developer/serverless-asp-net-core-2-0-applications/

[2018-01-17 01:23] onema commented on #149
@dls314 I fixed this issue by adding the following entry in my csproj:

[code]

[2018-01-17 02:51] dguisinger commented on #149
Works great, thank you so much!

[2018-01-17 11:26] raRaRa commented on #200
@ChristianAvila I'm afraid this solution doesn't help me, because the next time I deploy, the deployment will override the environment variables with whatever is in the CloudFormation template (assuming I change the environment variables in the Management Console).

I don't want to store secrets in my template. However I could probably pass the parameters like you explained with a CI.

Is CodeBuil

[2018-01-17 13:49] strofimo commented on #149
I experience issue with moving to 2.0. Once I updated all to 2.0 (including Program.cs) I see the following error when I call lambda:

The lambda function code still the same as for 1.1:
[code]

And the Program.cs is default for 2.0:
[code]

Any ideas whats wrong?

thanks

[2018-01-17 16:16] panodk commented on #200
@raRaRa I recommend you use EC2 SSM Parameter Store to securely manage your key/value pair configurations.  It supports value encryption with AWS KMS Key, defined as type `SecureString`.  KMS and parameter store key/value (except SecureString which can be created via AWS console) objects can be provisioned via CloudFormation and then referenced within your C# lambda code.

CodeBuild also supports

[2018-01-17 18:03] Shockolate commented on #167
Pass the environment into the template as a Template Parameter.
[code]

[2018-01-17 21:38] 01binary opened #205 "Error: S3 bucket must be in the same region as the configured region us-west-2. is in the region us-east-1."
* I created a new project using `dotnet new`, with AWS Serverless WebAPI template (ASP.NET Core 2.0). This includes ValuesController and S3ProxyController sample code.
* My primary region is us-west-2 so I did a find-replace to change the region in all `.appsettings` files.
* I also ran `aws configure` to set my default profile Key ID, Access Key, and Region to aws-west-2.

After all this, I run `

[2018-01-17 21:52] ibuchan72390 commented on #185
@normj, I wish I could give a better explanation as to what was causing this exact issue; however, your release of Lambda supporting .NET Core 2.0 seems to have fixed everything for me.  I've gone through all the way up from my Framework project, through my API, and the shared reproduction and upgraded everything to run in netcoreapp2.0.   Upon updating all of the supporting libraries and modifyin

[2018-01-17 21:52] #185 closed

[2018-01-17 22:00] raRaRa commented on #200
Hey @panodk - Thanks for the detailed answer, much appreciated!

I've been trying to use the `AmazonSimpleSystemsManagementClient` and whenever I call `GetParameterAsync` I get:

[code]

Any idea what I could be doing wrong? I'm passing `BasicAWSCredentials` with the accessKey and secretKey to `AmazonSimpleSystemsManagementClient`

Thanks again.

[2018-01-17 22:15] raRaRa commented on #200
Thank you for the quick and detailed answer @panodk. Much appreciated! ❤️

[2018-01-17 22:39] bdkoepke commented on #149
Minimal working F# example: https://github.com/bdkoepke/AWSLambdaFSharpDotnetCore2.0/

[2018-01-17 22:40] panodk commented on #200
No problem - happy to save you and others some time.  :)

[2018-01-18 07:16] 01binary commented on #205
I uploaded the `serverless.template` generated by the dotnet new to AWS and got the following error when trying to create a stack from it:

[code]

It seems like something is wrong with the template. I don't have much experience with CloudFormation, still investigating.

[2018-01-18 10:52] raRaRa commented on #200
I ended up using what @panodk described above. But here's a bit more detail:

1. You need to install the `AWSSDK.SimpleSystemsManagement` NuGet package in order to use `AmazonSimpleSystemsManagementClient`.
2. You can use the `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY` and `AWS_SESSION_TOKEN` environment variables within your Lambda to authenticate the `AmazonSimpleSystemsManagementClient` client

[2018-01-18 16:26] 01binary commented on #205
Today I made some progress by finally understanding the error message :)

The "ProxyFunction" resource in the cloud formation template has `CodeUri` parameter set to empty string. Continuing investigation into why empty string is not supported there.

[2018-01-18 16:37] 01binary commented on #205
Apparently `CodeUri` can be relative, a dynamic parameter, or a static URL but never empty string.

https://github.com/awslabs/serverless-application-model/blob/master/HOWTO.md

Do you have a page where you say CodeUri needs to be replaced by something? The cheapest fix would be to include it as a parameter, then you don't need to document it.

[2018-01-18 20:19] 01binary commented on #205
Looks like everything worked, it was confusing because there are two S3 buckets involved, the proxy bucket and the bucket where lambda function code is uploaded. Once I created a bucket for the lambda and specified its name, and also specified a unique name for the proxy bucket that wasn't in use, the severless transform in cloud formation worked.

[2018-01-18 20:20] #205 closed

[2018-01-18 21:58] hounddog22030 commented on #149
Off topic, but probably the correct audience:

Does AWS CodeBuild support .netstandard and what version?  It would seem as though if CodeBuild support .net Core 2.0, it should support the functional equivalent version of .net standard, which according to the way I read this, should be .net standard 2.0 (https://docs.microsoft.com/en-us/dotnet/standard/net-standard).

I have found that it will buil

[2018-01-18 22:04] normj commented on #149
@hounddog22030 CodeBuild supports .NET Core 2.0 which is an implementation of .NET Standard 2.0. You should have no problems building with EF Core 2.0. What areas are you seeing?

Also, I agree this is a good audience but can we move this discussion to the gitter channel? https://gitter.im/aws/aws-lambda-dotnet?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

Discussions

[2018-01-19 06:36] andycmaj opened #206 "`dotnet lambda package` no longer respects `PreserveCompilationContext`"
My application makes use of the `DependencyContext.CompileLibraries` API, and no longer breaks when packaged with `Amazon.Lambda.Tools` **2.0.1**.

This seems to be due to compilation context no longer being present in my application's `.deps.json` file.

Repro:

1. run `dotnet publish` on a `.csproj` with `<PreserveCompilationContext>true</PreserveCompilationContext>`.
2. observe the generated `.

[2018-01-19 08:11] normj commented on #206
Interesting, I added that because the refs folder was getting drag in for ASP.NET Core Web API projects when I ran the with the `-r linux-x64`. I think you are right the tool should check to see if `PreserveCompilationContext` is explicitly set to true.

[2018-01-19 08:42] andycmaj commented on #206
luckily you already have an example of checking something in the project file :)

https://github.com/aws/aws-lambda-dotnet/blob/master/Libraries/src/Amazon.Lambda.Tools/Utilities.cs#L293

if you don't have time for this, and are willing to accept PRs, lemme know.

[2018-01-19 08:47] normj commented on #206
PRs are always welcomed and I won't have time for this for awhile.

[2018-01-19 15:58] Ruszrok opened #207 "'dotnet lambda package' failure after framework changing"
Hi. Thank you for great work.
I tried to change target framework from netcoreapp1.0 to netcoreapp2.0 in my project. Everything works fine with dotnet runtime 1.0 and netcoreapp 1.0.
OS X: 10.13.2
dotnet: 2.1.4
Amazon.Lambda.Tools: 2.0.1

```dotnet lambda package``` fails with error:
[code]
I tried to publish my app using ```dotnet publish```
[code]
Package created by dotnet is failing in runtime :

[2018-01-19 17:04] normj commented on #207
I suspect your `aws-lambda-tools-defaults.json` file still says netcoreapp1.0 which is what is tricking up the lambda tooling into packaging in .NET Core 1.0 format. In the stack trace you can see it going into the flatten section which it only does for .NET Core 1.0.

Can you take a look at what `framework` is set to in `aws-lambda-tools-defaults.json`? You also might need to update the `function

[2018-01-19 17:10] genifycom opened #208 "Which DotNet Core 2.0 versions are supported"
I see Microsoft have already bumped DotNet Core 2.0 to 2.0.2

Before we go running into the same issues we had with DotNet Core 1.0 can you please advise which version of packages will be supported on Lambda.

Thanks,
Dave

[2018-01-19 17:16] Ruszrok commented on #207
I have added ```"function-runtime"```. Same behavior.
[code]

[2018-01-19 17:30] normj commented on #185
I would have liked to known the cause as well but I'll take the win :)

When I tested it before it would have been under .NET Core 2.0.0 and now Lambda has 2.0.4 so maybe something in that patch fixed the issue.

[2018-01-19 17:52] normj commented on #208
There are a lot of different version numbers in the .NET Core space so I'm not sure what exactly you are saying is 2.0.2.

Lambda is currently running .NET Core 2.0.4 of the runtime. Version 2.0.5 of the runtime came out while we were rolling our deployments. We will get Lambda up dated to that soon.

The good think in .NET Core 2.0 is the exact versions our not as important. The main issue in .NE

[2018-01-19 21:46] Kralizek commented on #208
Does it mean that Lambda supports up to version 2.0.4 of packages like Microsoft.AspNetCore.All ?

[2018-01-19 22:33] normj commented on #208
The **Microsoft.AspNetCore.All** package is about the only thing you will notice a difference about not having 2.0.5 in Lambda yet. If your Lambda function puts a dependency on **Microsoft.AspNetCore.All** for version 2.0.5 that will fail because when the function executes it will look for the NuGet packages in Lambda that are part of the **Microsoft.AspNetCore.All** package. Till Lambda is update

[2018-01-20 15:47] jbright opened #209 "Nice to have: invalid region causes cli to hang"
This was definitely developer error, but it would have saved me a lot of time. If possible, if you have an incorrect region, is there a way to echo that to the user? For example, if my `aws-lambda-tools-defaults.json` file had:

[code]

(which is incorrect--is should be `us-east-1`) then when running

[code]

the command line just hangs.

Ran into this on a Mac. It would be a "nice to have" featur

[2018-01-20 18:03] Ruszrok commented on #207
Package created with ```dotnet publish -c Release -o out  -f netcoreapp2.0 /p:GenerateRuntimeConfigurationFiles=true``` works great right now. Looks like there was issues in AWS environment.
 ```dotnet lambda package``` is failing with same error as above.

[2018-01-21 17:36] stoiveyp commented on #207
Thank you @Ruszrok - just spent hours trying to stop my lambda from breaking, turns out it's fine if I use dotnet publish and upload through the browser.

[2018-01-21 18:41] normj commented on #209
I think we could do a regex to make sure the region follows a certain pattern but I don't want to hard code to specific known regions causing an update to be required every time Lambda is added to a region.

Did the command line never return? If that happen we should get that fixed.

[2018-01-21 19:09] normj commented on #207
Could you guys share your project files? There must be something different about your projects that I haven't tested with.

[2018-01-21 19:09] jbright commented on #209
Sure, makes sense.

I ended up terminating the process after a very long wait time, so it effectively hung. I just now tested it now setting my aws-lambda-tools-defaults.json region value to "xyzzy" and the command line hasn't come back yet ... after a couple of minutes.

[2018-01-21 19:29] jbright commented on #209
(BTW, I submitted a request to fix a typo on the [.NET Core CLI documentation page](https://docs.aws.amazon.com/lambda/latest/dg/lambda-dotnet-coreclr-deployment-package.html) through the Help link at the bottom of the page. If there's a better way to report a correction to the documentation, LMK.)

[2018-01-21 19:52] normj commented on #209
Thanks, I'll track down why it is hanging. That it definitely shouldn't be doing even with an invalid region.

[2018-01-21 22:18] ytn3rd commented on #208
@normj Even though you said it doesn't really matter, is there any page on AWS or specific commands we could run inside a lambda function to see what runtime version is currently running?

[2018-01-22 06:08] stoiveyp commented on #207
Not a problem. The project I was trying to deploy was at the link below.

I tracked down the break to when I changed the PackageReference for Alexa.NET from version 1.3.0 to version 1.4.2 - I wrote most of the code between those two versions, and there's nothing there that should cause trouble.

The deploy to Lambda VS tooling succeeds with both versions, but 1.3.0 executes successfully, I get a L

[2018-01-22 08:43] Ruszrok commented on #207
Yes, sure.
[code]
Custom: AwsLambdaOwin
[code]

[2018-01-22 11:08] swlasse commented on #98
@normj Thanks for this.

I think it is a great addition that we can now use `APIGatewayCustomAuthorizerContext` as a dictionary, however, I'm not sure how I should go about this when returning an `APIGatewayCustomAuthorizerResponse` in my custom authorizer?

In particular, when doing a custom authorizer, we can return an `APIGatewayCustomAuthorizerResponse` with the `Context` property being of typ

[2018-01-23 16:39] dls314 commented on #208
@Kralizek @normj

I haven't tried it, but It may be possible to specify the `<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>` flag to treat at least the ASP.NET Core (as opposed to .NET Core) related dependencies as self-contained for your application while still using the Microsoft.AspNetCore.All metapackage.

See, links for more:
https://docs.microsoft.com/en-us/

[2018-01-23 20:13] mabead opened #210 "`dotnet lambda package` does not allow custom parameters for the underlying `dotnet publish`"
When we build our .net core 2 assembly, we use the custom parameter `/p:Version=6.6.6` for the `dotnet build` and `dotnet publish` commands. This makes is possible to set the assembly version to 6.6.6.

Unfortunately, when we do a `dotnet lambda package`, it calls `dotnet publish` under the hood but it does not allow the `/p:Version=6.6.6` parameter to be passed all the way to `dotnet publish`. As

[2018-01-23 20:21] normj commented on #210
Agreed, we need a parameter for passing in additional parameters to the underlying dotnet publish command.

[2018-01-23 20:29] PaulColeman commented on #210
This might be of similar: I noticed that setting the C# version to 7.2 in
the csproj file is ignored by dotnet lambda publish... As far as I can
tell. I came across this when using the new async Main feature.

On Tue, Jan 23, 2018, 8:21 PM Norm Johanson <notifications@github.com>
wrote:

[2018-01-23 20:32] mabead commented on #210
FYI: before .net core 2, I didn't need to specify the option when doing a `dotnet lambda package` because in the pre-2.0 days, `dotnet publish` was not rebuilding the project. Therefore, the assemblies being published were the ones that were already built with the good assembly version.

See [here](https://github.com/dotnet/cli/issues/5331) for more information.

[2018-01-24 04:45] mercury-jin-autodesk opened #211 "Exception handling does not work for .Net Core 2.0 for Lambda and Step Functions"
According to [this example](https://docs.aws.amazon.com/lambda/latest/dg/dotnet-exceptions.html) in "AWS Lambda Developer Guide", custom exception can be caught by Step Function State's `Catch` clause using `ErrorEquals` with the custom exception type name.

This works for Node.js, .Net Core 1.0. But it does not work for .Net Core 2.0.

With .Net Core 2.0, it gets the following output on the step

[2018-01-24 09:24] raRaRa opened #212 "Memory leak or GC doing a poor job?"
Hey, I'm unsure what's causing the memory of my Lambda to grow over time. The first invocation takes about 263 MB, the next one 300 MB, 316 MB, 317 MB, ... 558 MB, ... 640 MB and crash. Please note that often it stabilizes around 500 MB, but then after 2 hours or so it peaks to the limit.

This Lambda is invoked every minute, and It's quite amazing how much the Lambda container is re-used, I was e

[2018-01-24 10:27] tsibelman commented on #211
You must return an exception that inherits directly from an exception for some reason. I personally don't understand the reason for this limitation. Also, the handling of exception thrown from async code is suboptimal, there no reason to present aggregate exception and not the real exception.

[2018-01-24 19:50] raRaRa commented on #185
I'm running into similar memory leak with .NET Core 2, but no exception is thrown AFAIK. Going to debug my issue further.

[2018-01-24 20:26] ibuchan72390 commented on #185
I find the best method of replicating the Lambda runtime environment is the code sample that normj posted above.  If you have a JSON execution you can pass to your Lambda that will definitively cause the failure after a couple executions, that will closely mimic the actions that Lambda is taking. If you can use that to try and replicate your issue locally, that's your best shot.  I had to spend ho

[2018-01-24 20:35] Shockolate opened #213 "How to configure LogLevel - .NET Core 2.0"
Hello,
How can I configure the LogLevel in my ASP.NET Core WebAPI using the BluePrint for .NET Core 2?

I have the default `appsettings.json` in the directory:
[code]
But I want to change Microsoft's LogLevel to Debug. I tried changing the string in that .json, and ran it locally, but the logger did not log any Debug statements.

It seemed intuitive with the .NET Core 1.0 configuration (Startup.cs

[2018-01-24 20:42] Shockolate commented on #213
I think that was my issue.
It is my understanding that the Lambda.Logging configuration is used only in the Lambda environment.
To configure _local_ logging, you need to add the standard logging configuration:
[code]

[2018-01-24 20:43] Kralizek commented on #213
You can add the ILoggerFactory as a parameter of the ’Configure’ function.

I never tried but I believe that the runtime will try to resolve any service that has been registered in the ‘ConfigureServices‘ method of added to the signature of Configure.

[2018-01-25 00:16] normj commented on #98
@swlasse I believe your issue is covered by this github issue https://github.com/aws/aws-lambda-dotnet/issues/159 which I still need to look into.

[2018-01-25 02:45] mercury-jin-autodesk commented on #211
@tsibelman Return an exception? But throw exception does work for .Net Core 1.0. It does not work for .Net Core 2.0 only. And I do derive from `System.Exception` for my `CustomError`
[code]

[2018-01-25 08:32] tsibelman commented on #211
I meant throw sorry, I encounter issue liked your when I used some of the basic exceptions from a framework like ArgumentNullException, but you say it not a case for you.

[2018-01-25 18:17] Shockolate opened #214 "NTH: UnitTest implementation of Amazon.Lambda.AspNetCoreServer"
# Nice To Have: Amazon.Lambda.AspNetCoreTestServer #
It would be convenient for my team to have a TestServer implementation that extends APIGatewayServer.
Similarly how there's a [TestServer](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.TestHost/TestServer.cs) in [Microsoft.AspNetCore.TestHost](https://www.nuget.org/packages/Microsoft.AspNetCore.TestHost).

This is so we can

[2018-01-25 21:13] andycmaj commented on #206
having a bit of trouble building so figured i'd ask here since i'm not seeing any obvious documentation for building this at home :)

[code]

is this an environment thing? can we not sign assemblies on osx or something?

[2018-01-26 04:15] #213 closed

[2018-01-27 02:03] gokarnm commented on #211
@mercury-jin-autodesk , I'm not able to replicate this issue with .NET Core 2.0. If I throw a custom exception I get the following output

[code]

Could you share the code snippet for a minimal repro, with code for Lambda function and the exception type?

[2018-01-27 02:16] gokarnm commented on #212
Which version of .NET Core is the Lambda function using? What does the Lambda function do, could you share a minimal repro? GC would be automatically triggered by the the runtime, so normally you don;t have to explicitly to a `GC.Collect`. You can see the GC collection count in .NET Core 2.0 using the following API.

[GC.CollectionCount(int generation)](https://msdn.microsoft.com/en-us/library/sys

[2018-01-27 08:50] codemaster commented on #168
I'm also receiving this error:

[code]

[2018-01-27 18:06] rabejens commented on #207
Glad to see that another one is having exactly the same problem. For me, I even can't use `Amazon.Lambda.Tools` newer than 1.8.1, it always says it can't resolve the package.

[2018-01-28 22:46] jasondaicoder opened #215 "Https support"
Hi guys,

Does this proxy support https protocol? I have set up the .net core webapi as lambda using this library and the api gateway as proxy to invoke the lambda via https. However I am always getting the below errors:

System.InvalidOperationException: The MetadataAddress or Authority must use HTTPS unless disabled for development by setting RequireHttpsMetadata=false.
at Microsoft.AspNetCore.A

[2018-01-29 03:18] mercury-jin-autodesk commented on #211
@gokarnm
Running the lambda function directly through Lambda console would result the expected error. But when I connect it into a state machine in Step Functions, the `Catch` clause does not work *only* for .Net Core 2.0.

My lambda function codes:
[code]

My state machine:
[code]

And the result
![screenshot-2018-1-29 step functions management console](https://user-images.githubusercontent.com/2

[2018-01-29 23:13] jasondaicoder opened #216 "Swagger docs expose when integrating with api gateway"
Hi guys,

I have a .net core web api which has its own swagger integration docs exposed via "swagger/v1/swagger.json" endpoint. It's deployed as lambda. I also have set up a api gateway which integrates with this lambda to expose it's all apis.

The problem I have is I can't access the swagger docs via the /swagger url. It always returns "message: forbibbden". I can definitely access the swagger i

[2018-01-30 02:22] normj commented on #216
Can you create a simple repo repository for me to take a look at?

[2018-01-30 02:25] normj commented on #215
We are passing the scheme in as https. For reference here is where that is done in code https://github.com/aws/aws-lambda-dotnet/blob/a2d895325dcfc5b41bfddbe322b24ea215c5b8c1/Libraries/src/Amazon.Lambda.AspNetCoreServer/APIGatewayProxyFunction.cs#L395.

If you can create a simple repo repository I'll take a look

[2018-01-30 02:40] normj commented on #208
@ytn3rd There is nothing AWS provided to determine the runtime version. You could probably check assembly versions but that will get tricky as assembly versions numbers are versioned independently of the overall .NET Core version.

I believe the original question is answered so I'm going to close the issue.

[2018-01-30 02:40] #208 closed

[2018-01-30 02:41] normj commented on #196
I'm going to close this as I believe the virtual methods added to the latest version will provide you the hooks you need to make the changes you want.

[2018-01-30 02:41] #196 closed

[2018-01-30 04:41] normj commented on #207
@Ruszrok I cloned your AwsLambdaOwin github repository updated the targetframework to netcoreapp2.0 updated the Samples.csproj to use 2.0.1 of Amazon.Lambda.Tools and I was able to perform dotnet lambda package with no errors on a mac. Is it possible you have a left over global.json file somewhere? Could you share a repo or a branch of AwsLambdaOwin that is having the problem?

@rabejens If you ar

[2018-01-30 07:01] normj commented on #214
Is the point of this provide an alternative implementation of **ConfigureServices** and **Init** for test purposes? Seems like that is possible now in your test projects to put the extended class in it, is there something blocking that?

[2018-01-30 08:35] Ruszrok commented on #207
@normj I am going to prepare repository this week.

[2018-01-30 15:28] Kralizek opened #217 "How to customize the JsonSerializer"
Hi,

I know that the JsonSerializer used in the LambdaSerializerAttribute is just forwarding the calls to a Newtonsoft.Json serializer. I'm in the need of customizing the settings used and I was wondering what's the best way to do so.

Should we create a new class inheriting from `Amazon.Lambda.Serialization.Json.JsonSerializer` ?

[2018-01-30 18:18] normj commented on #197
There is not a great answer for this right now. Right now how CLI extensions work they are based on a project. It looks like in .NET Core 2.1 they are going to address this issue and make tools be installed globally.

https://dasmulli.blog/2018/01/23/exploring-global-net-core-tools/?utm_content=buffer37bd1&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

[2018-01-30 18:55] normj commented on #207
@Ruszrok Thanks!

[2018-01-30 21:05] normj commented on #217
`Amazon.Lambda.Serialization.Json.JsonSerializer` doesn't have any virtual methods for you to customize. The reason the Lambda .NET Core's programming model is to have the `LambdaSerializer` attribute to declare the serialization is you can create your own implementation of `Amazon.Lambda.Core.ILambdaSerializer` and perform your own serialization.  So you can create your own implementation of that

[2018-01-31 00:58] genifycom opened #218 "Two lambdas produced"
So with the sample Serverless ASP.NET Core 2.0 app, we get two lambda functions

e.g.
TestServerless-RootPathFunction-1RSR608SQFG33
TestServerless-ProxyFunction-1BGHCA9RFTAS0

and these are linked in to two different parts of the API gateway, / and /{proxy+}

Is this always going to be the case?
What is the difference between the two functions?

[2018-01-31 01:29] normj commented on #218
The reason I added the second **AWS::Serverless::Function** was if there is only the /{proxy+} request going to just the root of the web application won't be handled.

The alternative is I can define the Lambda function in the CloudFormation independently as a **AWS::Lambda::Function** resource and then in a **AWS::ApiGateway::RestApi** resource reference the same function for both the / and /{pro

[2018-01-31 04:23] gokarnm commented on #211
@mercury-jin-autodesk , this is due to a bug in serializing exceptions thrown from a Lambda function. We are working on a fix which should be released soon.

Could you share the response from directly invoking your Lambda function when it throws an exception? There may be a workaround to unblock you while we push the fix.

[2018-01-31 04:55] mercury-jin-autodesk commented on #211
Running the lambda function directly, and I got the following.

![screenshot-2018-1-31 lambda management console](https://user-images.githubusercontent.com/20104911/35605771-ee45e0b6-0685-11e8-8964-e35bbddb7579.png)

[2018-01-31 06:52] Kralizek commented on #197
Wow! This would be great to have! Especially in a CI context, most of the dotnet commands work at solution level but lambda needs to be executed at project level...

[2018-01-31 15:18] genifycom commented on #218
Can we not just add a Mock resource in the API Gateway to direct the root call to the /{proxy+} call?

[2018-01-31 18:51] normj commented on #218
I'm not sure what you mean by a mock resource, can you provide some more details? Since there is no charge for additional functions what is the problem you are trying to solve?

[2018-01-31 20:30] jcastrocalvo opened #219 "'dotnet lambda package' without a razor view strips off dependencies"
When utilizing a aspnetcore project that does not serve or include any Razor views, dependencies for platforms outside of linux get stripped off.  A concrete example of this would be an aspnetcore based API.

Specifically, adding the following argument strips out dependencies that are needed on other platforms outside of linux:

`arguments.Append(" -r linux-x64 --self-contained false /p:PreserveCo

[2018-01-31 20:34] normj commented on #219
Can you explain the use case of using the Lambda packaging and deployment tools for other platforms besides Lambda? Including all of the Windows and Mac dependencies in a Lambda package bundle can greatly increase the size of the bundle.

[2018-01-31 22:36] genifycom commented on #218
I mean a mock resource like included below. I use them to redirect from example.com to www.example.com in API gateway.

I am just concerned that instead of one lambda function to keep track of there are now two. I guess since Visual Studio keeps track of updating both at the same time there should not be a problem.

I thought that it might make deployment a little faster if you only had to deploy

[2018-01-31 23:20] jcastrocalvo commented on #219
In our scenario we utilize the lambda package as a form of distribution of an api to other developer’s machines so they do not have to worry about the build process.  But in order to do this, we need the other runtimes.  Doing a `dotnet publish` and a `dotnet lambda package` would cover both of our cases. But it would be nice to use the same package that `dotnet lambda package` outputs for both of

[2018-02-02 04:36] andycmaj commented on #219
dupe of #206?

[2018-02-02 04:38] andycmaj commented on #206
still would like to make a PR for this but need a bit of guidance for dev setup

[2018-02-02 09:11] Ruszrok commented on #207
@normj I am unable to reproduce the issue right now. Everything works fine. I suppose that it was issue with nuget restore after framework was changed.
Close issue in dotnet cli: https://github.com/dotnet/cli/issues/2250

[2018-02-02 14:23] karadjov opened #220 "Template Substitions are not supported for YAML"
Currently Template Substitions are supported only for JSON.
https://github.com/aws/aws-lambda-dotnet/blob/911103991bb6c8b22216dc419f9cfb6986eaa764/Libraries/src/Amazon.Lambda.Tools/Utilities.cs#L450
This means we cannot use YAML if we want to use lambda **deploy-serverless** or **lambda package-ci**.

[2018-02-02 14:49] swlasse commented on #98
@normj, yeah, that looks right. At the moment we serialize our custom context into the `StringKey` parameter of the `APIGatewayCustomAuthorizerContextOutput`. It works, but its not ideal.

It could be nice though if we could send through Claims and see them getting picked up by the new ´Claims´ property on `APIGatewayCustomAuthorizerContext`.

[2018-02-03 00:55] normj commented on #220
Yes, I haven't implemented YAML substitution yet. Its on my list of things to do, a pull request is also welcome :)

[2018-02-03 00:57] normj commented on #180
I'm gonna close this because with .NET Core 2.0 Lambda support the driver issues with .NET Core 1.1 and .NETStandard.Library 1.6.1 go away.

[2018-02-03 00:57] #180 closed

[2018-02-03 02:09] normj commented on #206
Currently .NET Core does not let you do the strong name signing any other platform besides Windows.

I have been meaning to rework the build system so that signing is off by default and just have it enabled as part of our build script for release. You can work around that by changing the following line to false. Just don't make that part of the pull request. https://github.com/aws/aws-lambda-dotne

[2018-02-03 02:12] normj commented on #200
Closing as it looks like the question was answered. You can pass environment variables as part of the serverless template and also parameterize the template to pass them in as part of deployment. Using SSM is also a great option to use.

[2018-02-03 02:12] #200 closed

[2018-02-05 10:15] Danvlz opened #221 "Issues with client certificates on .NET Core 2.0"
I'm trying to connect to REST API using client certificate.
On AWS Lambda with .NET Core 1.0 I can call the API, but on **.NET Core 2.0 I am getting this error**:

Module "System.Net.Http.CurlHandler+SslProvider", line 28, col 0, in SetSslOptionsForUnsupportedBackend
    Void SetSslOptionsForUnsupportedBackend(EasyRequest, ClientCertificateProvider)
  Module "System.Net.Http.CurlHandler+SslProvide

[2018-02-05 18:07] oldnerd commented on #26
Did anything come of this?  I haven't found an example.  I'm able to catch the incoming requests via SNS/Lambda integration, but don't see an event class for this or a reponse class object

[2018-02-05 20:08] normj commented on #149
@alexzaytsev-newsroomly .NET Core 2.0 X-Ray support is out https://github.com/aws/aws-xray-sdk-dotnet There is are new version of the VS Toolkit and Lambda CLI tools to allow you to enable X-Ray in Lambda as well.

[2018-02-05 21:12] normj commented on #210
I released version 2.1.0 of **Amazon.Lambda.Tools** today which has a new **msbuild-parameters** switch which pass the values down to the **dotnet publish** command. Also any commandline arguments that start with **/p:** are assumed  to be msbuild parameters. So you can do `dotnet lambda package /p:Version=2.0.0`

[2018-02-05 21:16] normj commented on #160
**APIGatewayCustomAuthorizerRequest** was updated in version 1.1.2 of **Amazon.Lambda.APIGatewayEvents** to include the REQUEST type properties.

[2018-02-05 21:16] #160 closed

[2018-02-05 21:16] normj commented on #159
Version 1.1.2 of **Amazon.Lambda.APIGatewayEvents** was released today which adds this support.

[2018-02-05 21:16] #159 closed

[2018-02-05 21:35] gokarnm commented on #221
@Danvlz , are you able to replicate this outside of Lambda, on plain Amazon Linux (2017.03) or any other Linux distro? Would you be able to provide a self contained code sample that replicates this issue?

[2018-02-05 22:06] vellozzi commented on #221
This looks related to https://github.com/dotnet/corefx/issues/24232

[2018-02-06 14:18] danielfmsouza commented on #168
I'm also having the exact same problem reported above by @codemaster .

I compiled using .NET Core 2 (2.0.5).

Any updates on this?

[2018-02-06 15:56] dsartain18 commented on #168
@codemaster @danielfmsouza I haven't made any progress on it because it seemed that the problem was more with my version of the Serverless template. I didn't have the time to spend learning all of that yet. As it didn't seem to be code related, I had to stop working on it for the time being.

[2018-02-06 17:51] normj commented on #168
@danielfmsouza Can you provide a sample request to help us diagnose what is going on? I [mentioned up above](https://github.com/aws/aws-lambda-dotnet/issues/168#issuecomment-332897736) how you can enable an environment variable to capture the original JSON request to the CloudWatch Logs.

[2018-02-06 20:55] inabeel commented on #168
I have similar problem. I am trying to follow Blog API template from lambda. But when I post object through Postman. I get Null object in APIGatewayProxyRequest request's Body.

Secondly, It also throws exception when try to run Blog API code as it is "Must have one hash key defined for the table TableName\n   at Amazon.DynamoDBv

[2018-02-07 21:17] mabead commented on #210
I confirm that it works. I used version 2.1.0 of Amazon.Lambda.Tools + I added `/p:Version=6.6.6` to `dotnet lambda package` and it works like a charm.

Thanks for the quick fix!

[2018-02-07 21:17] #210 closed

[2018-02-07 22:32] jcastrocalvo commented on #219
@andycmaj sort of a duplicate. I would prefer to specify from the command line argument but I could settle for a project configuration.  Eventually both options could also be added.  I would be fine doing a pull request for either fix.  If you would like, I can start on your pull request first.

[2018-02-08 08:49] danielfmsouza commented on #168
@normj I've tested like you mentioned, and see what is happening:

1. When I try with a full proxy request from VS or just executing via Postman, I always get empty 200's responses (when it was supposed to return data). See the example below:
Request:
[code]
Response:
`{"statusCode":200,"headers":{"Content-Length":"0"},"body":"","isBase64Encoded":false}`

2. When calling from a ScheduledExecution,

[2018-02-08 19:05] vickityvik opened #222 "CloudWatch Logging Multiple lines for Exceptions"
I am not sure if this is the right place for this issue - let me know if it's not.

I've encountered an error when trying to log Exceptions to CloudWatch. The issue is that the Exception gets stored in CloudWatch as separate log entries, and not in a single one. The Exception in CloudWatch looks like this:

![image](https://user-images.githubusercontent.com/9965542/35992597-8dbf71d6-0cbf-11e8-90de

[2018-02-08 19:13] #219 closed

[2018-02-08 19:14] kcliffe opened #223 "dotNet lambda deploy-function exception AWSSDK.SecurityToken"
We're using the command:
dotnet lambda deploy-function --profile assume_role with AWS Lambda Tools for .NET Core functions (2.1.0)

## Expected Behavior
The lambda function is published to the region deployed in the .aws/config file

## Current Behavior
We receive the exception:
Error retrieving configuration for function Agrigate_Push: Assembly AWSSDK.SecurityToken could not be found or loaded. T

[2018-02-08 23:01] mabublue commented on #211
@gokarnm  Any eta on the fix for this bug? Thanks.

[2018-02-09 00:29] raban33 opened #224 "Lambda on .NET Core 2.0 with multiple Set-Cookie headers"
ASPNET Core 2.0 hosted on Lambda 2.0 Core( Ref: https://forums.aws.amazon.com/thread.jspa?threadID=205782) chokes on multiple headers and joins all the header values with "," separator. This is an issue and browser doesn't transmit those cookies back as the lambda response rendered is below
[code]
In order to have a workaround, What I did was Instead of consuming the nuget package of "Amazon.Lambd

[2018-02-09 12:54] swlasse commented on #159
Awesome, thanks for this @normj. Works perfectly! For info, this also solves my request in #98

[2018-02-09 13:10] swlasse commented on #98
With #159 resolved, we can now add a key-val pair to `APIGatewayCustomAuthorizerContextOutput` holding our own custom context serialized as a JSON string. Strictly speaking, we could do that before with the `StringKey` property, but the property name was a bit confusing.  With `APIGatewayCustomAuthorizerContextOutput` now deriving from `Dictionary<string, object>` we can set our own key, and name

[2018-02-09 14:55] Shockolate commented on #214
@normj Nope.
I readily admit my AspNetCore ignorance; I don't know if my solution is a workaround or an accepted pattern.
I also don't know if it makes sense to test the middleware itself (i.e. if unit testing the controllers, etc, is sufficient)

[2018-02-09 20:12] jbeck8176 commented on #164
@jyothi530 Thank you for leaving your comment. I had the exact same situation and you documenting it saved my day.

[2018-02-09 20:25] gokarnm commented on #211
Hi @mercury-jin-autodesk , the workaround is to disable PDB files, the file paths in the error response are not being serialized correctly. You can do this by setting the following in the csproj file.

[code]
@mabublue , I'm not able to provide an ETA. This issue is being prioritized and we should release a fix soon. Does the provided workaround help address the issue till we release a fix?

[2018-02-10 04:11] mabublue commented on #211
Thanks @gokarnm , I will give it a try.

[2018-02-10 04:57] normj commented on #223
Taking a look. I think we just need to add the AWSSDK.Securitytoken reference to Amazon.Lambda.Tools list of dependencies.

[2018-02-10 06:23] normj commented on #224
This is a clever work around to get around API Gateway's limitation but I'm not sure I want to add it directly into the package. Mostly I'm concerned of taking on the support of the workaround when I'm not sure how compatible this workaround is for all use cases.

You can do this work around without needing a custom copy of `APIGatewayProxyFunction` by overriding the `PostMarshallResponseFeature`

[2018-02-10 06:45] normj commented on #222
I'm not able to reproduce this issue.

To be clear are you using the NuGet package `Amazon.Lambda.Logging.AspNetCore` which uses the CloudWatch Log stream that the Lambda service associates with the function or are you using  `AWS.Logger.AspNetCore` which writes to a CloudWatch LogGroup you configured? In a Lambda environment `Amazon.Lambda.Logging.AspNetCore` is usually the appropriate one to use

[2018-02-11 02:41] mercury-jin-autodesk commented on #211
@gokarnm
The workaround works. Thank you.

[2018-02-11 14:56] cannontrodder opened #225 "dotnet lambda deploy-function always prompts for a IAM Role, even when set in the defaults"
If I use the following command, it runs non-interactively on subsequent deploys of my lambda function:

`dotnet lambda deploy-function MyFunctionName`

When I have my profile set in aws-lambda-tools-default.json like this:

`  "profile": "DotNetLambdaRole",`

I *always* get asked to select the profile during the deploy:

[code]

I wish to use this process to deploy from a CI server and while subse

[2018-02-11 19:15] cannontrodder commented on #225
Ah, allow me to answer my own silly question :-)

passing --function-role DotNetLAmbdaRole as a parameter explicitly defines the policy and avoids prompts.

[2018-02-11 19:15] #225 closed

[2018-02-11 20:00] normj commented on #225
In your CI you can also pass in  `--disable-interactive true` to prevent from ever prompting for input.

[2018-02-12 02:17] mabublue commented on #211
Hi @gokarnm
I have also tried the workaround successfully. Many thanks.

[2018-02-12 05:02] mkamrani opened #226 "Cannot get the querystring in Lambda"
I have a Lambda function integrated with API gateway as LAMBDA_PROXY. In the URL Query String Parameter section I have added a parameter (say par) but I cannot get that in my function based on [this](https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.APIGatewayEvents):

[code]
This is my CloudWatch log

Am I missing something? Any helps appreciated.

[2018-02-12 17:20] normj commented on #226
How are you running the function? The exception stacktrace says the null pointer exception happened on line 15 which is where you are accessing the ILambdaContext object. That could only be null if you were running it through a unit test or something outside of Lambda and were passing in at least a mock implementation of ILambdaContext.

If I have the wrong line number could you add the environmen

[2018-02-12 17:27] normj commented on #197
I'm going to close this as there isn't anything we are going to do now. When we have the Global tools feature in .NET Core we will revisit this idea. I don't want to do anything hacky now when there is a better long term solution coming.

[2018-02-12 17:27] #197 closed

[2018-02-12 17:29] vickityvik commented on #222
I wasn't - I was using `Serilog.AspNetCore`, as I have a requirement to also log to a file when running locally. However, I am not 100% set to using that, so I gave `Amazon.Lambda.Logging.AspNetCore` a shot.

Unfortunately, I am now not seeing any exceptions at all! To give you a bit of background, I have a Middleware class that will catch unhandled exceptions and create the correct response and l

[2018-02-12 17:29] normj commented on #207
Closing for lack of activity and unable to reproduce this. My best guess is a dotnet restore was not done after updating `Amazon.Lambda.Tools` because the stack trace indicates it was going down .NET Core 1.0 code paths. If anybody can provide a repo for me then we will reopen.

[2018-02-12 17:29] #207 closed

[2018-02-12 17:31] normj commented on #215
Closing for lack of activty

[2018-02-12 17:31] #215 closed

[2018-02-12 17:34] normj commented on #167
Closing as I believe @Shockolate has answered. Add the stage as a parameter to your CloudFormation template. (serverless.template)

[2018-02-12 17:34] #167 closed

[2018-02-12 18:38] tsibelman commented on #197
Thank you, Norm for the information we would be waiting for this.

[2018-02-12 22:18] normj commented on #168
I just released version 2.0.1 of `Amazon.Lambda.AspNetCoreServer` that has some new defensive code in there for marshalling that should help this issue. Please update your dependency and retry.

[2018-02-12 22:19] normj commented on #223
I just released version 2.1.1 of `Amazon.Lambda.Tools` that adds the AWSSDK.SecurityToken dependency to it so assume role will now work.

[2018-02-12 22:19] #223 closed

[2018-02-12 22:48] mkamrani commented on #226
Actually the exception is not about the `ILambdaContext` , but it's the `APIGatewayProxyRequest` argument which is not populated. I tested this claim with providing a request body model, which let's me read some properties of both arguments.

[2018-02-12 22:51] normj commented on #226
Okay if you can add the `LAMBDA_NET_SERIALIZER_DEBUG` environment variable to capture the request I'll take a look at why it isn't being marshalled correctly.

[2018-02-13 01:53] mkamrani commented on #226
Thanks for the prompt response. I just deployed the API again, after double checking everything and deployed the Lambda again and now it's working! Really have no idea what was the issue, as everything looks very straightforward.

[2018-02-13 01:53] #226 closed

[2018-02-13 05:27] codemaster commented on #168
Thank you, @normj! I updated my `Amazon.Lambda.AspNetCoreServer` package to 2.0.1, kicked off a dotnet restore/build/publish and reuploaded my Lambda function. Sadly, I still encounter the error:

[code]

[2018-02-13 08:29] danielfmsouza commented on #168
@normj Thank you! I've updated the packages (also Lambda.Tools) and it's working fine now!

Thanks!

[2018-02-13 18:11] arndklocker opened #227 "Move the code out of the APIGatewayProxyFunction in a 'start' method!"
I want to set a variable in my derived class, but at the moment the default constructor is called and all other methods are initialized before my variable in the derived class is set. Is it possible to move the code out of the consturctor in a 'start' method?

Background: I want to set the 'ASPNETCORE_ENVIRONMENT' with the 'InvokedFunctionArn' from 'ILambdaContext'. I have an working implementaton

[2018-02-13 19:02] mipnw opened #228 "dotnet lambda deploy-function fails to find an existing role"
I'm going through the following tutorial:
https://docs.aws.amazon.com/lambda/latest/dg/lambda-dotnet-coreclr-deployment-package.html

I created the lambda function using
dotnet new lambda.EmptyFunction --name MyFunc --profile MyRole --region MyRegion

MyRole is an existing IAM Role which has the attached AWSLambdaBasicExecutionRole policy.

dotnet restore
dotnet lambda deploy-function MyFunc –-fun

[2018-02-13 19:50] Aerendel opened #229 "dotnet-lambda package needs a --no-restore option"
The *dotnet lambda package* (and by extension, this could apply to any other dotnet-lambda command that runs `dotnet publish` under the hood) could benefit from a `--no-restore` option that would be passed to the `dotnet publish` command.

Since 2.0, `build` and `publish` commands run a `restore` implicitly, so the dotnet team added a --`no-restore` flag for scenarios where you do not want an impl

[2018-02-13 21:17] normj commented on #229
With the 2.1.0 version of `Amazon.Lambda.Tools` you can use the `--msbuild-parameters` switch to pass arguments to the `dotnet publish` command. So you can run

[code]

[2018-02-13 21:50] normj commented on #227
I'd recommend in your derived class to overwrite the `PostCreateContext` method and set the environment variable in that. There are several other PostX methods that you can overwrite to customize the transformation from API Gateway to ASP.NET Core.

[2018-02-13 21:56] normj commented on #228
Sounds like there is some confusion between `profile` and role `role`. **Profile** is your named credentials stored in our ~/.aws/credentials file or registered in the Visual Studio toolkit that are used to deploy the function to Lambda. **Role** is what provides credentials to your executing function.

[2018-02-13 22:00] mipnw commented on #228
Got it. Thanks!

[2018-02-13 22:33] Aerendel commented on #229
@normj thanks for the information! Was this actually documented anywhere? Because I did try and look for different options that were available but I did not find anything in the CLI help or in this repository's readme files - so I would love to know if I missed something entirely, or if this is an opportunity to improve the documentation.

[2018-02-13 22:58] normj commented on #229
This was done just recently for another GitHub issue. https://github.com/aws/aws-lambda-dotnet/issues/210

If you do `dotnet lambda help package` you can see the switch
[code]

Admittedly it was added to pass in msbuild parameters but the `--no-restore` switch  works as well. Maybe I should have named it something different.

Another thing to follow is the [RELEASE.CHANGELOG.md](https://github.com

[2018-02-14 07:14] arndklocker commented on #227
`PostCreateContext` is to late, this method is called in `FunctionHandlerAsync`. I want to set some varialbes before the base constructor does initializing.

`protected APIGatewayProxyFunction(bool autostart = true)
        {
            if(autostart)
            {
                Start();
            }
        }`

[2018-02-14 07:53] normj commented on #227
Okay so the code in question is here: https://github.com/aws/aws-lambda-dotnet/blob/0bf318e67ae269e10e61f65811711fafd25d029c/Libraries/src/Amazon.Lambda.AspNetCoreServer/APIGatewayProxyFunction.cs#L83-L97

I assume what your need is have the environment variables set before the WebHost is built, possibly because it affects how the configuration object is built.

And what you need is this code in t

[2018-02-14 08:13] arndklocker commented on #227
Yes sounds good. Can you make a new nuget package with this feature?

[2018-02-14 19:13] noahhai opened #230 "Add support for app settings"
Would this be possible?

[2018-02-17 06:21] #228 closed

[2018-02-18 05:05] codemaster commented on #168
@normj Any update on this? Is there anything I can do to provide additional information on this issue?

If it helps, here are the packages that my project is utilizing:

[code]

[2018-02-19 03:51] normj commented on #230
Can you give more details about what you mean by support for app settings?

[2018-02-19 03:51] #229 closed

[2018-02-19 19:05] noahhai commented on #230
This may be instead a request for the AWS Lambda team, regarding this issue:
https://stackoverflow.com/questions/46879797/app-config-in-an-aws-lambda-function
(App.config is not respected by Lambda).

I noticied the issue when using System.Configuration.ConfigurationManager nuget package in a .net core 2.0 Lambda; the ConfigurationManager loads the app settings when running locally, but it errors

[2018-02-20 06:39] LaTtEX commented on #221
Is there any plan for AWS to fix this? It looks like this isn't an upgrade path issue, but Lambdas using NSS, as .NET Core is looking for an OpenSSL backend.

[2018-02-20 12:01] zaccharles commented on #211
The workaround also worked for me. It would be nice if this, and `async` not returning `AggregateException` would be fixed. I'm currently manually unwrapping `AggregateException` before throwing from a synchronous entry point. It's a bit silly.

[2018-02-22 14:30] YashChatterjee commented on #149
We are experiencing a big issue with AWS Lambda with .Net Core 2.0. I have tried searching and reading a lot of articles, but no resolution yet. The issue is if the Lambda Init() fails with some exception once, then the subsequent requests to this Lambda keep failing. Only a fresh deployment of the Lambda function fixes the issue. Unfortunately, we can't afford a fresh deployment of the same Lambd

[2018-02-22 14:39] jrstill commented on #230
Any reason you can't use environment variables for your deployed lambdas?  Dotnet core has good support for merging all the places it can get config from, so we set ours up to pull in environment variables last.  Devs can use app config locally during development, but then the deployed ones skip that and we set everything in environment variables.  As a bonus, if you find you need to tweak a confi

[2018-02-22 18:45] normj commented on #149
@YashChatterjee Can you open a separate GitHub issue for this. Adding comments to already closed issues are likely to get lost and forgotten.

[2018-02-22 19:01] YashChatterjee opened #233 ".Net Core 2.0 Lambda Init() doesn't get called for subsequent requests after first Init() call fails with some exception"
We are experiencing a big issue with AWS Lambda with .Net Core 2.0. I have tried searching and reading a lot of articles, but no resolution yet. The issue is if the Lambda Init() fails with some exception once, then the subsequent requests to this Lambda keep failing. And point to note is that Init() doesn't get called with the subsequent requests and we keep getting Http 504. Only a fresh deploym

[2018-02-22 19:04] YashChatterjee commented on #149
Thanks @normj Opened another issue: https://github.com/aws/aws-lambda-dotnet/issues/233

[2018-02-22 21:25] gokarnm commented on #233
@YashChatterjee, could you provide a minimal sample code that demonstrates the issue? Could you also share the stack trace, logs from CloudWatch logs for your first invoke (please remove any confidential data).

[2018-02-22 21:39] YashChatterjee commented on #233
@gokarnm Here is my test Lambda Init().

[code]

[2018-02-22 21:58] YashChatterjee commented on #233
As you can see in the logs here, the console.WriteLine() didn't get called when I called the Lambda next time.
![image](https://user-images.githubusercontent.com/34089409/36566368-4d9d57c2-1849-11e8-9389-aed0bbdd1a80.png)

[2018-02-23 19:22] raban33 commented on #224
sorry for the late response but I tried before going down this path and this didn't work and had to resort to the above option

[2018-02-25 03:16] codemaster commented on #168
I was able to figure out what was going on: I needed to have an API Gateway trigger the Lambda function with the proper URI. Triggering the lambda via a test payload wouldn't work because the lambda test functionality has no knowledge of a URI, hence the error.

[2018-02-27 18:56] neekgreen commented on #216
I am having the same issue.

[2018-02-27 19:00] neekgreen commented on #216
Did you make any progress with this @jasondaicoder?

[2018-02-28 08:33] CrazyBaran opened #235 "Amazon.Lambda.AspNetCoreServer different behaviour on local and AWS"
Hello AWS Team,

There is some problem with your implementation of LambdaEntryPoint, behavior is diffferent than this which is on LocalEntryPoint. To recreate this case you need to made CustomAttribute:

[code]

If you test this CustomAttribute with localEntry you will see that StatusCode is set, but when you debug this on AWS you will get 0 cause something work in different order. I investigate t

[2018-02-28 17:11] PaulDMendoza commented on #230
@noahhai My solution ended up being to just move away from ConfigurationManager references in my app and put everything in environment variables. It took a few days but in the end it was worth it. Environment variables are the way to go for configuration instead of App.Config. It makes it easier to run your app in a Docker Container or to stick it in Lambda. I'd suggest just biting the bullet and

[2018-02-28 18:04] n8allan opened #236 "stackTrace strings aren't being escaped on exception"
If the stack trace includes JSON escape characters (such as "\" characters as part of a Windows path included in a debug build), such characters aren't being escaped ("\\") and thus invalid JSON is being produced.

Here is an example error:
[code]

Reproduction:
1. Build a C# lambda function under debug in Windows.
2. Have said function throw an exception

[2018-02-28 22:10] szilvaa opened #237 "Plus ("+") in URL is replaced with space (" ")"
## Expected Behavior
Plus ("+") warrants no special treatment in the URL outside of the  query string. I should receive plus ("+") in my lambda.  .net core 1.0 lambdas don't do this, only .net core 2.0 exhibits this behavior.

## Current Behavior
It appears the lambda hosting code replaces plus ("+") with space (" ") which then gets further encoded as %20. See cloudwatch log:
[code]
## Steps to Re

[2018-03-01 19:59] normj commented on #237
I have reproduced the problem. I'll take a look into a fix.

[2018-03-01 20:55] rslangham commented on #216
Same problem, please update if you find a fix.  I am able to access the json directly, e.g.   ..  https://...../Prod/swagger/v1/swagger.json .  Since API Gateway supports swagger, was thinking something magic about the "swagger" path.  But, using the info from this page,  http://eatcodelive.com/2017/05/19/change-default-swagger-route-in-an-asp-net-core-web-api/ ,  I changed it to  "swag"  and stil

[2018-03-01 21:01] jasondaicoder commented on #216
Not really guys. I thought it could be because api gateway is supposed to act for web api only but not for UI related. I ended up with hosting the UI somewhere else but pointing to the swagger json file of the project through api gateway. It works.

[2018-03-01 21:03] rslangham commented on #216
Thanks.  Hmm, kinda pain to have to do this :)  I do have a regular MVC home controller and Index page as part of my deploy and it works fine.   Yep, I was just reading on a post where a person thought may be related to where the response was not json, but my Index page works fine.

[2018-03-01 21:06] jasondaicoder commented on #216
With my solution you actually only need to deploy the UI once. As long as you load the json file from your project you don’t need to do anything anymore. We host the UI files on S3. Maybe AWS team can fix the issue later.

[2018-03-01 21:08] rslangham commented on #216
interesting..  you can deploy a .net core ui on S3 without a running kestrel?  figured the swagger was kinda a runtime thing and needed to support the running dlls etc,  e.g. not just a static set of files

[2018-03-01 21:10] jasondaicoder commented on #216
@normj, the project is just a normal c# weapi with Lamdba entry point. Nothing really special. I will try to create a sample repository on GitHub later. I don’t think anything wrong with my project to be honest as other people are having the same issue. I think it could be some conflicts with api gateway builtin swagger docs.

[2018-03-01 21:12] jasondaicoder commented on #216
@rslangham no you don’t need to deploy your project. All you need is to download the swagger ui static files which you can get from swagger site ( maybe a link to GitHub which you can find on swagger site).

[2018-03-02 01:10] tobyhei commented on #230
Does this issue also affect AppSettings.json and AppSettings{environment}.json etc? I don't think only supporting environment variables is a robust enough solution, dotnet core with docker has excellent support using appsettings for configuration instead of environment variables, and forcing people to move to environment variables for lambda specifically makes it a lot less desirable.

[2018-03-02 20:32] rslangham commented on #216
@jasondaicoder  thanks for the suggestion on using the swagger ui static files.  I did this using a different implementation and it worked.  I downloaded the swagger ui files and put them under my project wwwroot/swaggerui. In the Startup.cs Configure(..) I enabled static files access, e.g.  app.UseStaticFiles.   I modified the swagger ui index.html embedded javascript to use window.location.href

[2018-03-02 22:37] vellozzi commented on #236
We're working on a fix for this and will get it released as soon as possible.

[2018-03-03 05:07] raban33 commented on #230
When .NET core 2.0 is deployed on to lambda, it doesn't honor the environment variables as far as appSettings.{env.EnvironmentName}.json is concerned and always picks appSettings.json. However the environment variable for ASPNETCORE_ENVIRONMENT is correctly read in rest of the program, is this the known issue?

[2018-03-05 14:49] Porubay commented on #13
Hello everyone!
I made an article were I compare Python vs PHP vs Java vs Ruby vs C#.
Can you check it and say your opinion about it? (This is not a purely technical material, but more generalizing for beginners)
https://www.cleveroad.com/blog/python-vs-other-programming-languages

[2018-03-05 15:35] genifycom commented on #13
This article was not helpful for me.

Firstly, it was not a comparison. The title on the page says "ADVANTAGES OF USING PYTHON OVER OTHER LANGUAGES" so it is clearly NOT a comparison.

Secondly, THERE IS NO ONE LANGUAGE THAT FITS ALL REQUIREMENTS!

For example, building complex frameworks with a scripting language is incredibly difficult. Your point about Python as in "We can say that Python is a

[2018-03-06 08:29] normj commented on #235
I was able to reproduce the issue but not sure yet why it is happening but I'll keep investigating.

[2018-03-06 15:51] mabead opened #239 "Guideline for background threads handling"
We are hosting a REST API inside of a lambda as described [here](https://aws.amazon.com/blogs/developer/serverless-asp-net-core-2-0-applications/). Within an API call, we usually trigger code that executes in the background in order not to slow down the API call. For example, all analytics events are sent to a queue that is flushed once in a while as described [here](https://segment.com/docs/sourc

[2018-03-06 18:24] normj commented on #239
There is no way to return data back to the caller of the Lambda function, in this API Gateway, and continue running code in your Lambda function. Can you have your Lambda function that is handling the request coming from API Gateway invoke another Lambda function to do the analytics work and then return back to API Gateway?

[2018-03-07 16:29] Porubay commented on #13
genifycom and SpoonOfDoom Thank you for your opinion, I will take this into consideration.

[2018-03-07 19:53] mabead commented on #239
@normj We _could_ fire another lambda function but that would involve a lot of changes in a code base that is already working perfectly in non-serverless (i.e. docker) mode. It would be "unpleasant" if we have to do lots of change to port this API to a lambda hosting.

To give more context, here are three things that I can remember of that require background processing:

**1- send logs to loggly**

[2018-03-08 13:53] mbp opened #240 "Getting binary support working in blueprint ASP.NET Core Web App"
I am having some problems getting binary support working with the ASP.NET Core 2 integration.

So I tried with the "ASP.NET Core Web App" blueprint, and it actually contains a `favicon.ico` file, which is not displayed when published.

I think the blueprint should work out of the box in the same way as running on your own machine. Or maybe you should just remove the favicon.ico.

I read the instru

[2018-03-08 16:07] CameronFiederer opened #241 "Congrats on releasing .Net Core 2.0!"
Not really an issue, but a recent performance test is showing off just how awesome the latest release was: https://read.acloud.guru/comparing-aws-lambda-performance-of-node-js-python-java-c-and-go-29c1163c2581

[2018-03-09 01:16] normj commented on #241
Very cool

[2018-03-09 01:32] normj commented on #239
Using the OnComplete is not going to give you want you want. It is called when the final response is created and about to be returned to API Gateway. I know it is not the true meaning of when this is supposed to be called but it is the best we can do in a Lambda context.

I would be careful about maintaining states in queues in a Serverless environment because you can never predict when the comput

[2018-03-12 11:09] MBeasM commented on #216
Hi there, I'm having the exact same issue, I hope it's resolved soon.

[2018-03-13 23:11] szilvaa opened #242 "ASPNETCORE_ENVIRONMENT=Development forces logging behavior appropriate for local deployment"
We deploy our code to 3 environments: development/staging and production. We set the `ASPNETCORE_ENVIRONMENT` variable in these lambda environments to Development, Staging and Production respectively.

# Expected behavior
We expect **no difference** in CloudWatch logs in development/staging/production environment unless we explicitly configure different logging ourselves.

# Current behavior
Loggi

[2018-03-15 20:36] mbp commented on #240
I resolved this issue when talking to AWS Support.

The solution:
After changing "Binary Media Types", you must go and click "Deploy API":

![image](https://user-images.githubusercontent.com/77322/37489738-e24a1f68-2898-11e8-86f4-bb6366ce43a8.png)

[2018-03-15 20:36] #240 closed

[2018-03-16 00:12] mipnw opened #243 ".NETCORE 2.0 Lambda Invocation throws "Could not find the required deps.json.""
I deployed a [.NET CORE 2.0](https://aws.amazon.com/blogs/developer/aws-lambda-net-core-2-0-support-released/) C# project to AWS Lambda using the [AWS Toolkit for Visual Studio 2017](https://marketplace.visualstudio.com/items?itemName=AmazonWebServices.AWSToolkitforVisualStudio2017).

The AWS Toolkit, upon successfully completing the deployment, opens a Visual Studio tab to test the invocation of

[2018-03-16 00:38] mipnw commented on #243
I believe I found the bug.

The AWS Toolkit for Visual Studio 2017, when it publishes, produces a file named <function-name>.deps.json, where <function-name> is the name of the function the user specifies via attribute "function-name" in aws-lambda-tools-defaults.json.

But the AWS Lambda runtime looks for a file named <Namespace>.deps.json where <Namespace> is the C# namespace the user specified

[2018-03-16 01:23] mipnw commented on #243
Nevermind, I misunderstood how to properly format attribute `function-handler` in `aws-lambda-tools-defaults.json`. It's `<assembly>::<namespace.type>::<function>`, not `<namespace>::<type>::<function>`.

So one can indeed have an assembly name that is not identical to one's namespace, without hitting this FileNotFound exception.

[2018-03-16 01:23] #243 closed

[2018-03-16 03:10] jasondaicoder opened #244 "Can .net core Lambda application access certificate directory?"
Hi guys,

I have a .net core 2.0 application which is built as Lambda and needs to access the certificate store as below

[code]

When the service launches, I got the below exceptions

[code]

I wonder if it's because AWS doesn't allow Lambda service to access some certain resources/directories.

The original question was raised at https://github.com/aspnet/Home/issues/2965

Any suggestions?

Than

[2018-03-16 10:15] PaulColeman opened #245 "Debugging Invocation Errors that don't appear in the logs"
Does anyone have ideas how to debug invocation errors that don't appear in CloudWatch logs?

I am seeing cases where a lambda seemingly randomly will fail to invoke 1 to 7 times, incrementing the CloudWatch lambda error count, but no invocation (START, END, or REPORT) appears in the CloudWatch logs for the lambda. Nothing appears in the deadletter queue either.

I have 40ish similar lambdas and 8

[2018-03-16 16:30] TonyHenrique opened #246 "How to debug in Visual Studio 2017 my AWS Serverless ASP Net Core 2.0 WebAPI"
I wrote a simple  ASP Net Core 2.0 WebAPI and published to AWS Serverless

How can I connect Visual Studio to this remote deployment to debug?

[2018-03-16 16:32] TonyHenrique opened #247 "Can not connect to MongoDB Atlas"
I wrote a simple AWS Serverless ASP Net Core 2.0 WebAPI
This connects to a MongoDB Atlas Database. But it is not working. It is giving timeout.
I test locally and it Works. I publish to Azure it Works.

I suspect this is being caused by AWS CloudFormation firewall .

When I publish to AWS Serverless , it gives error:

502 Bad Gateway

{
    "message": "Internal server error"
}

I checked the logs,

[2018-03-16 16:59] raban33 commented on #247
@TonyHenrique, this seems like role your lambda is running if its set to doesn't have access to your database resources, since role is null in yoir serverless template, it generates it randomly. You will need to go to IAM and change policy to have access to Mongodb, Also ensure you are setting lambda to right VPC.

[2018-03-16 17:11] TonyHenrique commented on #247
I checked IAM and could not find a MongoDB, is there a blog posting showing how to connect to MongoDB Atlas from AWS Lambda ASP Net Core 2.0 ?

[2018-03-16 17:19] raban33 commented on #247
@TonyHenrique Not sure on MongoDB(perhaps outbound internet connection) but essentially for Dynamo you would just give dynamoDb: * to access all resources for dynamo.

[2018-03-16 17:34] TonyHenrique commented on #247
At the moment the application was already developed on Mongo, and need to access port 27017 on *.mongodb.net

[2018-03-16 17:37] raban33 commented on #247
@TonyHenrique  can you verify if lambda has outbound internet connection and then perhaps look into the incoming traffic on to mongodb?

[2018-03-16 17:57] TonyHenrique commented on #247
I published the same Project to Azure and it Works.
On AWS it seems to be firewall blocked.

How to enable address / ports on firewall so I can connect to Mongo Atlas ?

[2018-03-16 18:10] Kralizek commented on #247
Are the lambda function and the mongo database hosted both in vpc or both in EC2 classic?

[2018-03-16 18:12] TonyHenrique commented on #247
No. I published the ASP Net Core to AWS Lambda,
but the MongoDB is hosted on Mongo Atlas Service (https://www.mongodb.com/cloud/atlas)

So My ASP NET Needs to access
port 27017 on *.mongodb.net

[2018-03-16 18:28] Kralizek commented on #247
Is your lambda in a vpc with no internet access? Can you do a get to www.google.com?

I never tried mongo atlas.

[2018-03-16 18:48] jaydestro commented on #247
@TonyHenrique it looks like a connection string issue but i've asked a team member to confirm

[2018-03-16 18:52] rlondner commented on #247
@TonyHenrique I confirm it looks like a connection string issue. Where did you configure it in your code and more importantly, which value did you assign to it? (you should mask the auth credentials in that connection string if you plan to paste it here).

The `"Unspecified/cluster0-shard-00-00-3lmjx.mongodb.net:27017"` is the red flag here so we'd have to know where your Lambda function is retrie

[2018-03-16 19:15] TonyHenrique commented on #247
The connection does not contains that "Unspecified"

It appears only on AWS error. Also I know it is not wrong connection, because it Works locally, and also on Azure. Only on AWS this error appears.

The error is a Timeout error. Looks like a Firewall issue.

[2018-03-16 19:24] jaydestro commented on #247
@TonyHenrique recommend you go onto the slack @rlondner mentioned or open a jira with MongoDB support https://jira.mongodb.org

Did you open the whitelist for your lambda connection in Atlas?

https://docs.atlas.mongodb.com/security-whitelist/

[2018-03-17 07:03] normj commented on #247
I noticed in the Mongo DB docs that it says for the C# driver on .NET Core it can't connect to the free tier and a couple other cluster configurations in Linux. Lambda is a Linux environment so could that be the problem?

![image](https://user-images.githubusercontent.com/1653751/37552630-71032924-2976-11e8-8bf6-f91d8af62c0b.png)

[2018-03-17 07:04] normj commented on #245
Would it be possible to narrow down the the time window when these happen and provide the account id used?

[2018-03-17 07:28] PaulColeman commented on #245
Thanks Norm. On one occasion it happened between *2018-03-15 19:56:00*
and *2018-03-15
20:13:00* UTC. I think it happen all clustered within seconds but I'm not
exactly sure where in that range it happened.

688458520130 is the id.

On Sat, Mar 17, 2018 at 7:04 AM Norm Johanson <notifications@github.com>
wrote:

[2018-03-18 23:15] jasondaicoder commented on #244
UPDATE:

I was suggested by @natemcmaster to set HOME to be the /tmp folder. I added "HOME" with value "/tmp" in environment variable settings of Lambda Console. Is it possible to set the HOME folder like that?

[2018-03-18 23:33] jasondaicoder commented on #244
Per my testing, setting "HOME" environment works.

[2018-03-18 23:33] #244 closed

[2018-03-18 23:34] jasondaicoder commented on #244
With the solution provided by @natemcmaster. Issue resolved.

[2018-03-19 15:14] bjorg commented on #13
Here's another opinion more favorable to .Net Core:
https://read.acloud.guru/comparing-aws-lambda-performance-of-node-js-python-java-c-and-go-29c1163c2581

[2018-03-20 12:25] cjnoname commented on #240
Hey bro, I followed your steps but still could not get the image/icon.

Did you do anything more than what you said?

Thanks!

[2018-03-20 12:33] mbp commented on #240
Yeah, actually you need to set BinaryMediaTypes to `*/*` when trying to show the image in the browser.

BinaryMediaType `image/x-icon` will only work if client sends `Accept` header. Here is a way to test:

    $ curl -sH "Accept: image/x-icon" https://XXX.execute-api.eu-west-1.amazonaws.com/Prod/favicon.ico -o /tmp/favicon.ico
    $ file /tmp/favicon.ico
    /tmp/favicon.ico: MS Windows icon reso

[2018-03-20 12:38] cjnoname commented on #240
Thank you so much for your reply!!! It's working like a charm.
Got the idea. Thanks again for helping me to solve this headache!

[2018-03-22 06:30] normj commented on #246
There is no support for remote debugging with Lambda. On our list of things we would like to work on is integrate our Lambda tooling in Visual Studio with the the [AWS SAM Local project](https://github.com/awslabs/aws-sam-local) which recently added support for .NET Core 2.0

[2018-03-22 06:30] #241 closed

[2018-03-22 06:31] normj commented on #239
Closing for lack of activity

[2018-03-22 06:31] #239 closed

[2018-03-22 06:38] normj commented on #218
Closing as I believed answered. In the future I might rework the template.

[2018-03-22 15:09] genifycom commented on #218
Ok Norm. It would certainly help if there was only a single function.

[2018-03-23 01:03] Petermarcu opened #248 "Two Lambda functions created"
@genifycom opene this here: https://github.com/dotnet/core/issues/1238

Two C# lambda functions created

When I publish, I see that two Lambda functions have been created. One is xxx-RootPathFuction-yyyy and the other is xxx-ProxyFunction-yyy

The root path one is attached to / in the API Gateway and the proxy one connected to a proxy resource.

Is this always going to be the case or have I done s

[2018-03-23 06:10] normj commented on #218
I changed my mind and I'm going to reopen this as a enhancement request. I was thinking about this more and I think it might be worth switch away from AWS::SERVERLESS::FUNCCTION the lower level CloudFormation resources. Another advantage I was thinking is we could configure a path in the API Gateway to an S3 bucket for static content like images.

Here is a basic example of what the template would

[2018-03-23 08:17] CrazyBaran commented on #248
Related to #218

[2018-03-23 17:13] normj commented on #248
Closing as this is a duplicate of #218. Thanks for letting us know about it Peter.

[2018-03-23 17:13] #248 closed

[2018-03-23 17:20] raRaRa opened #249 "Which versions of Microsoft.AspNetCore.All is supported?"
Hey,

I'm curious about what versions of `Microsoft.AspNetCore.All` is supported. The latest version from Microsoft is `2.0.6`, and AFAIK `2.0.3` is only available in the Lambda runtime. Of course I could create self-contained deployment with the latest version but I would rather reduce the size of my Lambda as much as possible.

Thanks.

[2018-03-23 18:02] normj commented on #249
Actually Lambda was just recently updated to version 2.0.5 and I have just now updated the control file that our tooling uses to say what versions of Microsoft.AspNetCore.All you can reference to include 2.0.5.

We are rolling on to getting 2.0.6 deployed.

[2018-03-23 20:21] Pelias2525 opened #250 "Publishing Static Files to S3"
Since modification of static files such as images, javascript, and css are a large part of the development lifecycle and [it is recommended](https://aws.amazon.com/blogs/developer/serverless-asp-net-core-2-0-applications/) that developers store those static files in S3 instead of being accessed directly through lambda, would it be possible, as part of the publication process, to specify an S3 buck

[2018-03-23 20:44] normj commented on #250
I agree this is an important feature we need to smooth out the work flow for running web apps on Lambda.

[2018-03-24 17:22] clouddra commented on #216
Observing the same issue as well.

[2018-03-25 17:31] ebekker commented on #87
Any progress on this?  Maybe time to just move over to the new bits now?

[2018-03-26 20:55] normj commented on #237
Version 2.0.2 of Amazon.Lambda.AspNetCoreServer was just release that fixes this issue. Thanks for letting us know about the issue.

[2018-03-26 22:36] vellozzi commented on #236
The fix for this issue has been deployed to production.

[2018-03-26 22:36] #236 closed

[2018-03-26 23:03] vellozzi commented on #211
The fix for this issue has been deployed to production.

[2018-03-26 23:03] #211 closed

[2018-03-27 03:33] ryanwilliams83 opened #251 "Typo serverless.template"
"function to get add a blog" -> "function to add a blog"

https://github.com/aws/aws-lambda-dotnet/blob/master/Blueprints/BlueprintDefinitions/Msbuild-NETCore_1_0/DynamoDBBlogAPI/template/src/BlueprintBaseName/serverless.template

[2018-03-27 19:21] normj commented on #251
Thanks! I have committed the fix so it will go out the next time I publish the templates https://github.com/aws/aws-lambda-dotnet/commit/775a3504aab6e1e446d4d8b00696eb21b4168246

[2018-03-27 19:21] #251 closed

[2018-03-27 19:28] normj commented on #249
Closed as I believe answered for now. We will keep rolling new versions out as they are released but we can't give a timeline as it is dependent on many factors.

[2018-03-27 19:28] #249 closed

[2018-03-28 17:14] vldmr-bus opened #252 "Adding triggers to project based on ASP.NET Core Web API Serverless Application template"
What would be a proper way to add handlers for triggers other than API Gateway to an application created from the ASP.NET Core Web API Serverless Application template?

[2018-03-28 18:53] mabead opened #253 "Constructor of LambdaEntryPoint throws exception: Error unmarshalling response back from AWS"
We are  hosting a .net core 2.0 REST API inside of a lambda as shown [here](https://aws.amazon.com/blogs/developer/serverless-asp-net-core-2-0-applications/). We were 5 developpers using the final application and at some point the lambda started failing. I tried to use the "Test" button of the API Gateway inside of the AWS Console and I saw the following error:

[code]

Do you have any idea of wha

[2018-03-28 20:13] mabead commented on #253
We redeployed the lambda and the lambda now works correctly.

Is this a know issue?

This API lambda is currently **not** used by our users but we were planning to turn it on next week. We are a little bit scared of having this problem randomly...

[2018-03-29 06:16] normj commented on #253
Seeing the `System.Activator.CreateInstance` call in the stack trace seems like some resource added to the ASP.NET Core dependency injection system is failing to be created. If a CreateInstance is being done at the constructor level, meaning the ASP.NET Core initialization phase where it the code in startup.cs is invoked. It is most likely something being added as a singleton.

Is there anymore in