[2022-03-28 10:26] vanghern commented on #1122
![image](https://user-images.githubusercontent.com/15214962/160378909-4ed5b48c-06b4-48c9-b88b-abc165b90a41.png)
Credentials on the screenshot.
Token is not expired. It's provided before the start of testing session, and is active for 12h.

[2022-03-28 15:11] napalm684 opened #1126 "Executable Assembly Functions Not Processing Events - JetBrains Rider"
## Description
Following the instructions here https://github.com/aws/aws-lambda-dotnet/tree/master/Tools/LambdaTestTool#configure-for-jetbrains-rider to setup JetBrains Rider along with instructions found in the dotnet 6 test tool UI (see Documentation link) results in events being queued that never process/execute.

## Reproduction Steps

aws-lambda-tools-defaults.json
[code]

launchSettings.jso

[2022-03-28 16:09] ashishdhingra commented on #1122
@vanghern From the stack trace you shared earlier, looks like you are connecting to DynamoDB in your Lambda function and it is quite possible that the configured credentials does not have required permissions for the executed operation in the Lambda function. Could you check the IAM permissions for the temporary session credentials for DynamoDB operation?

Also, for further troubleshooting, please

[2022-03-28 21:03] ashishdhingra commented on #1126
Hi @napalm684,

Good afternoon.

Could you please share the sample code and the request(s) from Lambda Test Tool UI which are queued but never executed for you? This appears to be a basic scenario and should work.

Thanks,
Ashish

[2022-03-29 09:46] vanghern commented on #1122
@ashishdhingra
Here are the details:
1. Piece of code that is failing
  var search = this._dynamoDb.ScanAsync<Tenant>(new ScanCondition[] { });
2. serverless application, but the config is set to check only 1 specific lambda function
3. it is empty
4. This is actually a good question. Could you please tell me how it should looks like, from Mock Tool perspective? I'm consuming this lambda on the fr

[2022-03-29 12:54] napalm684 commented on #1126
@ashishdhingra
I need some time to pull together a post-able repro for you.

[2022-03-29 15:42] alancosta-iress opened #1127 "IHostApplicationLifetime ApplicationStarted OnStarted not being reached/not registered"
## The Question

### Environment

* Build Version:  7.0.1
* OS Info:  Windows 10
* Build Environment:  Visual Studio 2019
* Targeted .NET Platform: netcoreapp3.1

---

The `IHostApplicationLifetime` is not available when the Lambda entry point is initiated via `APIGatewayProxyFunction` base class. Is this by design? We want to wait for services configuration to be finished to finally have some ini

[2022-03-29 18:07] napalm684 commented on #1126
So this produces the issue for me:

- Install templates `dotnet new -i Amazon.Lambda.Templates`
- Run `dotnet new lambda.EmptyTopLevelFunction --name <your pick>`
- Open the project in Rider and add a _launchSettings.json_ under a `Properties` folder in the project
- Take the sample _launchSettings.json_ above and put those contents in updating for your directory paths
- Take the contents for _aws

[2022-03-29 19:30] ashishdhingra commented on #1122
Hi @vanghern,

Good afternoon.

Unfortunately, I'm unable to reproduce the issue. Used the following steps:
1. Created a simple DynamoDB Lambda project using AWS templates.
**Function.cs**
[code]
**.csproj**
[code]
**aws-lambda-tools-defaults.json**
[code]

2. Configured a new credentials profile with session credentials (these credentials have Admin access):
[code]
4. Created DynamoDB table `test

[2022-03-29 19:43] ashishdhingra commented on #1111
This should be fixed in [AWSLambdaPSCore 3.0.1.0](https://www.powershellgallery.com/packages/AWSLambdaPSCore/3.0.1.0).

[2022-03-29 19:43] #1111 closed

[2022-03-29 21:45] ashishdhingra commented on #1127
Need to check with the team on this limitation.

[2022-03-30 08:39] alancosta-iress commented on #1127
Okay, that is **not** an issue with AspnetCoreServer. I misplaced an asynchronous call in OnStarted. Nothing to do with the host coming from the base class. Closing it.

[2022-03-30 08:39] #1127 closed

[2022-03-31 07:52] vanghern commented on #1122
I'm not using Windows SDK Store for credentials. And also I don't know what else information I should provide, because your setup looks like mine, but for me it doesn't work.

[2022-03-31 15:57] ashishdhingra commented on #1122
@vanghern I'm unsure what more guidance to provide here. Looks like your credentials are resolved from a different location. You may try using a different Windows user for testing purposes, use AWS CLI to configure the named profile with the said Admin session credentials (taking note of default credentials profile chain location) and then use Mock Lambda Test tool to see if it works.

Thanks,
Ash

[2022-04-01 08:05] vanghern commented on #1122
@ashishdhingra
So here is the thing:
If I take the Credential file and create multiple profiles, with different configuration, and then I pick each of them in Mock Lambda Test Tool, I'm getting different errors. So Test Tool is definitely taking something from Configuration file.
However, we did a workaround - Hardcoded our credentials in .cs file and we are resolving MFA -> aws session token that

[2022-04-01 14:28] ashishdhingra commented on #1122
@vanghern Do you happen to have duplicate parameter names in the same profile by any chance? I have seen issues in such cases, e.g., have duplicated region parameter. Also did you try using a different user profile with clean state as mentioned in my previous comment? I'm unsure on what more guidance could be provided here.

[2022-04-01 21:50] danielbichuetti opened #1133 "AspNetCoreServer HTTP request body empty"
## Description
Request body is not being correctly deserialized using WebApi blueprint. It's always null. If passing pure string, them it reads

## Reproduction Steps
1. Create Lambda ASP.NET Core Web Api.

2. Add one complex type and then try to get it on post
`
public class Test
{
  public string value;
}
`
`
// POST api/values
[HttpPost]
public void Post([FromBody] Test testObject)
 {
    retur

[2022-04-01 22:47] danielbichuetti commented on #1133
When using ASP.NET Minimal API Template which uses AspNetCoreServer.Hosting and AddAWSLambdaHosting, it worked fine. Issue is only on old way of doing it.

[2022-04-02 00:09] normj commented on #1133
I just tried to reproduce the issue and my post worked correctly. My suspicion is Amazon.Lambda.AspNetCoreServer 7.1 didn't get packaged in the Lambda function and instead 7.0 went in. Can you confirm the NuGet package is updated and be sure to do a Save All in VS before launching the deploy wizard. I'm guessing the package was updated but the csproj file wasn't saved yet to disk.

Here is what I

[2022-04-02 01:43] danielbichuetti commented on #1133
Hello @normj!

I have just made another test. This time I manually run dotnet clean and rebuild, before publishing. I'm making use of VS 2022 Preview 2.0. I think this was related to the updated package not being built repeatedly.

I remember some years ago one issue with VS not doing proper cleaning before rebuilding after saving. I'll test VS later and report to MS if I find anything.

I appreci

[2022-04-04 14:15] moltar commented on #245
Having the same issue on Node 14. Nothing in the logs at all, yet alarms get tripped.

[2022-04-04 16:40] #1133 closed

[2022-04-04 19:38] ashishdhingra commented on #1126
Appears to be reproducible. Not sure if additional action needs to be taken to process Queued events.
<img width="1421" alt="Screen Shot 2022-04-04 at 12 24 03 PM" src="https://user-images.githubusercontent.com/67916761/161617101-99168390-c6b2-4b86-b322-172453eebcc8.png">

Visual Studio Code appears to have the same issue. (Visual Studio for Mac 2019 cannot be tested since it doesn't support .NET

[2022-04-05 15:57] bryanjhogan opened #1135 "Escaping of string parameter different for `dotnet lambda-test-tool-6.0...` and `dotnet lambda invoke-function...`"
## Description
Invoking a Lambda function that takes a string as a parameter from the `lambda-test-tool` requires different escaping than invoking the real Lambda from `dotnet lambda invoke-function`.

## Reproduction Steps
Create a new Lambda from the template `lambda.EmptyFunction`.
Deploy to AWS Lambda.

### Command Prompt
Run `dotnet lambda invoke-function EmptyFunction --payload ""hello""`, o

[2022-04-05 22:39] #1122 closed

[2022-04-06 18:59] genifycom commented on #1092
Any update on being able to run hosted Blazor in AWS Lambda?

[2022-04-06 19:04] genifycom commented on #1092
Can a repo collaborator reopen this please. I really need hosted Blazor in Lambda and I provided a simple example. This is not the whole story but I have tried to get some traction on this in multiple issues.

Now that we have DotNet 6, this should work.

[2022-04-06 19:35] genifycom commented on #1092
Thank you :)

[2022-04-07 04:53] wahmedswl opened #1137 "Ajax invoke support in .NET Mock Lambda Test Tool"
### Describe the feature

Currently we can test via payload when The AWS .NET Mock Lambda Test Tool is ran. Is there any option that we can invoke it externally eg: via ajax request to hook into the debug cycle transparently.

### Use Case

It will enable transparent debug cycle from Browser to Lambda Function albeit via some tweak to payload etc if required.

### Proposed Solution

_No response_

[2022-04-07 16:35] ashishdhingra commented on #1137
Hi @wahmedswl,

Good morning.

Thanks for the feature request. I'm not sure if this feature is feasible but I will review it with the team. While I cannot commit on the timeline, but would post any updates here.

Regards,
Ashish

[2022-04-07 17:16] wahmedswl commented on #1137
Hi, feasible mean cannot support or weird/unrealistic etc? Lambda Test Tool has all the features, current for test payload need to be copy-pasted. Just having api endpoint that can be directly invoked will open up it for direct consumption.

Thanks

[2022-04-07 17:28] wahmedswl commented on #1137
Hi, https://github.com/aws/aws-lambda-runtime-interface-emulator project kinda does this i guess, but it depends on the Docker. So, having this directly here would help a lot.

Thanks

[2022-04-08 19:22] sl-omideidivandi commented on #1126
I have same problem in VS2022 and VsCode
I'm just running the example form Aws Blog to test top level statement and ca not reach the code locally from Test tool

[2022-04-08 23:55] ganeshnj commented on #363
Lambda Annotations library is out in preview. Please check https://www.nuget.org/packages/Amazon.Lambda.Annotations/0.5.0-preview

If you any feedback, feel free to create an issue.

[2022-04-08 23:55] #363 closed

[2022-04-09 07:20] belgab1980 opened #1140 "typo in APIGatewayEvents.ProxyRequestContext property"
### Describe the bug

ConnectionAt is not deserialized correctly

### Expected Behavior

ConnectionAt property set to the returned value

### Current Behavior

ConnectionAt always set to 0

### Reproduction Steps

Just run a WebSocket API

### Possible Solution

rename ConnectionAt to ConnectedAt or add an alias in order to not break code that uses the current name.

### Additional Information/Con

[2022-04-09 07:49] belgab1980 opened #1141 "deserialization issue affecting APIGatewayCustomAuthorizerContext"
### Describe the bug

Not able to consume values returned by a Lambda Authorizer; they are not there even if they are present in the input JSON

### Expected Behavior

Dictionary properly set with keys and values

### Current Behavior

No values

### Reproduction Steps

Websocket API with an authorizer; try to access any authorizer context property (like principalId)
Use the new "Amazon.Lambda.Ser

[2022-04-13 06:52] normj commented on #1092
I'm not able to reproduce your exact issue which I think has something to do with your environment. I think a bigger problem is once you get past the environment problem the lambda publish will fail because we pass in a runtime to the publish command of `linux-x64` to reduce the dependency bundled. The .NET CLI fails for this in this situation because it pass that runtime to the WASM project which

[2022-04-13 17:15] ashishdhingra commented on #1140
Hi @belgab1980,

Good morning.

Could you please share the sample code for the Lambda function to troubleshoot the issue? Looking at [aws-lambda-java-events > APIGatewayV2WebSocketEvent](https://github.com/aws/aws-lambda-java-libs/blob/a9819fb50b2926ad9e31a30f4365cdc8be9d4023/aws-lambda-java-events/src/main/java/com/amazonaws/services/lambda/runtime/events/APIGatewayV2WebSocketEvent.java#L228), th

[2022-04-13 18:18] belgab1980 commented on #1140
Hi Ashish,

I’m using a Websocket API Gateway.

This is from the code I’ve download a few days ago

\aws-lambda-dotnet-master\Libraries\src\Amazon.Lambda.APIGatewayEvents\APIGatewayProxyRequest.cs

…

            /// <summary>

            /// The Epoch-formatted connection time in a WebSocket API.

            /// <para>

            /// This field is only set for WebSocket API requests.

[2022-04-13 18:39] ashishdhingra commented on #1140
@belgab1980 I think instead of modifying existing class, we need to have separate `APIGatewayWebsocketProxyRequest` as shown in [Go](https://github.com/aws/aws-lambda-go/blob/a0b8edad15ca314981ef1bcbc0b58283191dcbf9/events/apigw.go#L169) repository. This needs review with the team.

[2022-04-13 18:50] ashishdhingra commented on #1140
Just for reference, [API Gateway WebSocket API mapping template reference](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-mapping-template-reference.html) specifies `$context.connectedAt` parameter.

[2022-04-14 20:53] ashishdhingra commented on #1141
This might be the outcome of https://github.com/dotnet/runtime/issues/30969 where per https://github.com/dotnet/runtime/issues/30969#issuecomment-535779492, `TypeNameHandling.All`-equivalent functionality was intentionally left out.

[2022-04-14 22:11] belgab1980 commented on #1141
Hi Ashish,

This is most likely the reason why it’s not deserialized; in this case it’s not a bug.

The APIGatewayCustomAuthorizerContext does indeed define a Dictionary<string, object> (so the value in the pair is not deserialized by the new implementation, while the old JSON based one does most likely assume it is a string)

The APIGatewayCustomAuthorizerContext class as defined is unusable with

[2022-04-15 10:38] Dreamescaper opened #1144 "Amazon.Lambda.Logging.AspNetCore should support structural json logging"
### Describe the feature

I should be able to use structural logging with lambda logger.

### Use Case

I'd like to use structural logging either with CloudWatch Insights, or with third party system (e.g. DataDog).

### Proposed Solution

Add Json lambda logger to DI via smth like this:
[code]

This logger should support logging "state" object:
`logger.LogInformation("Saving entity {entityId} by u

[2022-04-15 20:17] ashishdhingra commented on #1141
Need to investigate if we can have custom converter to handle `Dictionary<string, object>` type for a scenario.

[2022-04-16 00:13] #780 closed

[2022-04-17 00:15] #694 closed

[2022-04-17 23:25] rhyek opened #1146 "Can't find an example of how to create a dockerfile using the dotnet Lambda Runtime Interface Client"
### Describe the issue

The page [Deploy .NET Lambda functions with container images](https://docs.aws.amazon.com/lambda/latest/dg/csharp-image.html) provides a [link](https://github.com/aws/aws-lambda-dotnet/blob/master/README.md) to "downloading" the Runtime Interface Client for dotnet, but there are no instructions on how to construct a custom Dockerfile with the client or is there anything to

[2022-04-18 01:21] rhyek commented on #1146
Node is pretty straightforward, too: https://www.npmjs.com/package/aws-lambda-ric

In both Nodejs and Python cases there are clear examples of what to install and what to set the `ENTRYPOINT` to in the dockerfile.

[2022-04-18 02:49] danielbichuetti commented on #1146
@rhyek Hello ! I'm sorry to get into this issue. But I know you are trying to get Playwright to work with. On the other   ##repository, I've sent the sample for Dockerfile. I think I can help you here too. Please see this Docker file into this repository:

[Link to Dockerfile](https://github.com/aws/aws-lambda-dotnet/blob/master/LambdaRuntimeDockerfiles/sample/Sample/Dockerfile)

I think you are m

[2022-04-18 03:03] rhyek commented on #1146
Thanks. My comment here is about a different strategy where I want to have a playwright docker image as base and then install the lambda runtime interface client and invoke that as the ENTRYPOINY to the container (and the lambda handler as CMD) like you do when using the official aws lambda container images.

Please see the provided python and nodejs examples.

[2022-04-18 03:11] danielbichuetti commented on #1146
Yes, but the way you invoked the function is not the correct one. C# handlers should be invoked the same way, using Playwright base image or the Lambda base image. There is the point I noticed on your Dockerfile last time I took a look.

Please see this:

[code]

It's on the last lines of the sample Dockerfile.

[2022-04-18 03:12] rhyek commented on #1146
That is not the case whe running executable assemblies. Eg Top level statements, minimal apis in dot net 6.

[2022-04-18 03:14] rhyek commented on #1146
They way I wrote the CMD works when using the official lambda container images with my project.

[2022-04-18 03:15] danielbichuetti commented on #1146
Oh, I see. You are using top-level statements. So it's the assembly name, correct.

[2022-04-18 03:17] danielbichuetti commented on #1146
Have you taken a look at https://github.com/aws/aws-lambda-dotnet/tree/master/LambdaRuntimeDockerfiles ?

Lambda base image is a dotnet image with RIC installed. I'll take a look at building from scratch the image and not using Lamba base image.

[2022-04-18 03:19] danielbichuetti commented on #1146
Here is the Dockerfile with RIC being installed:

[code]

[2022-04-18 13:28] danielbichuetti commented on #1146
@normj Hi! Playwright is a full-fledged testing tool for web apps. It's a great plus on end-to-end testing. It supports many browsers (not emulating, but “connecting” to then), supports local and remote testing, even mobile. Furthermore, it has a simple install and test workflow. Even has one container image ready to use.

Tests that act exactly like user on frontend. But there are other use cases

[2022-04-19 13:07] brendonparker opened #1148 "Enhance MarshalRequest/InvokeFeatures to setup the IHttpRequestIdentifierFeature"
### Describe the feature

Enhance the Lambda to AspNetCore handoff to include either (or both) the `AwsRequestId` from the `ILambdaContext` and the `TraceId` from the `LambdaContext`.

### Use Case

This will help log correlation with things like AWS X-Ray, or other AWS Logs that are capturing the RequestId.

### Proposed Solution

1. Enhance `Amazon.Lambda.AspNetCoreServer.Internal.InvokeFeatures

[2022-04-19 13:08] brendonparker commented on #1148
Here is the discussion: https://github.com/aws/aws-lambda-dotnet/discussions/1147

[2022-04-19 19:28] speterson-zoll opened #1150 "Error with ASP.NET 6.0 Web API to Lambda"
### Describe the bug

When creating an ASP.NET 6.0 Web API app, packaging it and pushing it up to a Lambda function via the console, I get this error when testing:

"errorMessage": "A public method named 'ConfigureProduction' or 'Configure' could not be found in the 'Program' type."

### Expected Behavior

I expected the Lambda to run and return "Hello World" from my Home controller

### Current B

[2022-04-19 20:12] jaknor commented on #979
Hey @normj ! First of all great work on this! Looks like a really intersting approach.

In the announcement [blog post](https://aws.amazon.com/blogs/developer/introducing-net-annotations-lambda-framework-preview/) it says `This means you don’t have to worry about function handler strings not being set correctly in CloudFormation templates or lose focus while coding to also update your CloudFormati

[2022-04-19 21:09] ashishdhingra commented on #1150
Hi @speterson-zoll,

Good afternoon.

I'm unsure if you are using the correct templates. The simplified way to create .NET Serverless WebAPI project that uses AWS Lambda is:
- To install the AWS .NET CLI project templates using command `dotnet new -i Amazon.Lambda.Templates`.
- Use `dotnet new serverless.AspNetCoreWebAPI` to create a basic barebones project with tests that includes a sample `Value

[2022-04-20 13:22] speterson-zoll commented on #1150
Thanks you very much; your worked just fine.   I was able to use the default template for 3.1, but not for 6.0.

[2022-04-20 13:22] #1150 closed

[2022-04-20 20:09] Dreamescaper opened #1151 "WebApplicationFactory alternative for Annotations framework"
### Describe the feature

Microsoft provides WebApplicationFactory for AspNetCore in-memory integration testing. I think something similar could be done for AspNetCore lambdas.
It would parse generated (or created manually / via CDK) cloud formation template, and create an HttpClientHandler, which would route requests to corresponding lambda handlers instead of making actual http requests.

It sho

[2022-04-20 20:58] ashishdhingra commented on #1151
@Dreamescaper Thanks for submitting feature request. While we could not commit on the timeline by which this request could be reviewed, feel free to contribute a PR that could be reviewed by the team.

[2022-04-20 21:35] teenahjob opened #1152 "Is AddAWSLambdaHosting only for minimal API or it will also work with AP IWith controllers"
### Describe the issue

I have few question
a) AWS server less template for VS 2022 creates a project of type executable and adds LambdaEntryPoint ,LocalEntry Point with startup?
Why is it creating project type as an executable? Why is there no way of using Program.cs and we have to use Startup which is .net core 3.1 way of doing this.
Documentation is not clear.
2)If I Create .net core API projec

[2022-04-21 00:16] #1092 closed

[2022-04-21 04:56] ganeshnj commented on #1087
This is half story, even if the initialization goes out of the first request. It has to be done at some point which is now during the the user code loading step. On a cold VM, this will happen during the first request which essentially have the same impact.

Although, I agree with more idiomatic way of initialization the function and this approach seems reasonable.

[2022-04-22 17:33] toddlang opened #1154 "Directory.build.props heirarchy is not respected"
### Describe the bug

When packaging a lambda using `dotnet lambda package`, if the target project does not include a `<TargetFramework>` node (because it is defined in a Directory.build.props at a higher location) the packaging tool fails saying it does not know what framework to use.

`Missing required parameter: --framework`

### Expected Behavior

The tool will understand that MSBuild can walk

[2022-04-26 00:15] #855 closed

[2022-04-26 04:13] PeterKneale opened #1155 "Function handler name incorrectly generated in serverless.template when using Amazon.Lambda.Annotations"
### Describe the bug

Function handler name incorrectly generated
Functions in the root of a project generate correctly, functions in folders append the folder name (name space to the assembly name)

### Expected Behavior

A function in the root should generate
[code]
A function in the namespace `Stores.Functions`
[code]

### Current Behavior

A function in the root generates:
[code]
A function in

[2022-04-26 06:11] normj commented on #1155
Thanks for reporting the issue. I was able to reproduce and we'll work on getting the issue fixed.

[2022-04-26 09:44] PeterKneale opened #1157 "Parameters to lambda functions named `request` cause source generators to fail"
### Describe the bug

When naming a parameter to a lambda function `request`, the source generators fail. `request` is such common name for a single request parameter that others are bound to hit this issue.

### Expected Behavior

I expect the below signature to be valid
[code]

### Current Behavior
Using this signature results in an error when compiling

[code]
- dotnet build
[code]

### Reprodu

[2022-04-26 17:18] normj commented on #1157
Good catch, you are right `request` is too common and we should avoid collisions.

[2022-04-27 00:58] normj commented on #1157
PR is merged and will go out in the next release. Thanks for the great feedback!

[2022-04-27 01:04] normj commented on #979
@jaknor you are correct we haven't added YAML support but it is planned to be added.

You can configure the location of the CloudFormation template using the `aws-lambda-tools-defaults.json` file and setting the `template` property to the CloudFormation template. Do you think you need more control then that to configure the location of the CloudFormation template?

[2022-04-27 07:17] #1157 closed

[2022-04-27 07:19] #1155 closed

[2022-04-27 20:37] normj commented on #1152
When we updated the templates for .NET 6 we did not change the existing ASP.NET Core template which has always had the 2 different entry point classes as you described. We thought there were lots of users already used to that style and there are a lot of docs and blog posts out in the wild describe how to build ASP.NET Core Lambda function that way. So we created a separate template using the Mini

[2022-04-27 20:40] jaknor commented on #979
Thanks for that @normj  At the moment we don't really use the `aws-lambda-tools-defaults.json` file for anything but I think it should give us enough control over the template location for our needs.

I did run into another issue though. If I set the template location to a different folder (I.E. `"template": "..\\template.yaml"`) then the CodeUri property of the lambdas does not appear to take thi

[2022-04-27 20:55] olexxxiy commented on #613
Thanks, this actually helped.

[2022-04-27 20:57] normj commented on #1148
Thanks for the great feature request. I like the idea of having the `HttpContext.TraceIdentifier` match the X-Ray trace ID. I think we should aim to do that.

As far as customization goes in the older style of writing ASP.NET Core Lambda functions you used to be able to override methods from a base class to customize the marshalling between API Gateway and ASP.NET Core. That ability got lost in th

[2022-04-27 21:29] normj commented on #979
@jaknor The `CodeUri` properties in the template should be relative to the location of the template file. If that is not what you are seeing then can you file a separate issue so we don't lose that bug in this thread?

[2022-04-27 21:37] aarya-stamps commented on #1070
![image](https://user-images.githubusercontent.com/81991608/165635306-11f5753a-20fa-4709-b300-4981be171c4a.png)

I am not seeing version 1.0.1 in my nuget. Please help. New to lambdas.

[2022-04-27 21:44] aarya-stamps commented on #1070
Is there a workaround? I need this to finish my project.
Thanks

[2022-04-28 00:25] brendonparker commented on #1148
Yes, some config or extensibility hooks may solve parts of this.

Let me know if I can be of more help, create a PR, etc.

[2022-04-28 07:53] TommyN opened #1160 "Timeout doesn't seem to be respected"
### Describe the bug

We have a net6.0 Lambda function (512MB Memory) with a timeout set to 2 seconds.
For some reason the timeout value doesn't seem to be respected:

--------------------------------------------------------
|                                             @message |
|------------------------------------------------------|
| Task timed out after 2.53 seconds   |                |
| Ta

[2022-04-28 15:04] bloggsie commented on #1070
Have the same issue.
Cloned the code from this file with custom namespace removing the reference to AWS KafkaEvent making sure Partition property data type is int.
Works
https://github.com/aws/aws-lambda-dotnet/blame/b49dfae373538aad2811340cd2a03b478cb59318/Libraries/src/Amazon.Lambda.KafkaEvents/KafkaEvent.cs#L46

[2022-04-28 16:05] jaknor opened #1161 "Invalid CodeUri generated by .NET Lambda Annotations Framework (Preview)"
### Describe the bug

If you set the template path in `aws-lambda-tools-defaults.json` to a different folder (for example the folder one level above the projects with the lambda code), then the CodeUri path of the lambdas in the generated template is incorrect. The result of this is that commands such as sam build fails with an error message (`No .NET project found in directory`)

The expected res

[2022-04-28 17:45] jwarhurst commented on #979
Are you forced into CloudFormation template? I love the built in DI, but would prefer to use CDK.

[2022-04-28 21:59] normj commented on #979
We want to support more then CloudFormation. CDK is tricky because then we have to figure out how to generate the CDK code within project, so we might have to make some assumptions. One of things we have thought of is to to generate a metadata JSON file that would contain all of the function handler strings generated. Then you could use that metadata to update your CDK code with the generated func

[2022-04-28 22:15] RichiCoder1 commented on #979
A nice MVP would just be a simple way/package that maps handles generated values accessible to functions. Agree that full on generating CDK code would be very hard, and possibly undesirable as I imagine if you're using the CDK you're doing it for full control.

In theory you could probably do this today by reading the mangled handle and src that are generated from CDK, it's not super nice.

[2022-04-28 23:13] normj commented on #979
Agree that Annotations library should be useful users to more then just CloudFormation users. We also want to use the Annotations and source generators to make it easier for coding event handling as well. We have been doing that for API based functions but we should be able to do this for other event types.

I thought if we wrote the metadata in JSON you could read that JSON in your CDK code and d

[2022-04-29 00:29] RichiCoder1 commented on #979
That would def be a path forward! It'd be pretty easy to make (and I could PoC as a community contribution) a package which knows how to consume that and pass it to `Function` from the lambda lib. And maybe do some verification that there are constructs present in the current stack that align with what's attribute'd, if that makes sense.

[2022-04-29 00:30] RichiCoder1 commented on #979
You sorta can with CDK include, but it's pretty hacky for sure.

[2022-04-29 06:48] NRKirby opened #1162 ".NET6 test tool hangs when run Debug"
### Describe the bug

In a simple Lambda project I have I can run the test tool without a debugger fine:

![image](https://user-images.githubusercontent.com/6445534/165896788-42a6cb40-6a4d-4bcb-8ce4-39d1a94cbc60.png)

When I run it with Debug (in Rider) the test tool hangs and doesn't make any progress:

![image](https://user-images.githubusercontent.com/6445534/165896823-ad7f7588-a36f-4493-95b8-7

[2022-04-29 18:56] sudarshankonge opened #1164 "Unable to pass query string parameters to .NET Core Web API running in Lambda"
### Describe the bug

1. I have a Lambda function which is running a .NET Core Web API app from a container image. I am using .NET 6 for the Lambda.
2. I am using Lambda proxy integration with API gateway.
3. One of my APIs takes two query string parameters named `start` and `end`,
![image](https://user-images.githubusercontent.com/97505647/166007327-4eb97c7f-4241-4827-9d35-c1f318edc1a9.png)

4. I

[2022-04-29 20:05] ashishdhingra commented on #1164
@sudarshankonge Could you try the URL https://xxxxxxx-api.ap-south-1.amazonaws.com/Dev/api/v1/stock-exchange/nse/time-series/INFY?start=2022-04-26&end=2022-04-30 (notice capital `D` in `Dev`) and see if it works? If this doesn't work, please share the sample code to troubleshoot the issue.

[2022-04-29 23:27] ashishdhingra commented on #1164
@sudarshankonge Somehow I'm unable to reproduce the issue. Here are the brief steps used for testing:
1. Using Visual Studio 2022, created a Serverless WebAPI project that targets .NET 6.0.
2. Replaces the default generated `ValuesController` with the following code:
[code]
4. Published the project to AWS Lambda. Default publishing process generates `Prod` and `Stage` stages.
5. Tested the URL `ht

[2022-05-01 00:18] #843 closed

[2022-05-02 06:41] TommyN commented on #1160
This happened 16 times over the last 4 days.
The Lambda function was invoked 25M times, so I don't have a sample that will easily provoke the issue.

![image](https://user-images.githubusercontent.com/4880611/166194163-0ed58561-95a1-4a15-a12a-a99ddb29a0ee.png)

[2022-05-03 02:54] ashishdhingra commented on #1048
We have implemented new [Amazon.Lambda.MQEvents version 1.0.0](https://www.nuget.org/packages/Amazon.Lambda.MQEvents/1.0.0).

[2022-05-03 02:54] #1048 closed

[2022-05-03 02:56] ashishdhingra commented on #1084
This has been added in Amazon.Lambda.TestTool-X.0 version `0.12.2`.

[2022-05-03 02:56] #1084 closed

[2022-05-03 02:57] ashishdhingra commented on #1070
Fixed in [Amazon.Lambda.KafkaEvents version 1.0.1](https://www.nuget.org/packages/Amazon.Lambda.KafkaEvents/1.0.1)

[2022-05-03 02:57] #1070 closed

[2022-05-03 02:59] ashishdhingra commented on #1052
Changes released in [Amazon.Lambda.Annotations 0.5.1-preview](https://www.nuget.org/packages/Amazon.Lambda.Annotations/0.5.1-preview)

[2022-05-03 02:59] #1052 closed

[2022-05-03 03:01] ashishdhingra commented on #1140
Fixed in [Amazon.Lambda.APIGatewayEvents version 2.4.1](https://www.nuget.org/packages/Amazon.Lambda.APIGatewayEvents/2.4.1)

[2022-05-03 03:01] #1140 closed

[2022-05-04 04:47] ashishdhingra commented on #850
No auto close.

[2022-05-05 11:02] savva312 commented on #1126
Hello, I am having the same issue, is there an update on this yet?

[2022-05-05 12:35] PeterKneale commented on #1157
@normj tested in `0.5.1-preview` - working nicely

[2022-05-05 12:36] PeterKneale commented on #1155
@normj tested in `0.5.1-preview` - working nicely

[2022-05-06 14:29] ggaller opened #1169 "Support for Lambda function URLs"
### Describe the feature

The AWS Lmabda team recently added a new feature - [function Urls](https://docs.aws.amazon.com/lambda/latest/dg/lambda-urls.html). It would be great to support it in this library.

### Use Case

FunctionUrls implies that one function can handle several different HTTP requests. This allow using Lambda for HTTP handling without API Gateway which greatly simplifies the cloud

[2022-05-07 00:52] normj commented on #1169
Hi @ggaller.

First off you can use function urls today by using the `APIGatewayHttpApiV2ProxyRequest` and `APIGatewayHttpApiV2ProxyResponse` types. Lambda function urls use the exact same event format as API Gateway HTTP API v2 format.

Long term I'm in debate how best to support the event type. We should probably create a copy of the API Gateway HTTP API types and name them something more approp

[2022-05-07 20:29] normj commented on #1148
I put out the PR set the `HttpContext.TraceIdentifier` property. https://github.com/aws/aws-lambda-dotnet/pull/1172

I haven't add the customization features yet because that one is more complicated and I didn't want getting the trace identifier to be blocked on that. The trouble with customization feature is the parameters to the Action callback change depending on what you are using for `LambdaE

[2022-05-07 23:30] brendonparker commented on #1148
Sweet!

[2022-05-09 11:04] ggaller commented on #1169
Hello @normj.

Thanks for the detailed explanation. This is my bad, because when I created this issue, I thought that this is the `LambdaAnnotations` library repository. I forgot that it is a common repository for all Lambda .Net projects.

The feature request was addressed to the `LambdaAnnotations` library. I tried `APIGatewayHttpApiV2ProxyRequest/APIGatewayHttpApiV2ProxyResponse ` with function

[2022-05-09 15:39] indented-automation opened #1173 "Badly scoped variables in AWSLambdaPSCore"
### Describe the bug

The private function `_packageProject` attempts to concatenate with a variable from a parent scope which is not declared in any intermediate scope.

https://github.com/aws/aws-lambda-dotnet/blob/master/PowerShell/Module/Private/_DeploymentFunctions.ps1#L253-L254

If `$Name` is defined with a type in global scope then the invocation of `_packageProject` can fail.

For example,

[2022-05-09 20:04] genisbarrera commented on #677
Hi @Edulopez, I have the same issue. Your solution is a nice workaround, but I think that with this solution Singleton services work as Scoped. Definitelly AWS should fix this behavior. @NGL321 could we reopen the issue?

[2022-05-09 20:23] ganeshnj commented on #677
@genisbarrera  we have preview of Lambda Annotation library out which makes easier to inject dependencies and control the lifespan.

https://aws.amazon.com/blogs/developer/introducing-net-annotations-lambda-framework-preview/

Please check this out. If this has not been addressed, feel free to open an issue.

[2022-05-09 21:07] sakopov commented on #1148
Probably a bad idea, but just throwing it out there... Why not just provide access to `ILambdaContext` similar to how `HttpContext` is given access to via [`IHttpContextAccessor`](https://github.com/dotnet/aspnetcore/blob/3ea008c80d5cc63de7f90ddfd6823b7b006251ff/src/Http/Http/src/HttpContextAccessor.cs)? I feel like this is something that should be available to the entire request pipeline. Especia

[2022-05-09 21:12] brendonparker commented on #1148
@sakopov Agree, adding the TraceId to the `ILambdaContext` may also be a nice enhancement. But ultimately not necessary if the ASPNET request gets the RequestId set properly upstream. The approach that @normj took will ensure the framework's notion of "RequestId" is set using the Lambda TraceId, which will get picked up in other logging scenarios outside of your own application's logs.

[2022-05-09 22:28] genisbarrera commented on #677
Hi @ganeshnj, it seems that it's what I was looking for. Looks amazing, thanks for building new fantastic Lambda features for dotnet

[2022-05-10 02:39] JuanZamudioGBM commented on #709
@normj  How does Amazon.Lambda.Annotations help in the original question of the OP?

If I have a Lambda that does not use ASP.NET and I want to use IHostBuilder to add  ConfigureLogging (with AddSystemdConsole) how can I achieve that with Amazon.Lambda.Annotations?

[2022-05-10 06:27] normj commented on #709
@JuanZamudioGBM Is there a reason you specifically need the `IHostBuilder`? You can configure logging via the `IServiceCollection` in the `Startup` class.

[code]

[2022-05-10 11:04] ibelchiorbjss commented on #476
Well, now I'm having this problem with dotnet2.1. I have the same error using Code Build to update the lambdas...

[2022-05-10 17:43] JuanZamudioGBM commented on #709
@normj  I was under the impression that IHostBuilder was the preferred way to initialize configuration and logging in the latest frameworks.

Thanks for the snippet.

[2022-05-10 18:31] normj commented on #709
I view the `IHostBuilder` serving at least 2 purposes. The first is helping configure the `IServiceCollection` which is what you are talking about. The second is starting the process via the `StartAsync` or `Build().Start()` operations. The starting process would be confusing in Lambda because Lambda controls the process flow.

I believe the extension methods available for `IServiceCollection` sho

[2022-05-10 21:08] normj commented on #476
Sorry @ibelchiorbjss  but Microsoft deprecated .NET Core 2.1 back in August and it looks like last month Lambda entered phase 2 of their deprecation policy for .NET Core 2.1 which no longer allows create or updates of 2.1 functions. https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html#runtime-support-policy

[2022-05-11 18:38] ashishdhingra commented on #1169
Hi @ggaller,

Good morning.

Thanks for submitting feature request. Could you please confirm if you are mentioning to add Lambda function URL support in Lambda package or the [AWS Extensions for .NET CLI](https://github.com/aws/aws-extensions-for-dotnet-cli) lambda tooling? Refer https://github.com/aws/aws-lambda-dotnet/discussions/1168 where user was able to generate Lambda function URL by utiliz

[2022-05-11 21:57] niemyjski opened #1175 "NullReferenceException when testing function"
### Describe the bug

I have a .NET 6 minimal app that also references Amazon.Lambda.AspNetCoreServer.Hosting. I've deployed to ecr and created a lambda and when I test the function using api gateway or any test json I get the following error. I'm at a loss for what I could be missing as I've read the docs and all the samples.

I'm also calling `builder.Services.AddAWSLambdaHosting(LambdaEventSour

[2022-05-11 22:17] ashishdhingra commented on #1175
Hi @niemyjski,

Good afternoon.

Could you please share the following to reproduce the issue:
- Sample code
- Deployment/configuration steps
- Testing instructions (e.g. sample request JSON used, etc.)

Also check the blog article https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/ which details about using minimal API to develop Lambda functions.

Thanks,
Ashish

[2022-05-12 15:08] ggaller commented on #1169
Hi @ashishdhingra,

I mentioning this feature request for [Amazon.Lambda.Annotations](https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.Annotations) package.

[2022-05-12 16:01] niemyjski commented on #1175
On a side note, I'm curious about my approach. I was trying to figure out a way to have a private only api lambda and have an MSK as my event source trigger. Basically I don't want tight coupling to lambda sdk which is why I thought the approach above was awesome. At the end of the day I just want to invoke an http api (super simple endpoint) from an msk message stream using standard asp.net core

[2022-05-12 23:44] normj commented on #1169
@ggaller Agreed we should figure out how to get Lambda Urls as part of Amazon.Lambda.Annotations.

[2022-05-13 00:07] normj commented on #1175
Can you set the environment variable `LAMBDA_NET_SERIALIZER_DEBUG` to `true` on the Lambda function and then rerun? After it fails capture in the CloudWatch Logs the raw JSON event that goes into there and then please add it here.

[2022-05-13 20:01] niemyjski commented on #1175
Hello,

Here is the sample event json I used in the test area of the console:

[code]

Here is the serialization logs from cloudwatch:

[code]

[2022-05-13 20:13] ashishdhingra commented on #1175
@niemyjski Thanks for the information. Could you please share the full stack trace and 10-15 lines of log above it (since we do not have line numbers is stack trace), that would be helpful to figure out the root cause of the issue?

[2022-05-13 20:22] niemyjski commented on #1175
[code]

There really is no logs above it or below, just logs about request id and report request id.

[code]

[2022-05-16 23:47] normj commented on #1175
I believe what is happening is an event type mismatch. Lambda functions can be integrated with API Gateway in 3 different ways and I'm not sure exactly which one you have done.

1. REST API: This is the original way of exposing APIs via API Gateway. It has the most features but cost more then the other options.
2. HTTP API v1: A lighter weight version of REST API and uses the same event type forma

[2022-05-17 00:33] emkensj commented on #450
removing the <PublishReadyToRun>true</PublishReadyToRun> from .csproj file helped me. Nothing above mentioned helped me, only this.

[2022-05-17 08:24] denxorz opened #1178 "FileLoadException: Could not load file or assembly 'Amazon.Lambda.RuntimeSupport, Version=1.8.0.0"
### Describe the bug

I have updated my Lambda nuget packages. Amazon.Lambda.RuntimeSupport updated from 1.7 to 1.8. After deploying I am running into this error:
[code]

The lambdas are published through the Visual Studio AWS Toolkit extension on Windows 11.

### Expected Behavior

Lambda runs and returns "ok".

### Current Behavior

Lambda fails to execute with exception:
Unhandled exception. Sy

[2022-05-17 09:51] pmihalcin opened #1179 "(short issue description)"
### Describe the bug

I use following launch settings profile for debugging lambda handlers using lambda test tool:

[code]

### Expected Behavior

Debugging session started as expected

### Current Behavior

Fails to start debugging session

### Reproduction Steps

When I execute this profile in Rider 2021.3.4, it works as expected.
When I execute the same in Rider 2022.1.1, it fails on:
[code]

[2022-05-18 22:25] #1148 closed, assigned to nobody

[2022-05-19 05:24] ElectricVampire opened #1182 "S3 object keys are not Url decoded in S3Events received Lambda via S3Notification"
### Describe the bug

If I upload an Object in S3 bucket where file name has space in it. Eg. "NEW FILE.txt", The object URL becomes - https://myBucket/NEW+FILE.txt which is correct.

Now When I received an event in my lambda via S3Notification. Property -> **S3.Object.Key** has "**NEW+FILE.txt**"

Key value should be Url decoded as the real key of this object is "NEW FILE.txt".

### Expected Beha

[2022-05-19 05:27] perahlberg opened #1183 "Support for AWS SecretManager rotation Lambda"
### Describe the feature

It  should be nice to have support for SecretManager rotation Lambda in the test page dropdown list.

See:
 https://docs.aws.amazon.com/secretsmanager/latest/userguide/rotate-secrets_how.html

### Use Case

Easier testing/debugging

### Proposed Solution

1. Add "AWS SecretManager rotation Lambda" to the dropdownlist in the test page
2. When selected, show the input templ

[2022-05-19 18:02] ashishdhingra commented on #1178
Hi @denxorz,

Good morning.

Somehow I'm unable to reproduce the issue. I developed new .NET 6 custom runtime function using AWS Visual Studio 2022 lambda template. Below are the source files generated:
**.csproj**
[code]
**Function.cs**
[code]
**aws-lambda-tools.defaults.json**
[code]

When I deploy the function using Visual Studio 2022 `Publish to AWS Lambda`, here's the build output generated:

[2022-05-19 21:08] ashishdhingra commented on #1182
@ElectricVampire Assuming you are using [S3Event](https://github.com/aws/aws-lambda-dotnet/blob/master/Libraries/src/Amazon.Lambda.S3Events/S3Event.cs) class in your Lambda, the change you are proposing could be a breaking change for existing customers. `S3Event` class inherits from [Amazon.S3.Util. S3EventNotification](https://github.com/aws/aws-sdk-net/blob/ac600c168cbbfac23d5f2590e9b3b2eb8dbb7a

[2022-05-19 21:15] starkcolin opened #1184 "System.IO.FileLoadException: Could not load file or assembly Microsoft.AspNetCore.Diagnostics.Abstractions, Version=6.0.0.0"
### Describe the bug

I'm seeing frequent Lambda errors where the assembly Microsoft.AspNetCore.Diagnostics.Abstractions cannot be loaded.  This assembly is part of the ASP.NET Core runtime, so it should always be present.

Using Lambda .NET 6 runtime with ASP.NET Core

### Expected Behavior

Assembly is loaded, no exception is thrown.

### Current Behavior

Example stacktrace:

`System.IO.FileLoa

[2022-05-20 10:06] madmox opened #1185 "Duplicate response body when running on Lambda and manipulating response body stream in middleware"
### Describe the bug

I have a ASP.NET middleware which temporarily replaces the HTTP response body stream with a memory stream so that it can perform work involving seek operations on the response stream before the response is sent to the client. The code works properly when running locally using Kestrel or the integration tests server, but when running on AWS, all response bodies are duplicated

[2022-05-20 12:17] madmox commented on #1185
[Sample repo](https://bitbucket.org/mrossini-quickoff/awslambdadotnetissue1185/) to reproduce the issue.

[2022-05-20 22:48] ashishdhingra commented on #1185
Hi @madmox,

Good afternoon.

Thanks for sharing the sample code. Unfortunately, I'm unable to reproduce the issue. For reproduction,
- Cloned your code.
- Used your deployment PowerShell script to deploy the CloudFormation template.
[code]
- Test the changes (this works fine)
<img width="773" alt="Screen Shot 2022-05-20 at 3 43 39 PM" src="https://user-images.githubusercontent.com/67916761/169621

[2022-05-20 22:54] ashishdhingra commented on #1184
Hi @starkcolin,

Good afternoon.

Thanks for reporting the issue. Would it be possible for you to share the minimal code solution/project to reproduce the issue? I just want to make sure that we have almost the same environment/configuration.

Regards,
Ashish

[2022-05-20 23:40] madmox commented on #1185
Oh sorry, I made a last-minute change to my reproduction sample and it seems it has to do with the buggy behavior! I updated the repo, just deployed the sample, this time you should be able to reproduce.

It seems the bug has to do with the following lines:
[code]
If I replace this section with the following, it works as expected:
[code]
Although `buffer` and `context.Response.Body` are supposed t

[2022-05-22 10:03] ElectricVampire commented on #1182
@ashishdhingra
"Changing any default behavior (for example changing setter for [S3ObjectEntity.Key](https://github.com/aws/aws-sdk-net/blob/ac600c168cbbfac23d5f2590e9b3b2eb8dbb7a8f/sdk/src/Services/S3/Custom/Util/S3EventNotification.cs#L189) property to automatically URL Decode the value) could potentially break existing customers."

 If someone has a key which contains characters with charset out

[2022-05-22 11:45] niemyjski commented on #1175
Do you have an event format payload that I could try? I tried the api gateway sample event from the console

[2022-05-23 11:29] TommyN commented on #476
@normj
I can confirm that I'm seeing the same issue as originally reported, but now when trying to upgrade a netcoreapp2.1 project to net6.0.

**c:\\development\\GitHub\\...\\>dotnet lambda deploy-function**:

[code]

**aws-lambda-tools-defaults.json**
[code]

[2022-05-23 18:42] ashishdhingra commented on #1072
@rpf3 Please review the [last](https://github.com/aws/aws-lambda-dotnet/pull/1073#issuecomment-1075474547) in the PR.

[2022-05-23 20:54] ashishdhingra commented on #1175
@niemyjski Please refer the following links for sample JSON:
- [Working with AWS Lambda proxy integrations for HTTP APIs](https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html)
- [Rest Api: Input format of a Lambda function for proxy integration](https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html#api-g

[2022-05-24 06:31] denxorz commented on #1178
I redeployed, with version 1.8 on runtime "dotnet6" and the problem no longer occurs on any of the Lambdas that had this issue before.
So I can no longer reproduce it. The issue can be closed, if you agree.

[2022-05-24 08:35] #1178 closed

[2022-05-24 20:47] genifycom opened #1187 "Access Lambda context object in AWS Serverless Application"
### Describe the feature

I can't seem to find any examples of accessing the Lambda Context object for an AWS Serverless Application.

I want to get the awsRequestId for correlating the API call logging.

I did find this article https://stackoverflow.com/questions/72069469/access-ilambdacontext-in-lambda-entrypoint-for-dotnet-serverless-api
which suggests that getting the lambda context is not pos

[2022-05-24 21:44] starkcolin commented on #1184
Not easily unfortunately.  The code is confidential, and it would take a pretty substantial effort to create a new project and attempt to reproduce it there.  I've provided you with the ZIP file that the Lambda code is running from, with all proprietary code removed.  The packages.lock.json file will also show what the dependencies are.  Not sure how much help that is, so let me know if there's an

[2022-05-25 00:12] normj commented on #476
Ah, I think I understand what is happening now. When deploying new code the tool makes two Lambda service calls. First to update the code and then second to update the function's configuration including the runtime. Since the runtime isn't updated to .NET 6 till the second service call the call to update the function's code fails due to the state of .NET Core 2.1 deprecation status. Let me do some

[2022-05-25 01:00] normj commented on #1187
I'm confused what you mean about "AWS Serverless Application" in this context. Usually that just means deploying your Lambda functions via CloudFormation but the programming model isn't changed. Are you talking about one of our high level abstractions like the ASP.NET Core bridge library for Lambda or the Lambda Annotations library?

[2022-05-25 08:46] kcoetzee opened #1188 "Unable to determine service/operation name to be authorised for GetFunctionUrlConfig in GovCloud regions."
### Describe the bug

The Lambda Function URL functionality is not yet present in GovCloud regions, so the following error is encountered when Function URL related operations such as (GetFunctionUrlConfig) is called by the Lambda Tools for Powershell Publish-AWSPowerShellLambda command:

"Error creating function url config for function: Unable to determine service/operation name to be authorised".

[2022-05-25 15:43] ashishdhingra commented on #1184
@starkcolin Thanks for the reply. Could you please share the package references from `.csproj` file? This would make it easier to develop simple Serverless ASP.NET Web API application using the packages in your environment.

[2022-05-25 16:38] ashishdhingra commented on #1077
[Amazon.Lambda.LexV2Events 1.0.0](https://www.nuget.org/packages/Amazon.Lambda.LexV2Events/1.0.0) has been released.

[2022-05-25 16:38] #1077 closed

[2022-05-25 17:30] benjaminvazquez commented on #1124
I had the same issue, I had to remove the serializers to be able to test my lambda with the testing tool

[LambdaSerializer(typeof(DefaultLambdaJsonSerializer))]

[2022-05-25 17:35] starkcolin commented on #1184
OK I'll try to follow up and get a working repro project, but it will probably take some time.  If the issue stops occurring in the meantime, then I'll report that back as well and close the issue.

[2022-05-26 05:43] sakthiveluv commented on #228
![image](https://user-images.githubusercontent.com/34507996/170424094-097bcbce-6fee-4d75-9082-ee5b7bc5ca47.png)

Getting error while deploy into AWS, Please help me

[2022-05-27 00:40] genifycom commented on #1187
Hi Norm,

No just talking about an "AWS Serverless Application" project type in Visual Studio with a Blueprint of "ASP.NET Core Web App"

In such an App, the FunctionHandlerAsync is not exposed by default.

If I override it:
`        public override async Task<APIGatewayProxyResponse> FunctionHandlerAsync(APIGatewayProxyRequest request, ILambdaContext lambdaContext)
        {
            LambdaLog

[2022-05-27 06:07] Pankraty commented on #1075
This issues strikes us as well. We are creating a lambda function for building emails and for that, we are using Razor as a templating engine. Unfortunately, this does not work well with the test tool as we getting the same exception as described in the issue. The fix would be deeply appreciated!

[2022-05-27 17:23] genifycom commented on #1187
There must be a way since it appears that the LambdaLogger has access to and logs AwsRequestId

[2022-05-30 14:18] rpf3 commented on #1072
@ashishdhingra sorry for the delay, I'll take a look

[2022-05-30 14:27] rpf3 commented on #1072
@ashishdhingra in addition to a few hundred warnings, when I clone and run a dotnet build I get the following errors.

[code]

I am running dotnet version `6.0.202`.  I don't see anything documented about supported versions but these errors prevent me from running the full test suite.

[2022-05-30 14:39] rpf3 commented on #1072
Actually I just pulled the latest from `master` and it now builds without issue.

[2022-05-31 00:16] #1175 closed

[2022-06-02 00:17] #1184 closed

[2022-06-02 22:23] ashishdhingra commented on #1183
Appears to be a simple implementation to add the JSON structure mentioned at https://docs.aws.amazon.com/lambda/latest/dg/with-secrets-manager.html. Needs review with the team.

[2022-06-03 03:46] ppittle commented on #1188
A fix has been deployed as part of [Amazon.Lambda.Tools 5.4.2](https://www.nuget.org/packages/Amazon.Lambda.Tools/5.4.2).

The next time you run `Publish-AWSPowerShellLambda`, the tooling should download the latest version of `Amazon.Labmda.Tools` and work as expected.

[2022-06-03 20:05] ashishdhingra commented on #1182
Need to check the behavior in AWS SDK for .NET and make it consistent here.

[2022-06-05 21:58] Simonl9l commented on #882
@normj It would be good to get an AWS response on this. I would like to take advantage of dotnet Core 6 startup code to initialize a lambda that continues to be loaded (reserved?) then then process subsequent events from Kinesis but this seem to only be implementable as stranded Function Handler.

[2022-06-05 23:29] normj commented on #882
The problem with baking this logic directly into `Amazon.Lambda.RuntimeSupport` is the dependency injection packages are not part of the base class library (BCL) unless your project using the `Microsoft.NET.Sdk.Web` SDK like an ASP.NET Core stack. For `Amazon.Lambda.RuntimeSupport` to implement it directly it would have to take a dependency on `Microsoft.Extensions.DependencyInjection`. Whenever `

[2022-06-06 00:13] #1188 closed

[2022-06-06 00:52] Itamaram commented on #882
Wow. Okay. I didn't realise all I had to do to get a response was to tag @normj, would've done that a year ago if I knew that was the case.

Avoiding adding `Microsoft.Extensions.DependencyInjection` as a dependency is a reasonable restriction, and the proposed `Amazon.Lambda.Annotations` lib is exactly what we are after. The auto generation of code from attributes is also something we've tackled

[2022-06-06 06:39] normj commented on #882
Ha @Itamaram, I do try and engage as much as I can with GitHub issues but I know I'm far from perfect.

External contributions are very welcome on `Amazon.Lambda.Annotations`. I would suggest opening a feature request first so we can discuss the feature to make sure it fits before you spend a lot of time on it. Feel free to tag me in the feature request 😄

Our GA requirement is both JSON and YAML

[2022-06-06 17:51] Simonl9l commented on #882
@normj  Thanks so much for chiming in, (@Itamaram Norm has be v. helpful before so I took a gamble and tagged him! - I also appreciate he being _largely_ the .Net one man show mean he probably polled in 1001 directions!)

Norm Im trying to come up to speed with al the dotnet 6 changes so apologies if I'm not reading enough first. I will dong into the `Amazon.Lambda.Annotations` auto be honest Code

[2022-06-06 21:08] yobyot commented on #1188
Thanks, @ppittle.

Is there a version for M1 Macs yet?

<img width="885" alt="2022-06-06_17-07-22" src="https://user-images.githubusercontent.com/14332263/172249518-2c8f6f00-4da2-402a-9b1f-14cad13119c4.png">

[2022-06-07 00:14] normj commented on #1188
There is just a single package for any platform including M1 Macs. I wonder since you are in GovCloud if you are using a different feed then NuGet.org, possibly a local feed. You can firm that by executing the `dotnet nuget list source` command. I suspect you have a local folder or private feed that is needs to be manually updated with the version 5.4.2 from NuGet.org.

[2022-06-07 00:23] normj commented on #882
With `Amazon.Lambda.Annotations` the `Startup` class where you configure services you could also start any other background services. That code will run as part of the `Provisioned Concurrency` initialization stage so by the time it is handling Lambda events the code will already be warmed up.

[2022-06-07 00:40] yobyot commented on #1188
Thanks.

[2022-06-07 01:27] yobyot commented on #1188
Well, it was some kind of nasty cache problem. Don't know why but on one of my Macs, 5.4.2 was pulled but on another it wasn't. Same feeds in NuGet.config on both machines.

`dotnet nuget locals all --clear`  along with manually deleting `~/.nuget/packages` took care of it
<img width="1009" alt="2022-06-06_21-21-23" src="https://user-images.githubusercontent.com/14332263/172275786-bbd05740-768d-41

[2022-06-07 01:57] Simonl9l commented on #882
@normj thanks, it it correct that `Amazon.Lambda.Annotations` only supports REST events. What's plan on the other Handler types, specifically Kinesis Data Analytics?

[2022-06-07 06:01] normj commented on #1188
Excellent, glad you got it sorted and apologize for the inconvenience.

[2022-06-07 06:15] normj commented on #882
@Simonl9l You can use `Amazon.Lambda.Annotations` for any event type by just adding the `LambdaFunction` attribute. For REST events we have additional attributes you can use to configure the event in code. Otherwise in your case you would configure the Kinesis event type in the CloudFormation template. But you can still use the `LambdaFunction` and have the DI integration.

[2022-06-07 20:33] bjhogan opened #1196 "dotnet lambda deploy-function AspNetCoreWebAPI does not infer runtime from project file"
### Describe the bug

Create a new serverless Lambda function -

`dotnet new serverless.AspNetCoreWebAPI -n AspNetCoreWebAPI`

Change to the `AspNetCoreWebAPI/src/AspNetCoreWebAPI`

Attempt to deploy the function -

[code]

Runtime should not be requested.

### Expected Behavior

I expect the tooling to infer the runtime from the csproj file, or that the runtime in included in the `aws-lambda-tool

[2022-06-09 18:05] bjhogan opened #1197 "Can't invoke a Lambda function that takes an int as a parameter with `dotnet lambda invoke-function`"
### Describe the bug

There doesn't seem to be a way to invoke a Lambda function using `dotnet lambda invoke-function` when the parameter to the function is an int.

Create a new Lambda function -
[code]

Change the `FunctionHandler` to  -

[code]

Can't find a way to invoke this function using `dotnet lambda invoke-function --payload ...`

Have tried payloads with a variety of quotes, decimal pla

[2022-06-09 21:09] jamesbascle commented on #634
This is causing me an issue right now as well.  The offending line is in fact the second part of the condition mentioned in https://github.com/aws/aws-lambda-dotnet/issues/634#issuecomment-773545038 since the base type of, for instance, CloudWatchEvent<JObject>, is just Object, not CloudWatchEvent<>.  It's just totally faulty logic.  The only way I've been able to get around it is by making my own

[2022-06-10 15:29] ashishdhingra commented on #1197
Reproducible. Sending just `12` (for example) via AWS Lambda console works.

[2022-06-10 18:04] jamesbascle opened #1198 "Lambda Mock Test Tool requires a project folder"
### Describe the bug

Despite now supporting the Executable Assembly project types, in which a console app is responsible for hooking itself up to the lambda event pump, the tool still requires a path to an application folder with a .deps.json file in it.

### Expected Behavior

To not need a .deps.json file when running an Executable Assembly style project.

### Current Behavior

Fails to start,

[2022-06-10 18:33] ashishdhingra commented on #1198
Hi @jamesbascle,

Good afternoon.

Thanks for reporting the issue. Could you please add elaborated reproduction steps for your use case?

Thanks,
Ashish

[2022-06-10 18:42] ashishdhingra commented on #1196
@bjhogan Thanks for reporting the issue. I'm curious that you are using `serverless.AspNetCoreWebAPI` template, but using the `dotnet lambda deploy-function` command. Shouldn't you be using `dotnet lambda deploy-serverless` command? Please check.

[2022-06-10 19:21] jamesbascle commented on #1198
Hey Ashish,

I'm not sure what else to write really.  I'd expect that since the test tool can now work with Executable Assembly projects, and they are responsible for hooking up the test tool themselves, rather than being invoked by the test tool, that one would not need to point the test tool at any kind of config files to make use of that functionality.

I can hack around this by pointing it at

[2022-06-11 15:27] hounddog22030 opened #1200 "Decorating async Task function with [LambdaFunction] generates compile error"
### Describe the bug

The generated code is awaiting the Task and attempting to return the Task, but because the original method is `async`, the original method is really a `void`, so it cannot be returned.

### Expected Behavior

No compile errors.

### Current Behavior

Receive Compile Error:

[code]

### Reproduction Steps

Steps to reproduce:
1. Create a new serverless project
2. Choose the An

[2022-06-13 15:44] ashishdhingra commented on #1200
Reproducible. Needs review with the team.

[2022-06-14 05:15] Simonl9l commented on #882
@normj  thanks again,  trying to get for her to a small to us this, with no clue on tooling support or template support for Jetbrains Rider, I put an issue here and hope the Rider Tools support this soon https://github.com/aws/aws-toolkit-jetbrains/issues/3175

in the meantime is there a suitable `dotnet new` template for this?

Thanks again!

[2022-06-14 05:51] Simonl9l opened #1204 "Amazon.Lambda.Annotations code generation explicit dependent on Amazon.Lambda.APIGatewayEvents"
### Describe the bug

When experimenting with `Amazon.Lambda.Annotations` it seem that one also has to have `Amazon.Lambda.APIGatewayEvents` as a package reference in the project or the generated code can not compile.

This is neither noted in the `Amazon.Lambda.Annotations` [README.md](https://github.com/aws/aws-lambda-dotnet/blob/e906a0237d2fbce2729c340bd2bc3490d02a9f59/Libraries/src/Amazon.Lamb

[2022-06-14 15:13] pablokawan commented on #1095
Just dont work, with test-tool or test-assembly

[2022-06-14 19:30] ashishdhingra commented on #1204
@Simonl9l Please refer to the comment https://github.com/aws/aws-lambda-dotnet/issues/1052#issuecomment-1016771760 for the reasoning behind need to add explicit dependency in user project. Let me know if this resolves the confusion.

[2022-06-14 19:45] Simonl9l commented on #1204
@ashishdhingra  thanks for the pointer...so how do I not need a dependency on that APIGatewayEvents package if I just want a raw HTTP Lambda with no specific binding? I don't now what in the code base has made this a requirement.

[2022-06-14 21:08] ashishdhingra commented on #1204
@Simonl9l Could you please point me to sample which you are referring to in the issue description?

[2022-06-15 02:25] Simonl9l commented on #1204
Hi @ashishdhingra

So based on the `Amazon.Lambda.Templates::6.2.0`, I did a `dotnet new lambda.EmptyFunction ...` and then copied in the following sample fro the `Amazon.Lambda.Annotation` `README.md` into `Function.cs`:

[code]

I noted that the RestAPI attribute syntax was incorrect and modified to ` [RestApi(LambdaHttpMethod.Get, "/plus/{x}/{y}")]`, and also modified that to be `HttpApi`.

Tha

[2022-06-15 18:45] ashishdhingra commented on #1152
@teenahjob Could you please check if input from @normj was helpful and provided necessary guidance, and if this issue could be closed?

[2022-06-16 06:21] BhangeeF16 commented on #624
What Solved My problem :
I used `[LambdaSerializer(typeof(Newtonsoft.Json.JsonSerializer))]` on the Function Handler
and Assigned `[JsonProperty("")]` attribute to all POCO class Properties
and directly used the POCO class in the Handler Signature `FunctionHandler(MyPocoClass input, ILambdaContext context)`

[2022-06-19 12:02] ansehh opened #1209 "AddAWSLambdaHosting for Controller-based API and APIGateway"
### Describe the bug

I have an existing .NET 6 Project with Program.cs and Startup.cs and the only thing to make it runnable for AWS Lambda was to add
`services.AddAWSLambdaHosting(LambdaEventSource.RestApi);
`

Deploying it via Terraform and then manually add a Function Url allows me to call my lambdaUrl/health endpoint. Everything is working pretty well.

But configuring a APIGatway to proxy my

[2022-06-20 16:46] ashishdhingra commented on #1209
Hi @ansehh,

Good morning.

Could you please confirm if you are trying to point API Gateway to Lambda function URLs? I'm unsure if it is possible since both are separate implementations for exposing Lambda function.

Few helpful articles below:
- [AWS Lambda Function URLs vs. Amazon API Gateway](https://www.serverlessguru.com/blog/aws-lambda-function-urls-vs-amazon-api-gateway)
- [AWS Lambda Funct

[2022-06-21 07:08] normj commented on #1204
The generated code by the source generator use the types in `Amazon.Lambda.APIGatewayEvents` when using the `RestApi` or `HttpApi` attributes. Your code doesn't need to directly interact with the types `Amazon.Lambda.APIGatewayEvents` except for right now if you want to customize the response. Since your code is not interacting with `Amazon.Lambda.APIGatewayEvents` and the package is very small co

[2022-06-21 08:29] ansehh commented on #1209
Hey @ashishdhingra,

no I am not pointing to the Function URL. I try to not use function url because I want to use my own domain later on for the lambda. https://api.xxxx.

I am pointing to the Entry Point of the Lambda:
<img width="730" alt="Bildschirmfoto 2022-06-21 um 10 23 28" src="https://user-images.githubusercontent.com/93390946/174753054-714f9fd2-3d2f-4753-a3a2-59ba7cb46064.png">

Handler

[2022-06-21 17:57] jamesbascle commented on #1198
Hi Ashish,

What does the B label mean?

Would your team accept a pull request to fix this?  The stats quo makes debugging lambdas locally needlessly complex.

[2022-06-23 17:41] ashishdhingra commented on #1144
@Dreamescaper Thanks for submitting feature request. Please advise on how you came up with the JSON format of the log output. Did you use Serilog structured logging as reference?

[2022-06-23 18:39] Dreamescaper commented on #1144
@ashishdhingra
No, mostly on MS json console logger.

https://docs.microsoft.com/ru-ru/dotnet/core/extensions/console-log-formatter#json

[2022-06-23 19:26] ashishdhingra commented on #1187
@genifycom Thanks for submitting the feature request. Could you please share the sample project to reproduce the scenario mentioned above?

Thanks,
Ashish

[2022-06-23 19:34] ashishdhingra commented on #1183
@perahlberg Thanks for submitting the feature request. Would it be possible for you to contribute in the form of PR to add this example JSON event sample in the Lambda Test Tool drop down menu?

[2022-06-23 20:09] ansehh commented on #1209
My issue was to explicit set the memory two more than 128 MB in my terraform code obviously... :/
Everything is working now as expected.

[2022-06-23 20:09] #1209 closed

[2022-06-24 00:14] #1152 closed

[2022-06-24 14:22] hounddog22030 opened #1224 "Can You Use Lambda Annotations, Top-Level, APIGatewayHttpApiV2ProxyRequest and MapControllers all together?"
### Describe the issue

EDIT: Clarification:  Attempting to not use Minimal APIs - have oodles of controllers already properly decorated and working.

I am trying to convert an AWS Lambda AspNet .net50 app to the newer style .net60 top level.

I understand that I need to use `builder.Services.AddAWSLambdaHosting(LambdaEventSource.HttpApi);`

and I have my top-level program running (and it has MapC

[2022-06-24 15:31] petarrepac commented on #1144
@Dreamescaper
can you setup your logging using MS Json logging and direct it to the console (std out) ?

that way you can use whatever MS supports including structured logging and not have any dependency on AWS .NET assemblies

[2022-06-24 16:15] hounddog22030 commented on #1224
So, a little experimenting yields that you must "handcode" the function into the template as below and then everything just works, not using the legacy function with the APIGatewayHttpApiV2ProxyRequest parameter?

[code]

[2022-06-24 16:16] ashishdhingra commented on #1224
@hounddog22030 Also refer https://github.com/aws/aws-lambda-dotnet/discussions/1195#discussioncomment-2961622 to see if that helps.

[2022-06-24 16:43] hounddog22030 commented on #1224
That definitely helps, thanx.

[2022-06-24 19:42] Dreamescaper commented on #1144
@petarrepac
MS console logging uses a background thread for logging, and it's not a great idea for lambdas, according to this info
https://github.com/aws/aws-logging-dotnet#aws-lambda

[2022-06-27 20:58] jcstorms1 opened #1226 "S3 EventName is being returned as an object instead of a string"
### Describe the bug

When using the `S3Event` in my handler function, I expected the EventName attribute to be a string. Instead, the returned attribute is an object of `"EventName": { "Value": "ObjectCreated:Put" }`. This leads to a failure  when trying to unmarshall the payload into the GO equivalent of the S3 event in an extension.

### Expected Behavior

As described in the docs [here](https:

[2022-06-28 00:34] Simonl9l commented on #1204
@normj - does the generated code for the `[RestApi]' or `[HttpApi]` both/either/or include references to the types in`Amazon.Lambda.APIGatewayEvents`?  Since a Lambda can be used in the context of say an ALB Target that has no dependency of the API Gateway?

Does this scenario in fact need its own Attribute such that per the promise clarified by @ashishdhingra per https://github.com/aws/aws-lambda

[2022-06-28 09:59] Rodriguevb opened #1227 "DefaultLambdaJsonSerializer ignores custom input (aws lambda net6)"
### Describe the bug

Following the documentation for aws lambda net6:
- https://docs.aws.amazon.com/lambda/latest/dg/csharp-handler.html
- or small tutorial https://aws.amazon.com/blogs/compute/introducing-the-net-6-runtime-for-aws-lambda/

The simple Top-level lambda code below ignores my simple POST request. The console displays `>;0` instead of `>Simple text;8612` Why ? Did I forget a package?

[2022-06-28 16:43] normj commented on #1227
You are writing a Lambda function that listens to API Gateway's HTTP events. The event type for those Lambda functions is `Amazon.Lambda.APIGatewayEvents.Amazon.Lambda.APIGatewayEvents` and should be your first parameter in your function. That event object represents all of the parts of an HTTP request including headers, resource and request body. In your example you can take `Body` property and s

[2022-06-28 21:21] normj commented on #1226
I do agree I wish we wouldn't have made the Lambda S3 event object extend from a type in the SDK. It puts an unnecessary dependency to the `AWSSDK.S3` package for users that want a simple type. I would be open to a PR that removes the dependency on the SDK and then do a major version bump of the package.

[2022-06-29 13:22] ronaldorss commented on #1119
I had the same problem, I solved it by clearing the chrome cache.

[2022-06-29 14:46] #1227 closed

[2022-06-29 16:54] cchen-ownit commented on #979
Are there plans for more types of annotations?

This starts to resemble Azure Functions in the best way possible given how easy it is to "snap together" Azure Blob Storage to Azure Functions to Azure CosmosDB to Azure Service Bus, etc.

[2022-06-29 18:57] jcstorms1 commented on #1226
Hey @normj thanks for the response. I'd like to know if you have any suggestion on what this change would entail? Would you be able to provide some more details on how to approach this change?

[2022-06-30 00:22] normj commented on #1226
@jcstorms1 Basically take the SDK code from [here](https://github.com/aws/aws-sdk-net/blob/master/sdk/src/Services/S3/Custom/Util/S3EventNotification.cs). Remove the JSON parsing logic and replace uses of `ConstantClass` to string and make sure the existing S3 event parsing tests in the repo pass.

[2022-06-30 16:06] JonOJet opened #1231 "Unhandled exceptions which contain non ASCII characters in the exception message cause a Runtime.ExitError"
### Describe the bug

When a .Net 6 Lambda Function that is deployed to the AWS Lambda environment (this issue does not present itself when the Lambda is invoked locally) throws an unhandled exception that contains a non-ascii character (E.g. •), the Lambda terminates with a Error: Runtime exited with error: signal: aborted Runtime.ExitError.

An example of where this causes a problem is when the

[2022-06-30 17:54] dhhoang opened #1232 "Microsoft.Extensions.Logging.ILogger interface support for Lambda"
### Describe the feature

The `dotnet6` Lambda runtime should offer a [log provider](https://docs.microsoft.com/en-us/dotnet/core/extensions/custom-logging-provider) that supports the [`Microsoft.Extensions.Logging.ILogger`](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/) logging interface.

### Use Case

We have lots of Lambdas written in C# that makes heavy uses of .NET built

[2022-07-01 00:16] #1187 closed

[2022-07-04 09:48] erlinghi opened #1233 "Amazon.Lambda.AspNetCoreServer.APIGatewayProxyFunction Doesn't replace path params when proxy+ is present"
### Describe the bug

Looking at the code of Amazon.Lambda.AspNetCoreServer.APIGatewayProxyFunction
[code]
It doesn't replace other path params if proxy+ is present

### Expected Behavior

I expect path params before the proxy+ to get replaced correctly.
`
HTTP “GET” "/site/2626/status/testEndpoint/123123/asdasdasd"
`

### Current Behavior

You can see that if you have a resource with proxy+, it d

[2022-07-04 20:08] SamRD2 commented on #1184
I have this issue also on .NET 6.
    <PackageReference Include="System.IdentityModel.Tokens.Jwt" Version="6.17.0" />
    And entity framework latest version don't seem to load.

[2022-07-05 12:30] Jab0rnal commented on #1198
I am also seeing this frustration. However, in my case when running dotnet-lambda-test-tool-6.0.exe in the project I am working on it locks files that are needed to be available when building the lambda function. So I can either run the test tool OR my app.

The current solution is to create a dummy aws-lambda-tools-defaults.json file in another folder and launch the test tool from there, but this

[2022-07-05 15:14] ashishdhingra commented on #1231
@JonOJet Thanks for opening the bug report. Could you please share the below information:
- Although quite obvious from the issue reproduction steps, please share the sample code to reproduce the issue.
- Also advise on why the unhandled exception should not be logged in the CloudWatch logs.
- Do you see different behavior when using ASCII characters in exception message?
- In Lambda Test Tool, di

[2022-07-05 20:40] ashishdhingra commented on #1233
Hi @erlinghi,

Good afternoon.

Thanks for submitting the bug report. Would it be possible for you to share the sample code solution to reproduce the issue so that we are using the same configuration and environment?

Thanks,
Ashish

[2022-07-06 06:22] lajo-scanmarket-com commented on #1126
Also having same issue

[2022-07-06 09:12] erlinghi commented on #1233
Hey, I made a demo project that reproduces it.
https://github.com/erlinghi/demo-broken-path-params
Just follow the setup and use the test tool to invoke the lambda

Thanks in advance

[2022-07-06 21:14] ashishdhingra commented on #1233
Per **Use a proxy resource to streamline API setup** at [Set up a method request in API Gateway](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-method-settings-method-request.html#api-gateway-proxy-resource):
- `{proxy+}` is referred to as a greedy path parameter.
- An API can have more than one proxy resource. For example, the following proxy resources are allowed within

[2022-07-07 09:35] henningc commented on #1233
Yes, exactly. The last scenario (`/parent/{child}/{proxy+}`) is what this bug concerns. The two other scenarios work fine.
Combining a non-greedy and a greedy path parameter does not work as expected, as stated in the original bug description

[2022-07-07 13:21] JonOJet commented on #1231
Hi @ashishdhingra

Hopefully this answers your questions 😄

- Although quite obvious from the issue reproduction steps, please share the sample code to reproduce the issue.

If you create a Lambda function which contains the following code, it will reproduce the issue when the Lambda is executed on the AWS Platform:
`throw new Exception("Unhandled exception with non ASCII character: •");`

- Also

[2022-07-07 23:29] ashishdhingra commented on #1226
@jcstorms1 Would you be willing to contribute a PR to fix this issue?

[2022-07-07 23:31] ashishdhingra commented on #1224
@hounddog22030 Please confirm if we could close this issue.

[2022-07-07 23:44] hounddog22030 commented on #1224
Yes.  Thank you.  I could use some help on here, though:  https://github.com/aws/aws-extensions-for-dotnet-cli/discussions/222

Thanks.

[2022-07-07 23:46] #1224 closed

[2022-07-08 09:43] geedsen opened #1235 "Unable to get the LambdaTestTool to find the assembly that needs to be debugged when using multiple projects."
### Describe the bug

Unable to get the LambdaTestTool to find the assembly that needs to be debugged

### Expected Behavior

Debugging starts in the correct assembly

### Current Behavior

It always errors that it cannot load the assembly

### Reproduction Steps

Have a solution with multiple projects, for example
1) Project.Api
2) Project.Lambda
And Project.Lambda has a dependency on Project.Api

[2022-07-08 13:39] saintmie commented on #812
I'm facing the same issue.
I want to pass a lambda environment variables to the container.
I cannot set the variables before in the dockerfile, as they are defined during my deployment.

[2022-07-08 14:52] noopd13 opened #1236 "Swashbuckle.AspNetCore.Filters is not working in .NET6 ASP.NET Core Minimal API Serverless Application"
### Describe the bug

Hi I am using  **ASP.NET Core Minimal API Serverless Application**

this is my current  .csproj ,
[code]
 I have just added Swashbuckle.AspNetCore.Filters for adding request examples for the swagger page ,
now i am not able to load swagger page it shows internal server error

The error that is logged in cloudwatch :
_System.TypeLoadException: Could not load type 'Swashbuckle.

[2022-07-08 16:02] ashishdhingra commented on #1235
Hi @geedsen,

Good morning.

Thanks for reporting the issue. Could you please share the sample code solution for reproduction? Also request you to add proper issue title for easy tracking. :blush:

Thanks,
Ashish

[2022-07-08 17:48] jcstorms1 commented on #1226
Hey @ashishdhingra  sorry for the delay. Just opened the PR above.

[2022-07-08 19:14] ashishdhingra commented on #1236
Hi @noopd13,

Good afternoon.

Could you please share the minimal code solution to reproduce the issue? Also, was it working earlier in Lambda environment before you upgraded minimal API?

Thanks,
Ashish

[2022-07-08 20:19] ashishdhingra commented on #1231
Need to reproduce it in different SDK (Java or JavaScript). May be the error is thrown at the Lambda platform level.

[2022-07-09 11:42] geedsen commented on #1235
Sorry, I dont have a sample, Just production code. Could you not reproduce it?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Ashish Dhingra ***@***.***>
Sent: Friday, July 8, 2022 6:02:26 PM
To: aws/aws-lambda-dotnet ***@***.***>
Cc: Ben Geerdes ***@***.***>; Mention ***@***.***>
Subject: Re: [aws/aws-lambda-dotnet] (short issue description) (Issue #1235)

[2022-07-10 03:54] Simonl9l commented on #1204
@normj - Applogies I was being a tad slow before, being new to all this, and not realizing my default assumption are around a prior ALB binding case.

Whist its observed that the ALB/Lambda bindings has limited support with both SAM and the Rider AWS Toolkit, do you have any timelines on when the [Amazon.Lambda.ApplicationLoadBalancerEvents](https://github.com/aws/aws-lambda-dotnet/tree/master/Lib

[2022-07-11 06:39] noopd13 commented on #1236
Hi @ashishdhingra  , have added  my solution code . have developed these API's based on .net 6 minimal api , was never upgraded to minimal api , it was working fine in lambda environment until i added aspnetcore.filters dependency in the code

**Program.cs**

[code]
**PersonRequestExample.cs**

[code]

[2022-07-11 18:36] ashishdhingra commented on #1236
@noopd13 Thanks for sharing the example. Unfortunately, I'm unable to reproduce the issue using ASP.NET Core Minimal API serverless application template. Below is the example code and output.
**.csproj**
[code]
**Program.cs**
[code]
**PersonRequestExample.cs**
[code]
**Controllers\PersonController.cs**
[code]

Invoking the URL `https://XXXXXXXX.execute-api.us-east-2.amazonaws.com/Prod/swagger/inde

[2022-07-11 22:42] ashishdhingra commented on #1126
@napalm684 Following video, looks like the Lambda Test tool for executable assembly tab, displays the message **For Lambda functions written as executable assemblies, i.e. custom runtimes functions and top level statement functions, this page can be used for testing the functions locally. Set the AWS_LAMBDA_RUNTIME_API environment variable to localhost:5050 while debugging executable assembly Lamb

[2022-07-11 23:15] ashishdhingra commented on #1235
@geedsen Somehow, I'm unable to reproduce the issue. Used Visual Studio 2022 and `Empty Lambda Function` project template to create the Lambda project, and added `Project.Api` class library project. Used `AWS .NET Core 6.0 Mock Lambda Test Tool (0.12.3)` for debugging.
**Project.Api.csproj**
[code]
**Project.Api.Operations**
[code]
**Project.Lambda.csproj**
[code]
**Project.Lambda.Function**
[code

[2022-07-12 05:23] noopd13 commented on #1236
hi @ashishdhingra , i have used the filter examples as a part of request

[code]

[2022-07-12 06:51] noopd13 commented on #1236
hI @ashishdhingra  , adding the reference of Microsoft.OpenApi fixed the issue thanks

[2022-07-12 07:07] #1236 closed

[2022-07-12 15:02] napalm684 commented on #1126
I had that env var set and it still doesn't work. I will have to watch the youtube video and report back.

![image](https://user-images.githubusercontent.com/8197405/178521909-67774663-2bd3-44be-b8b9-44e4ab918c10.png)

[2022-07-12 18:19] napalm684 commented on #1126
I have it working from the test tools perspective it is triggering, with one exception. There seems to be an issue with calling AWS services in debug inside the handler or initializer. If you wait long enough this error seems to come up consistently:

[code]

[2022-07-12 18:25] ashishdhingra commented on #1126
@napalm684 Are you by any chance using SSO locally? If yes, this doesn't appear to be production scenario where you might not be able to use SSO in actual Lambda environment and permissions are set by attaching IAM roles.

[2022-07-12 18:26] napalm684 commented on #1126
@ashishdhingra yes we use SSO for local development.

[2022-07-12 23:30] normj commented on #1204
@Simonl9l I don't have a timeline on when specific event support for ALB will be added. We had been working on other tasks that were taking priority over this library for the past couple months. Now that we are done with those tasks we plan on putting focus back on this library.

[2022-07-12 23:45] normj commented on #1126
@napalm684 To use SSO you need to take a dependency on `AWSSDK.SSO` and `AWSSDK.SSOOIDC` for the SDK to resolve your credential profile into AWS credentials. Since you only need the SSO packages for local debug I suggest adding the dependencies to the project file conditionally so they don't get added to the deployment bundle for Lambda. Here is an example of what I mean.

[code]

[2022-07-13 00:17] #871 closed

[2022-07-13 14:23] napalm684 commented on #1126
Thx @normj that did it.

This can be closed. While I think the documentation for the tool might be a little more robust, for anyone that stumbles upon this until that time, here is what I did with rider.

- Run ~/.dotnet/tools/dotnet-lambda-test-tool-6.0 in its own process/terminal
- Add the env var for AWS_LAMBDA_RUNTIME_API as described above
- If using SSO add the conditional packages as descri

[2022-07-13 20:57] ashishdhingra commented on #1231
@JonOJet I tried reproducing the issue with the code below:
[code]

It does log the error `Runtime.ExitError`. However, it also logs the original exception (see `fail System.Exception: Unhandled exception with non ASCII character: ♂`:
[code]

Please recheck if the original exception is reported in your CloudWatch logs.

**Comparison with Node.js**
`Node.js 16.x` lambda with the following code repo

[2022-07-13 23:10] normj commented on #1126
@napalm684 Great to hear you are working. I agree the documentation for this feature is lacking and it is important we get that fixed. I think your SSO issue is also a great candidate to go in the tool's FAQ.

[2022-07-13 23:10] #1126 closed

[2022-07-14 09:09] kubalunacek opened #1244 "AWS Lambda .NET 6 ARM Exceptions"
### Describe the bug

We have an application that runs on AWS Lambda. Until recently we were running it on .NET Core 3.1 and x86 architecture. We have now ported it to .NET6 on ARM64 and this has brought unexpected problems, as we are randomly getting errors that we believe point to a problem in AWS Lambda runtime for .NET 6. On the original application (.NET Core 3.1 + x86) these errors were not

[2022-07-14 14:24] Sparafusile opened #1245 "Parameter of type Amazon.Lambda.SQSEvents.SQSEvent passing is not supported"
### Describe the bug

I am unable to create a function with the following signature:

[code]

### Expected Behavior

I would like to be able to write a endpoint that accepts a SQS message.

### Current Behavior

[log.txt](https://github.com/aws/aws-lambda-dotnet/files/9112499/log.txt)

[code]

### Reproduction Steps

[code]

### Possible Solution

_No response_

### Additional Information/Context

[2022-07-14 16:24] jarrodkoch opened #1246 "The ZipFile attribute is not supported for the runtime 'dotnet6'"
### Describe the bug

I am attempting to create a CloudFormation template to deploy structure to AWS from an Azure pipeline.  Part of this is a Lambda function which we build in Azure and package using AWS Toolkit for Azure as a zip package.

When I attempt to deploy this through the template, the deployment fails and there is an event in the CloudFormation stack which states:

Resource handler re

[2022-07-14 22:31] ashishdhingra commented on #1246
Similar issue https://github.com/aws-cloudformation/cloudformation-coverage-roadmap/issues/80 worked upon in the past by CloudFormation team.

[2022-07-14 23:59] normj commented on #1246
The `ZipFile` property is only supported for Node.JS and Python runtimes. The intention of the `ZipFile` is to embedded source and then CloudFormation/Lambda will automatically create a zip file from the embedded source. That works fine for dynamic languages but not static languages that require a build step.

With just using CloudFormation you would need to upload the zip file to S3 and then upda

[2022-07-15 00:38] normj commented on #1244
Does this happen during the cold start after a some number invocations? A way to check if this happens during cold starts would be if it is the first invoke in the CloudWatch Log Stream.

[2022-07-15 06:21] kubalunacek commented on #1244
Hey, it is not definitely cold start, via images. What is interesting that we have two Lambdas with same code base, the first one is 256MB of memory. The second one with 512MB of memory. The first always crash with `Size: 256 MB Max Memory Used: 256 MB`.  The second one with `Size: 512 MB Max Memory Used: 368 MB`.

Lambda log:
![image](https://user-images.githubusercontent.com/26096901/179163508-0

[2022-07-15 12:41] jarrodkoch commented on #1246
Thanks for the information.  Unfortunate to hear that .NET isn't supported in CloudFormation templates.

[2022-07-15 13:47] jarrodkoch commented on #1246
The documentation at https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html#cfn-lambda-function-packagetype could be updated to indicate that only NodeJS and Python are supported.  I don't see anything there which indicates this limitation.

[2022-07-15 15:14] avalara-stephen-hickey opened #1247 "Mimic lambda lifecycle in Lambda Test Tool"
### Describe the feature

Currently, the Lambda Test Tool re-creates instances of a lambda every time the lambda function is invoked. I would expect that a lambda would be instantiated once and re-used for some configurable amount of time, [similar to how it is hosted in AWS (FunctionInit)](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtime-environment.html).

In the following code sample

[2022-07-15 15:26] JonOJet commented on #1231
Hi @ashishdhingra

That is correct, the original exception which contains the non-ASCII character is logged to the Cloudwatch logs.

However, the problem is that the Runtime.ExitError exception is returned to the caller instead of the original exception that contains the non-ASCII character.

Looking at the stack trace in your logs, a second exception is thrown when handling the exception which co

[2022-07-15 16:10] ashishdhingra commented on #1246
@jarrodkoch Could you please use the [Provide feedback](https://docs.aws.amazon.com/forms/aws-doc-feedback?hidden_service_name=Lambda&topic_url=http://docs.aws.amazon.com/en_us/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html) to submit the documentation feedback? Also confirm if we could close this issue.

[2022-07-15 16:20] jarrodkoch commented on #1246
Yes and yes.

[2022-07-15 16:21] #1246 closed

[2022-07-16 00:51] Simonl9l commented on #1204
@normj  great/thanks - please can you let us know where we need to monitor for updates.

[2022-07-16 03:06] Simonl9l commented on #979
@normj  et al beyond the CDK there is potentially another similar issue if one wants to deploy the lambda in a docker container as it seems the Dockerfile `CMD` requires the generated lambda name per the CF template.

[2022-07-16 13:56] brendonparker commented on #913
I had the same thought recently and found this thread/issue. Especially given the recent hotness of the Amazon.Lambda.AspNetCoreServer which abstracts away the need for a "FunctionHandler". I'm wondering if it is just putting a finger on the right extensibility point in SignalR, perhaps a new transport as @genifycom suggests like `proxiedWebSockets` which can take the web socket event in the lambd

[2022-07-17 17:53] Simonl9l commented on #1204
@normj - in the mean time per the [Event Attributes](https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.Annotations#event-attributes), specifically:

Please could you help with a shot code sample of how this _could be configured outside of the code_ as ALB Events are natively supported we can then more easily migrate. This may also help others.

[2022-07-18 14:38] bjorg commented on #1244
I ran into the [same issue as well](https://twitter.com/bjorg/status/1548864702255468544?s=20&t=2OsDjR3li3tNL1ze1d1KGQ). Also ARM64, but using 128MB for configuration. It's pretty rare as I've been doing benchmarking of various configuration and deployment options and have only seen it once.

![image](https://user-images.githubusercontent.com/63682/179535507-a34bfc38-3714-4c5a-90df-16bb3d869c43.pn

[2022-07-19 00:33] normj commented on #1235
I was able to reproduce the problem. I'm assuming @geedsen that `Project.Api` is an executable project which is causing multiple `deps.json` files to be written.

The test tool should prioritize the `deps.json` file that matches the name of the assembly specified in the function handler string.

[2022-07-19 13:46] antonysamy931 opened #1248 "AWS LEX V2 lambda event serialize issue"
### Describe the bug

Not able to deserialize event object in lambda handler. It throws following error
`tions options, ReadStack& state, T& value)
   at System.Text.Json.Serialization.Metadata.JsonPropertyInfo`1.ReadJsonAndSetMember(Object obj, ReadStack& state, Utf8JsonReader& reader)
   at System.Text.Json.Serialization.Converters.ObjectDefaultConverter`1.OnTryRead(Utf8JsonReader& reader, Type

[2022-07-19 13:51] antonysamy931 commented on #1248
Request & response documentation for lex v2
https://docs.aws.amazon.com/lexv2/latest/dg/lambda.html#lambda-input-format

[2022-07-19 14:02] avalara-stephen-hickey commented on #1247
I realized I should greatly simplify the example, I had leftovers from when I was playing around with object lifetimes.

[code]

Expected output:
[code]

Actual output
[code]

[2022-07-19 16:17] ashishdhingra commented on #1248
Hi @antonysamy931,

Good morning.

Thanks for reporting the issue. The LexV2 event classes have been modeled as per the documentation. If you refer API reference for [Interpretation](https://docs.aws.amazon.com/lexv2/latest/dg/API_runtime_Interpretation.html) and [ConfidenceScore](https://docs.aws.amazon.com/lexv2/latest/dg/API_runtime_ConfidenceScore.html) types, the `nluConfidence` is a [Confide

[2022-07-19 23:50] Simonl9l opened #1249 "Dotnet Lambda Test Tool Blazor UI does not support changes Lambda Project RootNamespace - FileNotFoundException: Could not load file or assembly"
### Describe the bug

Using the standard dotnet template for the "Lambda Annotations Framework (preview)" and editing the `.csproj` to add a `<RootNamespace>OtherNamespace</RootNamespace> element:

[code]

results in the following exception:
<img width="1992" alt="Screen Shot 2022-07-19 at 4 27 09 PM" src="https://user-images.githubusercontent.com/66816457/179864919-48186021-e4fd-4663-aa97-23f1df9

[2022-07-20 00:25] Simonl9l commented on #1235
@normj sees this is also related to https://github.com/aws/aws-lambda-dotnet/issues/1249 - in that the assembly for each handler is know from the `"Hander"` in the `serverless.template` as stored as part of the `LambdaFunctionInfo`.

[2022-07-20 06:43] jevvo-trimble opened #1250 "dotnet-lambda package-ci throws an exception with signed dll"
### Describe the bug

Getting **/usr/share/dotnet/sdk/6.0.300/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.CrossGen.targets(463,5): error : Error: Unexpected CodeView data signature value** if signed dll included in project and PublishReadyToRun set to true, when running  dotnet-lambda package-ci.

### Expected Behavior

Published with no errors.

### Current Behavior

error	19-Jul-2022 01:02:58	+

[2022-07-20 19:09] piekstra commented on #1232
Just ran into a desire for this capability myself. Would appreciate seeing it implemented.

[2022-07-21 11:53] markcastle commented on #287
Here is the video for anyone looking for it (even a few years down the line)... https://youtu.be/sgXq5-UGRt8?t=160
HTH :-)

[2022-07-21 15:05] antonysamy931 commented on #1248
Hi @ashishdhingra ,

I have created bot using lex version 2.
Created c# lambda and map to lex fulfillment.
Invoke request from lex to lambda, it throws parsing error.

[2022-07-22 20:15] ashishdhingra commented on #1245
Might be related to https://github.com/aws/aws-lambda-dotnet/pull/1203.

[2022-07-26 14:39] kubalunacek commented on #1244
Hi @ashishdhingra ,
what do you need for reproduction? We have out production code deployed on AWS Lambdas. I am unable to provide you the production code. But we get this error once or four times a day. And from our observations, it's not so much the code as it is the number of calls at the moment. Because the other 10+ Lambdas with the same code base and less frequent calls don't suffer from any

[2022-07-29 09:35] xfree123 opened #1256 "Amazon.SimpleNotificationService.Util Message.MessageText is misspelled and incompatible with AWS SDK for .NET"
### Describe the bug

I'm using Amazon.SimpleNotificationService.Util.Message .NET AWSSDK.CORE and AWSSDK.SimpleNotificationService in HTTP/HTTPs subription Endpoit solutions.  In SimpleNotificationService.Message class is spelled  MessageText see [Message.cs](https://github.com/aws/aws-sdk-net/blob/master/sdk/src/Services/SimpleNotificationService/Custom/Util/Message.cs) but the data send from Am

[2022-07-29 16:26] ashishdhingra commented on #1256
Hi @xfree123,

Good morning.

As I understand, you are trying to use [Amazon.SimpleNotificationService.Util.Message](https://github.com/aws/aws-sdk-net/blob/5f988602d1c847a5c229ed69bf8070f2a6d051ef/sdk/src/Services/SimpleNotificationService/Custom/Util/Message.cs#L21) to handle the incoming SNS message. Since the `MessageText` is exposed on the public interface, changing it's name could be a break

[2022-07-29 19:17] avalara-stephen-hickey commented on #1095
This seems like a required feature to be able to use top level statements.

Which is sad, because the set up code for function based lambdas is ugly when you need async configuration. The [sample app ](https://github.com/awsdocs/aws-lambda-developer-guide/blob/main/sample-apps/blank-csharp/src/blank-csharp/Function.cs) is calling async methods in initialization code without awaiting the result, wh

[2022-07-29 21:57] Sparafusile commented on #1245
If it's any help, the compiler succeeds if I change the function definition to this:

[code]

or this:
[code]

What I needed to do is remove the HttpApiAttribute (which defeats the purpose of the project) and make the method return a value (even if it's useless).

[2022-08-01 05:54] tepatelcmc opened #1259 "Error on deploying lambda function with .net 6 when referencing a .NET Standard library"
### Describe the bug

Deploying .Net 6 project with a dependency of .net standard2.1 to AWS Lambda function fails at dotnet lambda deploy-function.
Locally the project works (build + local run)

### Expected Behavior

.Net 6 project should be able to reference .Net Standard dll and project should be able to get deployed on AWS Lambda function.

### Current Behavior

it throws error while publishin

[2022-08-01 22:07] ashishdhingra commented on #1248
Reproducible. Need to check with service team on this change since the `Amazon.Lambda.LexV2Events` followed the documentation and the scenario was tested successfully earlier.

[2022-08-01 22:27] ashishdhingra commented on #1248
P69014723

[2022-08-02 08:18] dglozano commented on #1244
We are experiencing the exact same issue. Our try/catch in the handler doesn't catch anything, and it crashes with the same Runtime error.

It happens randomly, on average once a day I would say.

.NET 6, ARM64 and 1024MB of configured memory.

[2022-08-02 16:56] ashishdhingra commented on #1248
Per service team, `nluConfidence` in case of Lambda input event is a `double`. They will get the documentation corrected. We would work to fix this in `Amazon.Lambda.LexV2Events` package.

[2022-08-02 17:44] jeastham1993 opened #1262 "Deserialization fails when using Source Generated Serialization"
### Describe the bug

When using source generated serialization with the Amazon.Lambda.APIGatewayEvents package the actual object properties passed into the Lambda function do not get deserialized.  When using the custom serializer context below all of the properties are set to null when deserializing an event payload.

[code]

I have tested this with SQS as well and the same issue happens

### Ex

[2022-08-02 17:56] jeastham1993 commented on #1262
Answering my own issue here, but it looks like this has been solved in version 2.3.0 of the Amazon.Lambda.Serialization.SystemTextJson which now supports passing in JsonSerializerOptions in the constructor of SourceGeneratorLambdaJsonSerializer.

[2022-08-02 17:56] #1262 closed

[2022-08-02 22:23] ashishdhingra commented on #1226
[Amazon.Lambda.S3Events version 3.0.0](https://www.nuget.org/packages/Amazon.Lambda.S3Events/3.0.0) as part of PR https://github.com/aws/aws-lambda-dotnet/pull/1237.

[2022-08-02 22:23] #1226 closed

[2022-08-02 22:27] normj commented on #979
Version 0.6.0-preview has been released. It contains a breaking change to move the API Gateway .NET attributes to a new `Amazon.Lambda.Annotations.APIGateway` namespace. We wanted to make sure when we add more services that we would not make the root namespace `Amazon.Lambda.Annotations` too confusing or run into conflicts.

Due to the breaking change and the way source generators work if you upda

[2022-08-02 23:02] Simonl9l commented on #979
@normj thanks for the update.

For the time being we’re sticking with the dotnet 6 minimal API setup given need for ALB bindings, and related issues below.

We figure it’s minimal effort to switch over to the annotations library as it progresses…

Our main issues as it stand is not the annotations library itself but the tool support either via the lambda test tools - not supporting the lambda life

[2022-08-03 00:03] nobowned opened #1264 "Lambda invocation fails with "System.MissingMethodException" in net6.0"
### Describe the bug

Invoking a lambda function using the net6.0 Lambda Test Tool can result in a System.MissingMethodException.

I'm not entirely sure why yet, but the following combination results in the defect:

- Lambda Test Tool net6.0
- Lambda function and project targeting framework net6.0
- Lambda project file referencing System.Text.Json Version 6.0.5: \<PackageReference Include="System.

[2022-08-03 05:11] ashishdhingra commented on #1248
This has been fixed in [Amazon.Lambda.LexV2Events 1.0.1](https://www.nuget.org/packages/Amazon.Lambda.LexV2Events/1.0.1)

[2022-08-03 05:11] #1248 closed

[2022-08-03 12:52] svoychik opened #1265 "Issue with unhandled exception message been multilined"
### Describe the bug

As a result of unhandled exceptions, logs are written into Cloudwatch in multiline format.
https://github.com/aws/aws-lambda-dotnet/pull/1165 - previous attempt to fix the issue didn't help so this probably has to be double-checked

For us, this issue causes quite a lot of garbage logs, which distracts attention from really important things

### Expected Behavior

The excepti

[2022-08-03 15:47] normj commented on #1265
Hi @svoychik

I pinged the Lambda team on the status of the deployment and they have been doing a lot of internal changes to how their runtime deployments. The side effect is the change made to the .NET runtime client hasn't been deployed yet to the managed runtime. Sorry for the delay.

[2022-08-04 08:29] svoychik commented on #1265
Hi @normj
Thanks for the response.
Is there a place where I can track the latest updates to the .NET runtime in terms of the version of packages to not spend a lot of time trying to understand whether the Lambda team released the fix or not?

Also, considering the speed of delivery (more than 3 months), it looks like a big reason to think about whether we really want to use custom runtime or the o

[2022-08-04 16:03] mryanmurphy opened #1267 "Update `Publish-AWSPowerShellLambda` to set function runtime if it does not match the built csproj"
### Describe the feature

`Publish-AWSPowerShellLambda` would be a better experience if it would automatically upgrade the function config to match the correct dotnet runtime prior to uploading function code. There is no parameter to specify this, so you need to trigger it via some other mechanism.

### Use Case

When publishing a function via `Publish-AWSPowerShellLambda`, if the current function

[2022-08-04 18:05] ashishdhingra commented on #1267
One of the caveat here is if the function runtime is actually supported by Lambda environment. For example, .NET Core 2.1 is no longer supported. Needs review with the team.

[2022-08-04 21:44] ashishdhingra commented on #1259
Hi @tepatelcmc,

Good afternoon.

Somehow, I'm unable to reproduce the issue. Used the Visual Studio 2022 Lambda project template and referenced `netstandard2.1` library (code below):
**LambdaNet6_Issue1259.csproj**
[code]
**LambdaNet6_Issue1259 > Function.cs**
[code]
**NetStandard21Library.csproj**
[code]
**NetStandard21Library > Utilities.cs**
[code]

I have Lambda Test Tool version `0.12.3` ins

[2022-08-04 22:54] ashishdhingra commented on #1264
@nobowned Good afternoon. Looks like you are using a 3rd party library [Amazon.Lambda](https://www.nuget.org/packages/Amazon.Lambda/0.12.0/) and having issues while using `System.Text.Json` version `6.0.5`. Unfortunately, we cannot support troubleshooting issues while using 3rd party libraries.

Just curious on why you are not using the AWS Visual Studio Tooklit project templates for generating th

[2022-08-05 05:43] jamesbascle commented on #1198
This is the exact solution I came up with.  I created a dummy project and a script to consume it and published it to our "useful scripts" repo that all our devs have.  Not an ideal solution, but until this gets attention and fixed I guess it's the best we can do.

Seems pretty strange to have all the fanfare about .net 6 and minimal API and running as a console app etc. and then just...not support

[2022-08-05 16:40] nobowned commented on #1264
Your example also references Amazon.Lambda. Just add <PackageReference Include="System.Text.Json" Version="6.0.5" /> to your project file and you will have the same problem as me.

Are you saying you've identified that the problem is with Amazon.Lambda and not with the test tool? How? I don't think it's possible to have a .net lambda without referencing Amazon.Lambda package.

[2022-08-05 16:44] ashishdhingra commented on #1264
@nobowned If you check the owner of https://www.nuget.org/packages/Amazon.Lambda/0.12.0/ it is maintained by https://www.nuget.org/profiles/iamcarbon, not official  https://www.nuget.org/profiles/awsdotnet).

[2022-08-05 17:28] nobowned commented on #1264
@ashishdhingra  Okay, I changed it to this and it still happens. Please add <PackageReference Include="System.Text.Json" Version="6.0.5" /> to the example you posted and it will fail.

[code]

[code]

[2022-08-07 00:18] #1256 closed

[2022-08-08 02:18] dhhoang opened #1268 "`ILambdaLogger` should support parameterized and structured logging"
### Describe the feature

The `dotnet6` Lambda runtime should support parameterized and structured logging methods.

*Note*: This issue continues the conversation in https://github.com/aws/aws-lambda-dotnet/issues/1232. We believe structured logging would benefit customers, but we understand that we want to minimize the dependencies of `Amazon.Lambda.Core`. So we are proposing a different approach

[2022-08-08 02:19] dhhoang commented on #1232
Closing in favor of https://github.com/aws/aws-lambda-dotnet/issues/1232

[2022-08-08 02:19] #1232 closed

[2022-08-08 12:06] JirHan commented on #1244
Hey, we are having exactly the same issue. Few lambda calls per day fails with the error above. It is always the endpoints with the higher invocation number. Tried to debug and analyze this, but without any success.

[2022-08-09 02:49] Swimburger opened #1269 "`dotnet new` generates project in src folder"
### Describe the bug

`dotnet new` generates project in src folder, handling the `--name` and `--output` parameter incorrectly.

Let's use the following command as example 1:
[code]
And the following as example 2:
[code]

### Expected Behavior

1: The expected result would be to generate the project files in the current folder because `--output .`, but the project name should be _MyLambdaMinimalAp

[2022-08-09 02:49] Swimburger opened #1270 "`dotnet new` generates project in src folder"
### Describe the bug

`dotnet new` generates project in _src_ folder, handling the `--name` and `--output` parameter incorrectly.

Let's use the following command as example 1:
[code]
And the following as example 2:
[code]

### Expected Behavior

1: The expected result would be to generate the project files in the current folder because `--output .`, but the project name should be _MyLambdaMinimal

[2022-08-09 16:54] ashishdhingra commented on #1270
Hi @Swimburger,

Thanks for reporting the issue. The output of the `dotnet new serverless.AspNetCoreMinimalAPI --name MyLambdaMinimalApi --output .` command is controlled by the [Lambda Blueprint template](https://github.com/aws/aws-lambda-dotnet/tree/master/Blueprints/BlueprintDefinitions/vs2022/AspNetCoreWebAPI.MinimalAPI/template) which defines the top level structure with `src` as parent folde

[2022-08-09 20:27] Swimburger commented on #1270
If I understand correctly, the `--name` and `--output` argument is handled by .NET CLI (not part of this project), but it's the _src_ folder that is injected by the AWS templates? Should `/src` be removed from _template.json_ to make it consistent with other project templates?

[2022-08-09 20:29] ashishdhingra commented on #1270
@Swimburger This needs discussion with the team.

[2022-08-10 18:25] ashishdhingra commented on #1249
@Simonl9l Thanks for reporting the issue. It is reproducible.

The root cause is that per updated `serverless.template`, the handler is set as `Other::Other.Functions_Divide_Generated::Divide`. So it is looking for assembly named `Other`. However, by default, assembly name in project settings is set to `$(MSBuildProjectName)`. Hence the compiled assembly is named as LambdaAnnotationsRootNamespace_

[2022-08-12 00:57] hauntingEcho commented on #588
This is still an issue

[2022-08-12 13:56] msaravanaganesh opened #1272 "(short issue description)"
### Describe the bug

Unable to publish Lambda function using Publish-AWSPowerShellLambda getting below error.

Restoring .NET Lambda deployment tool
Exception: C:\\Users\\xxxxxxx\\OneDrive\\Documents\\PowerShell\\Modules\\AWSLambdaPSCore\\3.0.1.0\\Private\\_DeploymentFunctions.ps1:402
Line |
402 | throw $msg
| ~~~~~~~~~~
| Error configuring .NET CLI AWS Lambda deployment tools: 1 CALLSTACK: Comma

[2022-08-12 16:18] ashishdhingra commented on #1272
Hi @msaravanaganesh,

Good morning.

Thanks for posting the issue. Looks like the script is unable to configuring .NET CLI AWS Lambda deployment tools and the error is thrown at https://github.com/aws/aws-lambda-dotnet/blob/04a0249fe10e1beb32fe0e73d7aa10f93ba25ccb/PowerShell/Module/Private/_DeploymentFunctions.ps1#L402

The exception is thrown after executing command to install/update .NET Global

[2022-08-12 23:10] Im5tu commented on #1124
Any updates on this?

[2022-08-13 00:16] #1259 closed

[2022-08-13 13:38] ddivita commented on #448
Is this still an issue with .net deployments? Is there a better way to get the layer arn?

[2022-08-14 00:16] #393 closed

[2022-08-14 00:16] #430 closed

[2022-08-14 00:16] #483 closed

[2022-08-14 00:16] #493 closed

[2022-08-14 17:52] Simonl9l commented on #1249
@ashishdhingra  thanks for looking, please advise on future updates or if you need any additional information.

[2022-08-15 16:46] houseofcat commented on #212
In case anybody, comes in here, set GC to workstation, not server. This will keep the memory usage in check. It's not a long lived application and the GC performs much more efficiently at a small cost to performance for GC operations cycles that will occur more frequently.

`<ServerGarbageCollection>false</ServerGarbageCollection>`

[code]

[2022-08-16 00:11] mattjohnsonpint opened #1273 "dotnet-lambda failed to load libhostfxr.dylib on Mac M1"
### Describe the bug

On my Mac M1 (Apple Silicon arm64 architecture), the .NET Lambda CLI tool gives an error because it's trying to load the x64 version of `libhostfxr.dylib` instead of the arm64 version.

### Expected Behavior

The `dotnet-lambda` tool should execute normally.

### Current Behavior

`dotnet-lambda` gives this error when running it (even with no arguments):

[code]

### Reproduc

[2022-08-16 00:18] #825 closed

[2022-08-16 09:11] msaravanaganesh commented on #1272
Hi @ashishdhingra

Thanks for your reply, I had tried to publish the lambda function as administrator bust still getting the same error.

I tried update the AWS.Lambda.Tools with the given command "dotnet tool update -g Amazon.Lambda.Tools" but that fails

 dotnet tool update -g Amazon.Lambda.Tools
C:\Users\u107524\AppData\Local\Temp\x0dk5kcl.1yn\restore.csproj : error NU1100: Unable to resolve 'a

[2022-08-16 09:41] markgilbert-git commented on #1272
Hi @msaravanaganesh

I was having the exact same problem, and found a solution here on the Microsoft forums - [Dotnet fails to install tools](https://docs.microsoft.com/en-us/answers/questions/216940/dotnet-fails-to-install-tools.html)

running `dotnet nuget list source` showed an empty source list, and then running `dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org` to add

[2022-08-16 11:29] msaravanaganesh commented on #1272
@markgilbert-git

Amazing yes it worked.

But any idea how and what happen suddenly end up .Net issue.

the same system was working earlier without any issues.

[2022-08-16 11:31] markgilbert-git commented on #1272
@msaravanaganesh Now that I can't explain, mine was a fresh install of the .Net SDK and the problem was present there

[2022-08-16 16:18] ashishdhingra commented on #1272
@markgilbert-git Thanks for your guidance.

[2022-08-16 16:55] dhhoang commented on #1268
@ashishdhingra , is there a process for reviewing the proposal? I'd be happy to send a PR with sample implementation if needed :)

[2022-08-16 16:56] ashishdhingra commented on #1268
@dhhoang Sure. PR would be helpful to be reviewed by the team.

[2022-08-17 04:25] nishant-newton commented on #1169
I have had a requirement in my project where as a developers we couldn't debug multiple lambda functions running locally and calling each other via http protocol. We are using `.NET Core 3.1`, `.NET 6` and `Visual Studio 2022` for Lambda functions and using Mock tool for debugging the functions. I made some changes to the `aws-lambda-dotnet` tool to support this functionality without using any oth

[2022-08-17 18:14] rackerWard opened #1278 "APIGatewayCustomAuthorizerRequest missing RouteArn property"
### Describe the feature

When working with an HttpApi custom Lambda authorizer

The class APIGatewayCustomAuthorizerRequest is missing the property RouteArn.
Add the property RouteArn to the APIGatewayCustomAuthorizerRequest class.

A custom authorizer is not able to access this data when using APIGatewayCustomAuthorizerRequest.
It is misleading to use MethodArn, which appears to never have a val

[2022-08-17 20:23] ryanpsm commented on #979
If I want to return different HTTP status codes and error messages depending on the issue that arose during processing the request, is that possible with the Annotations API?

[2022-08-18 01:41] nishant-newton opened #1279 "Http end point ability in LamdaTestTool"
### Describe the feature

We can debug the `Lambda function` from the `web page` of this `LamdaTestTool`. This new feature will allow to create the `http` end points so that `lambda functions` can be called through `http` in the local environment for `debugging` purpose

### Use Case

When `Lambda functions` are called through `http` protocol i can't `debug` them in `Visual Studio` and if there ar

[2022-08-18 17:07] ashishdhingra commented on #1278
Hi @rackerWard,

Good morning.

Thanks for submitting feature request. Could you please point to the API Gateway documentation which specifies support for `RouteArn` property for Lambda Authorizer? Lambda request classes are POCO classes and modeled according to the documentation. I was referring to the example at [Input to an Amazon API Gateway Lambda authorizer](https://docs.aws.amazon.com/apiga

[2022-08-18 20:53] rackerWard commented on #1278
Hi Ashish,

API Gateway has REST API and HTTP API.  The link you provided goes to the REST API documentation.  In the [https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html](Working with AWS Lambda authorizers for HTTP API) the payload format version 2.0 has `routeArn `and does not contain `methodArn` which is in the documentation under the REST API.

The fol

[2022-08-19 15:25] IvanFarkas opened #1281 "AWS Lambda Console incorrectly reports x86_64 architecture for an arm64 docker image"
### Describe the bug

# Bug
Configured the app based on the VS 2022 **[Lambda ASP.NET Core Web API (.NET 6 Container Image) (AWS)](https://raw.githubusercontent.com/IvanFarkas/LambdaWebAPI/arm/Docs/LambdaWebAPI.png)** template to use the **arm64 architecture**.
While the [local Docker reports arm64 architecture](https://github.com/IvanFarkas/LambdaWebAPI/tree/arm#local-docker-reports-arm64-archite

[2022-08-19 23:21] olcampo commented on #450
Same here !

[2022-08-23 06:40] normj commented on #1169
@nishant-newton I would be interested in seeing a PR of the work you have done.

[2022-08-24 00:17] nishant-newton commented on #1169
@normj sure i can do something to show you my work not sure of the PR though. I was expecting some response from aws team about the approval of your feature request. There is a separate feature request (https://github.com/aws/aws-lambda-dotnet/issues/1279) i have also submitted. With the approval of the feature request it is easy to submit the PR. But may be i will put my code in some branch and s

[2022-08-25 00:17] #644 closed

[2022-08-26 10:31] batni commented on #829
I had the same problem and Modified function-handler in aws-lambda-tools-defaults.json to reflect lambda function the error is gone now

![image](https://user-images.githubusercontent.com/12651952/186884966-3be29243-6d74-44b0-bb59-8fbf3ac98f70.png)

[2022-08-26 20:15] normj commented on #1281
Looking at your repo you haven't sepecified in the CloudFormation template that archectiture of the function should be `arm64`. Below is a snippet of what that would look like.

[code]

[2022-08-26 20:21] ashishdhingra commented on #1270
Marking this as feature request since this is working as designed. May be we could include a switch which controls the creation of `test` folder. If not we default to the user's scenario.

[2022-08-26 20:33] Swimburger commented on #1270
I'm not aware of a test folder. I want project templates to behave like the default .NET SDK project templates.

[2022-08-26 22:53] normj commented on #1264
Given that System.Text.Json is automatically available as part of .NET 6 is there a reason you are explicitly adding `System.Text.Json`? I'm not sure yet why the `MissingMethodException` is happening but it doesn't happen if you don't have the `PackageReference` to `System.Text.Json` and you still have System.Text.Json available.

[2022-08-26 22:59] normj commented on #1245
@Sparafusile I'm trying to understand what you want to accomplish. The `HttpApi` attribute is used for exposing the Lambda function as a API Gateway rest endpoint. Where is the SQS event supposed to come from in your scenario with `HttpApi`?

We would like to add additional attributes to the library that handle subscribing an SQS queue as the event source of the Lambda function. Is that the featur

[2022-08-26 23:29] normj commented on #1250
The AWS dlls like the SDK are all signed and I'm not able to reproduce any problems packaging with `PublishReadyToRun` set to true.

Is there any more information you can provide about your signed projects? Are they marked for trimming?

[2022-08-28 00:20] #801 closed

[2022-08-29 06:52] taipignas opened #1288 "Unable to run your project. The "RunCommand" property is not defined"
### Describe the bug

I am not able to debug the project. I get this error.

![image](https://user-images.githubusercontent.com/55182635/187138962-dcc69149-c7b1-4289-9c1f-fb7c81e4ebd6.png)

### Expected Behavior

debugging should work

### Current Behavior

debugging doesnt work

### Reproduction Steps

1. create new annotation framework serverless application
2. run

### Possible Solution

_No re

[2022-08-29 17:59] Sparafusile commented on #1245
@normj My specific use case is to consolidate a list of Lambda function which are each a separate project in my Visual Studio solution. My goal is to make it easier to deploy all lambda functions at once. Not all my lambda functions do have an API endpoint, but some do. This post above was simply the first function I tried.

A better example would probably be the custom identity provider I'm using

[2022-08-29 18:40] nobowned commented on #1264
We have a netstandard2.0 dependency that uses System.Text.Json features (this example is contrived):
[code]
And within netstandard2.0 libraries you are forced to specify the PackageReference for System.Text.Json:
[code]
And we like to keep our libraries up to date! 6.0.5 is the latest stable version of System.Text.Json.

[2022-08-29 20:30] normj commented on #979
@ryanpsm With the Annotations library you can still return the `APIGatewayHttpApiV2ProxyResponse ` to customize the status codes and headers returned. I have thought about creating an optional base class that could have the familiar `Ok`, `NotFound` and other base methods for a better experience. Curious what others thoughts are on that.

[2022-08-29 20:38] normj commented on #979
Version `0.7.0-preview` is out that adds YAML support and fixes a code generation issue. We are hoping to release the 1.0 version so would really appreciate feedback on this release.

[2022-08-31 13:38] andremantaswow commented on #1278
Also looking forward to know how this should be used in C# lambda authorizers. I can't find a POCO class that represents the v2 payload of this documentation: https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html

cc @ashishdhingra

[2022-08-31 20:47] ashishdhingra commented on #1278
@andremantaswow Agreed, the current version of [APIGatewayCustomAuthorizerRequest](https://github.com/aws/aws-lambda-dotnet/blob/master/Libraries/src/Amazon.Lambda.APIGatewayEvents/APIGatewayCustomAuthorizerRequest.cs) doesn't appear to support [HTTP API 2.0](https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html) payload version. Would you be willing to contr

[2022-09-01 07:07] duncanbrown commented on #886
This is still an open issue as far as I know. The PR with a suggested fix is still open and awaiting review.

[2022-09-01 08:48] petro2050 opened #1298 "How can I load appsettings.Development.json?"
In the constructor of `Startup.cs`, I injected an `IWebHostEnvironment` and noticed the environment is set to Production. This happens in debug mode. As a result, I'm unable to load `appsettings.Development.json`. I'm not sure if this is an issue on your end or .NET 6 / VS2022.

In `ConfigureServices`, I need to configure services based on the environment (for example use local DynamoDb in Develop

[2022-09-01 09:35] petro2050 opened #1299 "web.config file is missing"
When I create a web api project, the `readme.md` file has a line under `Project Files` which reads

`web.config - used for local development.`

However, this file is not created.

[2022-09-01 09:58] andremantaswow commented on #1278
@ashishdhingra what's the approach the team is expecting here? I see at least 2 options:

1) Update existing APIGatewayCustomAuthorizerRequest class to include not only v1 format fields but also the new v2 fields (so that deserialization from json works for both cases). Since people are only using it for v1 format (eg reading `request.MethodArn` in their code), we could make it a non breaking chan

[2022-09-01 16:17] ashishdhingra commented on #1278
CC @normj

[2022-09-02 12:16] michaelpegg commented on #499
Still a problem.

The workaround provided by @Pietro1982 did not work for me.

[2022-09-02 21:38] IvanFarkas commented on #1281
Hi @normj,

Fantastic! It works now.
Either I missed the documentation (believe me I dug hard) or there is some work to do.

It reports: `LambdaWebAPI (.NET 6.0.8, amzn.2-arm64) on AWS Lambda with SAM`

Thank you very much for your help.
You made my day and what a fantastic way to start the weekend.

[2022-09-02 22:29] houseofcat commented on #1278
@ashishdhingra @normj I recently implemented an AWS Lambda Authorizer, I have the contracts. It's wasn't as straight forward as I had assumed/hoped.

New `RestApi` and `HttpApi` created in the API Gateway both use the new `v2` payload/model. Legacy RestApis (i.e. ones not recently created since Api Gateway made this shift) are still using payload format `v1`. It's probably safe to assume new ones

[2022-09-03 00:00] normj commented on #1298
Transferred to the .NET repo where the blueprints live.

[2022-09-03 00:01] normj commented on #1299
Transferred to the .NET repo where the blueprints live.

[2022-09-03 14:06] jeastham1993 opened #1300 "Allow AspNetCoreServer.Hosting to use a custom serializer"
### Describe the feature

Currently the AspNetCoreServer.Hosting package initializes a DefaultLambdaJsonSerializer when creating the HandlerWrapper for the specific RuntimeSupportServer. Update this to use DefaultLamddaJsonSerializer as a default but allow a custom JsonSerializer to be used if required.

A link to the line in question can be seen here:
https://github.com/aws/aws-lambda-dotnet/blob

[2022-09-04 00:17] #1250 closed

[2022-09-08 17:12] andremantaswow commented on #1278
@houseofcat any updates on the PR? thanks

[2022-09-08 17:29] mattjohnsonpint commented on #1273
Closing, since it's not a problem with this tool.  See workaround here: https://github.com/dotnet/sdk/issues/27761#issuecomment-1241018226

Thanks.

[2022-09-08 17:29] #1273 closed

[2022-09-11 01:14] Simonl9l opened #1304 "Annotations - FunctionHander return type of Task<dynamic> Source Generation fails"
### Describe the bug

As background we're attempting to wrap this [repo](https://github.com/oliverschenk/cognito-lambda-triggers-dotnet) in the Annotations Setup that we can leverage the DI code generation to get our C# service implementations into each Cognito trigger implementation.

This single handler uses a `Task<dynamic>` return type. This results in the following code generation error:
[cod

[2022-09-12 11:00] ThomasArdal opened #1306 "Logging providers are not disposed in Amazon.Lambda.AspNetCoreServer.Hosting"
### Describe the bug

I'm not 100% sure here. But I think there's a problem with logging when running Lambdas on the new .NET 6 runtime with minimal API. It probably works fine when logging to something that takes 1 ms. But in case of remote loggers I'm experiencing problems. Let's say we have set up code like this in the `Program.cs` file:

[code]

`AddMyRemoteLogger` is invented for this issue b

[2022-09-12 20:37] ashishdhingra commented on #1306
Hi @ThomasArdal,

Good afternoon.

Could you please share the sample code solution for `MyRemoteLogger` to investigate the issue?

Thanks,
Ashish

[2022-09-12 23:04] ashishdhingra commented on #1304
@Simonl9l I'm unsure if the Annotations Framework supports the `dynamic` return type. @normj for input.

[2022-09-12 23:18] ashishdhingra commented on #1300
This needs review with the team. @jeastham1993 Feel free to contribute PR so that it could be reviewed by the team.

[2022-09-12 23:20] ashishdhingra commented on #1279
Result of https://github.com/aws/aws-lambda-dotnet/issues/1169#issuecomment-1225015482. Needs review with the team. @nishant-newton Feel free to submit the PR which could be reviewed by the team.

[2022-09-13 01:05] Simonl9l commented on #1304
@ashishdhingra is does not currently support the `dynamic` type per this issue as raised...build output logging (not included above) indicated to open this issue, so I did.

I seem to have a workaround just now to return a `JsonElement`, so it's not bothering me; but probably one to support, similar to the `Task` with no type support that was added in the more recent preview-7 I believe.

More imp

[2022-09-13 08:27] ThomasArdal commented on #1306
The idea here is that I want to log to both Cloudwatch and another destination.

I'll try to see if I can put a sample together.

[2022-09-13 09:15] ThomasArdal commented on #1306
@ashishdhingra Ok, here's a repository that I hope will re-create this. I'm having problems deploying this lambda and calling it. Maybe I'm just not skilled enough in AWS and I'm doing something wrong.

https://github.com/ThomasArdal/LambdaRemoteLogger

Let me go through what is created there. The `LogEndpoint` class has a single endpoint that can be POSTed to through:

[code]

This does nothing m

[2022-09-13 14:29] jeastham1993 commented on #1300
@ashishdhingra happy to. I've got a version I've been using for testing locally. I'll create a PR today or tomorrow for review.

[2022-09-13 19:40] william-keller opened #1307 "Monitor Dead Letter Queue does not return attributes and messageattributes of messages"
### Describe the bug

Monitor Dead Letter Queue does not return attributes and messageattributes of messages

When Start Monitoring is clicked, just the body of the message is passed to the lambda function.

### Expected Behavior

Pass the complete message to the lambda function

### Current Behavior

Just the message body is passed to the lambda function

### Reproduction Steps

Launch the web ap

[2022-09-13 20:52] jamesjoplin commented on #1264
Hello!

I've seen similar behavior when leveraging an extension method in the `System.Net.Http.Json` namespace, specifically `HttpResponseMessage.Content.ReadFromJsonAsync<T>()`

I've created an empty new project here with reproduction steps : https://github.com/jamesjoplin/lambda-json-missing-method
Manually attempting to add `System.Net.Http.Json` or the `System.Text.Json` assemblies doesn't res

[2022-09-14 01:17] normj commented on #1307
Associated PR has been released as part of 0.12.4. Thanks for the PR!

[2022-09-14 01:17] #1307 closed

[2022-09-14 07:11] normj commented on #1306
@ThomasArdal This is a challenge with anything that runs in the background in Lambda like a message queue to pushing logs to a remote provider. When the event is completed the background processes are paused and unless another event goes back into the same Lambda compute container there is no guarantee the background process will finish its work.

I don't see how a call to dispose will help becaus

[2022-09-14 07:16] ThomasArdal commented on #1306
@normj I totally understand the challenge. You cannot keep the runtime running in case any background threads want to do work at some point. But that's why the `Dispose` is there. When running this code on localhost and the runtime is shut down, the `Dispose` method is called. When running on AWS it looks like it is not called. For inspiration, ASP.NET Core has this exact thing implemented to make

[2022-09-14 09:08] rikvandenberg commented on #1095
Is there any update on this issue? It seems a bit misleading that a blog was posted showing you could use top-level statements, but then the actual test tool is not working.

Or is this free to pick up?

[2022-09-14 09:16] rickythefox opened #1309 "Lambda test tool not starting on MacOS"
### Describe the bug

Lambda test tool does not start on MacOS.

### Expected Behavior

Lambda test tool starts

### Current Behavior

Test tool does not start. The following error is shown when manually executing `./Amazon.Lambda.TestTool.BlazorTester.dll`:

```exec: Failed to execute process: '/Users/xxx/.dotnet/tools/.store/amazon.lambda.testtool-6.0/0.12.4/amazon.lambda.testtool-6.0/0.12.4/too

[2022-09-14 16:18] ashishdhingra commented on #1309
Hi @rickythefox,

Good morning.

The steps to configure Lambda Test Tool on Mac are different from Windows. Please follow the steps at https://github.com/aws/aws-lambda-dotnet/tree/master/Tools/LambdaTestTool#configure-for-visual-studio-for-mac and let me know if it works for you (I tested it locally and the steps work).

Thanks,
Ashish

[2022-09-14 17:12] petarrepac commented on #1306
"When running this code on localhost and the runtime is shut down, the Dispose method is called."

on localhost you send a "message" (like CTRL+C) to the **process** running the ASP.NET and then ASP.NET code nicely shutdown cleaning and disposing what's needed

when the "Lambda service" decides that it will not use some compute container anymore, it just kills it, without any notice
that's why the

[2022-09-14 18:11] martincostello opened #1310 ".NET ARM Lambda function using .NET 7 RC1 fails to start when using a custom runtime"
### Describe the bug

With .NET RC1 [available today](https://devblogs.microsoft.com/dotnet/announcing-dotnet-7-rc-1/), I attempted to deploy a .NET Lambda function I have to use it via a custom runtime ([deployment](https://github.com/martincostello/alexa-london-travel/actions/runs/3053867089)).

However, once deployed the tests for the Lambda function showed it was failing with an error. Digging

[2022-09-14 18:21] martincostello commented on #1310
Also logged with Microsoft here: https://github.com/dotnet/runtime/issues/75622

[2022-09-14 20:15] LarsAndreasEk commented on #1244
We have the exact same issue on arm/.net6 lambdas

[2022-09-14 21:08] normj commented on #1310
Hi @martincostello were you getting the error for ARM or X64? I have reproduced the problem for ARM but not for X64. I'm not sure what are options are yet because getting `provided.al2` updated to have a newer version of GLIBC could be a tough sell to the Lambda team but I'll see what I can do.

[2022-09-14 21:09] martincostello commented on #1310
Sorry for not making that clear, this is with Graviton and arm64.

[2022-09-14 21:28] martincostello commented on #1310
I've switched the function to x64 and [re-deployed it](https://github.com/martincostello/alexa-london-travel/actions/runs/3056143889) with .NET 7 and now it's working as expected.

For my use case here that's an acceptable workaround until we can come up with a solution for arm64.

[2022-09-14 21:36] ashishdhingra commented on #1247
Not sure if it's feasible since Lambda Test Tool only allows to test the function logic. Needs review by development team.

[2022-09-14 22:01] normj commented on #1310
Thanks for confirming. I'll see what I can do on my side about it. I suspect we are stuck on the ARM side till we have a managed .NET 8 runtime or Lambda offers an AL2022 provided runtime.

[2022-09-15 05:06] kubalunacek commented on #1244
We switched same solution (code base, .NET6) to x86_64 architecture and all these errors disappeared. So problem is in the.NET6  ARM64  Lambda runtime. Do you have some progress @normj ?

[2022-09-15 06:47] jeastham1993 commented on #1300
@ashishdhingra PR raised.

[2022-09-16 22:56] normj commented on #1306
@petarrepac You have it write. The .NET process running inside the Lambda compute environment has no signal of when it is being killed. So the only alternative would be to dispose all of ASP.NET Core after every request and then restart for the next request. That would be unacceptable performance. So @ThomasArdal I agree with you in principal but this is one of the tradeoffs when running ASP.NET C

[2022-09-18 16:24] ThomasArdal commented on #1306
@normj Isn't there some kind of shutdown hook or similar that one could subscribe to? In case anything needs to shutdown "correctly".

[2022-09-19 00:18] #892 closed

[2022-09-20 07:01] normj commented on #1306
@ThomasArdal there is no shutdown hook in a Lambda compute environment.

[2022-09-20 07:03] ThomasArdal commented on #1306
Ok, thank you for your help. I think the way to solve this for me is to write some documentation.

I'll close this one.

[2022-09-20 07:03] #1306 closed

[2022-09-22 13:55] bjhogan opened #1316 "`dotnet new lambda/serverless.* ...` fails with .NET 7.0.100-rc.1.22431.12"
### Describe the bug

With the .NET SDK 7.0.100-rc.1.22431.12, `dotnet new lambda.EmptyFunction ...` and other templates fail.

[code]

[code]

### Expected Behavior

`dotnet new lambda.EmptyFunction ...` creates the appropriate projects.

### Current Behavior

Command fails with -

[code]

### Reproduction Steps

Download .NET SDK 7.0.100-rc.1.22431.12

Run `dotnet new lambda.EmptyFunction -n MyE

[2022-09-22 13:55] bjhogan opened #1317 "`dotnet new lambda/serverless.* ...` fails with .NET 7.0.100-rc.1.22431.12"
### Describe the bug

With the .NET SDK 7.0.100-rc.1.22431.12, `dotnet new lambda.EmptyFunction ...` and other templates fail.

[code]

[code]

### Expected Behavior

`dotnet new lambda.EmptyFunction ...` creates the appropriate projects.

### Current Behavior

Command fails with -

[code]

### Reproduction Steps

Download .NET SDK 7.0.100-rc.1.22431.12

Run `dotnet new lambda.EmptyFunction -n MyE

[2022-09-22 16:04] ashishdhingra commented on #1316
Hi @bjhogan,

Good morning.

.NET 7 is in RC1 and support for it needs to be added in AWS Tooling. I do not have any timelines are this stage, but this should be added eventually.

Thanks,
Ashish

[2022-09-23 00:21] #1309 closed

[2022-09-23 06:14] normj commented on #1317
I opened up an issue against on the Microsoft templating repository to get some help debugging this issue. https://github.com/dotnet/templating/issues/5300

[2022-09-23 13:27] kjones commented on #845
Seems like this is still needed? I don't see these classes in the [current SDK](https://github.com/aws/aws-lambda-dotnet/tree/f9beed29dcb842f86c8cfb46e9bb59b585858d2f/Libraries/src/Amazon.Lambda.APIGatewayEvents).

[2022-09-25 21:32] Simonl9l opened #1322 "LambdaSerializer/SourceGeneratorLambdaJsonSerializer support for JsonConverter<>"
### Describe the feature

I have some types from a vendor that have their own library managed JSON serializer.

Their recommendation is to use  a custom converter to wrap the library serialization. However is is non obvious how one would add the custom converter into the source generated lambda serializer setup.

There does not seem to be a way specify a `JsonSerializerOptions` type as part of the

[2022-09-26 08:17] schmallaria opened #1324 "AWS lambda in docker container run local"
### Describe the bug

I have created an ASP.NET 6 minimal API project which is running in a docker container hosted in a AWS lambda function. When i run the container via Visual Studio debug command everything is working as expected. I'm also able to deploy the image to ECR and run the project in a Lambda. These two cases are working.

Now I try to get a third case running. I want to be able to pu

[2022-09-26 14:01] mareksamec commented on #245
Same issue with Python. All red in metrics graph, standard logging enabled but absolutely nothing in CW logs.

[2022-09-26 23:13] ashishdhingra commented on #1324
Hi @schmallaria,

Good afternoon.

Following articles might be helpful:
- [Creating Lambda container images](https://docs.aws.amazon.com/lambda/latest/dg/images-create.html) for required container settings.
- [Testing Lambda container images locally](https://docs.aws.amazon.com/lambda/latest/dg/images-test.html)

Thanks,
Ashish

[2022-09-27 05:43] schmallaria commented on #1324
I have seen these articles. But can't get it running.

I've tried to run another command which invokes the lambda entrypoint directly.

`docker run -it -p 5000:80 --name MinimalApi --entrypoint /lambda-entrypoint.sh MinimalApiTest:latest MinimalApiTest`

With this i got the following message in the logs

`[INFO] (rapid) exec '/var/runtime/bootstrap' (cwd=/var/task, handler=)`

But my API is still

[2022-09-27 07:09] normj commented on #1324
When you run the image locally are you trying to access it like a REST API? I think you were close with your second post but you can't send REST request directly to the ASP.NET Core application you have to post them through the Lambda emulator running in the container. For example in the common ASP.NET Core project template that has the GET `/weatherforecast` endpoint. you do an `POST` to `http://

[2022-09-28 21:24] csheets-omnitracs commented on #1124
same issue here when converting existing lambda from .net 3.1 to 6.0 and attempting to use this enahncement -- any progress on this issue?

[2022-09-29 00:48] normj commented on #1124
I just put out a PR out for a fix on this issue
https://github.com/aws/aws-lambda-dotnet/pull/1326

[2022-09-29 15:17] csheets-omnitracs commented on #1124
@normj -- thank you!  what sort of timeframe are we looking at until this gets merged and released?  really not able to use this .net 6 lambda feature until we can use the mock lambda test tool

[2022-09-29 20:36] normj commented on #1317
Version 6.4.0 of the template has been released with the fix. Thanks for reporting the issue Bryan!

[2022-09-29 20:36] #1317 closed

[2022-09-30 16:56] crose-varde opened #1328 "SystemTextJson.DefaultLambdaJsonSerializer throws a NullReferenceException when null is returned if LAMBDA_NET_SERIALIZER_DEBUG is enabled"
### Describe the bug

When using `Amazon.Lambda.Serialization.SystemTextJson.DefaultLambdaJsonSerializer` (or any class derived from `AbstractLambdaJsonSerializer`), if the `LAMBDA_NET_SERIALIZER_DEBUG` environment variable is set to `true`, and `null` is returned from the function handler, the debugging code invoked during serialization of the response causes a `NullReferenceException` to be thro

[2022-09-30 20:05] ashishdhingra commented on #1328
@crose-varde Thanks for opening the bug report. Just out of curiosity, could you please share your use case where you needed to use `LAMBDA_NET_SERIALIZER_DEBUG`.

Thanks,
Ashish

[2022-10-01 14:57] EzequielGhR commented on #245
Experiencing the same issue with Python, and also wasting lots of time

[2022-10-03 05:45] nishant-newton commented on #1279
Thanks @ashishdhingra
PR submitted https://github.com/aws/aws-lambda-dotnet/pull/1330
@normj FYI

[2022-10-03 17:02] normj commented on #1322
In the serialization library's README file we document how to extend from our provided serializers that then allow you to customize  the `JsonSerializerOptions`

https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.Serialization.SystemTextJson#customizing-serialization-options

[2022-10-04 05:41] normj commented on #1124
I just pushed out version `0.12.5` with the fix.

[2022-10-04 13:39] csheets-omnitracs commented on #1124
@normj -- so now I am getting a different exception thrown in the test tool (actually same exception but for a different class) -- my scenario is as follows:

**my lambda handler signature is:**
public async Task HandleAsync(SQSEvent sqsEvent, ILambdaContext context)

This same code works as expected (no exception when using the default serializer as in: [assembly: LambdaSerializer(typeof(DefaultL

[2022-10-04 16:24] DillonN commented on #1265
Seeing the same issue on .NET 6 still. We did manage to find a workaround, but it's not that pretty. Basically implement a quick custom `ILogger` implementation that logs to `Console.Out`, but replaces all `\n` characters with `\r`. CloudWatch seems to pick up on the carriage return as an internal line break and formats the messages as expected.

[2022-10-04 18:44] ashishdhingra commented on #1328
The issue is reproducible in actual AWS Lambda environment (not in Mock Lambda test tool), only when `null` is returned in function call and `LAMBDA_NET_SERIALIZER_DEBUG` is set to `true` in environment variables.
[code]

@crose-varde Although I agree that the `null` values should be handled, could you please share the use case where `null` would be returned, instead of handling it in application

[2022-10-04 18:49] normj commented on #1124
@csheets-omnitracs I reproduced your second issue with a function handler with the following signature. I'm working on a solution.

[code]

[2022-10-04 21:14] normj commented on #1124
@csheets-omnitracs That was an interesting bug with the void `Task`. PR is out, I'll try and get that shipped out as soon as possible.
https://github.com/aws/aws-lambda-dotnet/pull/1331

[2022-10-05 00:23] #1324 closed

[2022-10-05 01:07] normj commented on #1124
Version `0.12.6` is out with PR fix. @csheets-omnitracs can you respond back if your scenario is working now?

[2022-10-05 15:52] csheets-omnitracs commented on #1124
@normj -- ran an initial test and all seems good -- thanks for the quick response and fix!

[2022-10-05 16:31] normj commented on #1124
Thanks @csheets-omnitracs. I'm going to close the issue. If you have any other problems be sure to open a new issue. Closed issues rarely get looked at and it was by luck I noticed your comment on the closed issue.

[2022-10-05 16:31] #1124 closed

[2022-10-05 22:11] ashishdhingra commented on #969
Hi @qidydl,

Good afternoon.

Could you please check if this is still an issue? I created ASP.NET Core Serverless Web App and added the following logging in Index page:
[code]

It did not generate duplicate logs:
[code]
**Package used:** `Amazon.Lambda.AspNetCoreServer` version `7.2.0`

**Target Framework:** .NET 6.0

If this is still an issue with the latest version, please share the sample code

[2022-10-05 22:46] qidydl commented on #969
@ashishdhingra it looks like it was fixed by @normj in PR #1017, so I believe this issue can be closed now.

[2022-10-05 22:55] #969 closed

[2022-10-06 23:07] antonfirsov commented on #1244
This seems to be definitely related to https://github.com/dotnet/runtime/issues/72365.

@bjorg @kubalunacek or others, any chance you can produce a dump?

[2022-10-06 23:37] antonfirsov commented on #1244
Actually, this could be caused by `ValueTask` misuse in user code see https://github.com/dotnet/runtime/issues/70486#issuecomment-1151175694.

[2022-10-11 00:23] #718 closed

[2022-10-12 18:28] bruce-lindsay commented on #1105
@LarsAndreasEk this was an issue for me as well. As a workaround Console.SetError from the handler constructor with a custom implementation of a TextWriter which does nothing when WriteLine(object o) is called suppresses the output. I'm leaving this in case it helps anyone else. This worked for me because I don't use Console.Error from application code.

The new behavior should provide an opt-out

[2022-10-12 20:09] ashishdhingra commented on #476
@TommyN Please confirm if this is still an issue.

[2022-10-13 12:51] avalara-stephen-hickey commented on #1095
I believe that is exactly what I was looking for, but I could not find any documentation on it in this project. Maybe update this issue to be about documenting how to use the "Executable Assembly" portion of the test tool.

[2022-10-14 10:03] BenjaRav commented on #1265
@ashishdhingra I see this is marked as queued now. Is it possible to have an estimate for how long tasks like this usually resides in a queued state, before being started? I'm contemplating continuing to try to implement the fix Dillon suggested here, but i feel it will be wasted if a internal fix from AWS is around the corner.

[2022-10-14 11:55] holthe-tveit commented on #1244
hi @antonfirsov I'm working on the same team as @LarsAndreasEk. I do not think we captured any dump related to this issue, but it did go away for us when we changed over to the AWS supported dotnet6 runtime and x86_64.
Our code did not use any value tasks directly as far as I could find but under the hood this is of course in use.

[2022-10-14 17:06] normj commented on #1245
@Sparafusile In this example is `Credentials` supposed to come from the response body?

[2022-10-14 17:24] Sparafusile commented on #1245
@normj I'm not entirely sure. Here is the definition of the entry point for the stand-alone lambda project that I have in production:

`
public Response FunctionHandler( Credentials c, ILambdaContext context )
{
}
public class Credentials
{
    public string ServerID { get; set; }
    public string Username { get; set; }
    public string Password { get; set; }
}
`

Here is a link to the documenta

[2022-10-14 20:52] wr-cdargis opened #1339 "Amazon.Lambda.Serialization.Json deserialization error SQS lambda when specifying batch window + at least one message attribute"
### Describe the bug

Pretty much the title. I have an SQS triggered lambda that works fine if I specify a batch window or add a message attribute. But if I do both of them together the lambda fails.

Here is my lambda custom runtime code

[code]

### Expected Behavior

I expect to be able to specify message attributes and a batching window together. Our application requires that we use the messag

[2022-10-17 02:45] KoriSeng commented on #1095
Basically..
- Run the tool
- Set environment variable
 - AWS_LAMBDA_RUNTIME_API
 - AWS_LAMBDA_FUNCTION_NAME
 - AWS_REGION

this will tell the lambda rest api middleware to activate and work with the tool

[2022-10-17 19:39] jaknor opened #1340 "Lambda annotations YAML generation does not support short hand syntax"
### Describe the bug

When using Lambda Annotations we get a build error whenever our Cloudformation contains any of the short hand Cloudformation syntax, such as `!Ref`

### Expected Behavior

The solution should build without errors

### Current Behavior

We receive the error message

[code]

### Reproduction Steps

Using lambda annotations define a lambda in code like below
[code]
Then modify t

[2022-10-17 21:28] ashishdhingra commented on #1340
This is probably duplicate of https://github.com/aws/aws-lambda-dotnet/issues/718 (stale and closed). Should be reviewed separately.

[2022-10-18 09:41] jaknor commented on #1340
Thanks @ashishdhingra that does sound like the same issue. I forgot to mention it when creating the issue, but I can confirm that using the full syntax does work so it is only a problem with the short hand syntax.

We use the short hand syntax everywhere so for us it would be quite a lot of work to move to the full syntax instead so would really appreciate if it could be supported

[2022-10-18 18:17] rahulpnath commented on #1107
For .NET 6, this seems to be the way to set up - https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.AspNetCoreServer.Hosting

[2022-10-20 05:26] yofitec commented on #588
Still not there.

If you inherit from these classes and add the missing Condition in your new class, producing a valid policy document,
does the Gateway simply accept a valid policy statements with Conditions ?

[2022-10-20 17:01] donovan-middleton opened #1341 "ForEach-Object -Parallel no longer working in AWS PowerShell Lambda function."
### Describe the bug

I updated from version 2.1.0.0 of the AWSPowerShellLambda module using the dotnetcore3.1 runtime to the latest (3.0.1.0) that now uses the dotnet6 runtime. I took the same PowerShell code and republished it so I would stay at a supported version and have found that it is now failing. I have narrowed the issue down to the use of the ForEach-Object -Parallel commands, so I have

[2022-10-20 19:05] ashishdhingra commented on #1341
Hi @donovan-middleton,

Good morning.

Thanks for reporting the issue. You seem to get the error `The term 'Write-Host' is not recognized as a name of a cmdlet, function, script file, or executable program.` in your CloudWatch logs when used inside a `ForEach-Object -Parallel`.

Observations:
- Able to reproduce the issue using your script and see the errors `[Error] - The term 'Write-Host' is not

[2022-10-20 19:37] donovan-middleton commented on #1341
We have a custom Lambda function tor starting and stopping instances that also utilize maintenance windows. I use the ForEach-Parallel to process starting, stopping, hibernating, and tagging instances. I only log if there is an issue with the command within the script block...  I use something along the lines of:

$EC2InstanceIDs | ForEach-Object -Parallel {
    Try {
        Start-EC2Instance -In

[2022-10-20 20:11] ashishdhingra commented on #1137
Closing this in favor of new issue https://github.com/aws/aws-lambda-dotnet/issues/1279.

[2022-10-20 20:11] #1137 closed

[2022-10-20 20:11] ashishdhingra commented on #359
Closing this in favor of new issue https://github.com/aws/aws-lambda-dotnet/issues/1279.

[2022-10-20 20:11] #359 closed

[2022-10-20 20:20] CamileDahdah commented on #1298
Hi there,
The issue that you are talking about has to do with how Visual Studio's Test Runner operates. It is not related to the project itself (although having launchSettings.json in the test project is confusing because it is not being used).
There is already a thread about this issue [here](https://github.com/aspnet/Tooling/issues/1089), it seems like the current workaround is to read the JSON

[2022-10-20 20:20] #1298 closed

[2022-10-20 22:18] ja-nick commented on #693
I'm seeing this warning on version 7.2.0.

[2022-10-20 23:48] ashishdhingra commented on #1339
Not reproducible in .NET 6 runtime.
- Used below code:
[code]
- Published the Lambda function. Also attached policy `AWSLambdaSQSQueueExecutionRole` to Lambda IAM role.
- In AWS SQS Console, attached Lambda function in Lambda Triggers.
- In AWS Lambda console, changed batch window to `2`.
- From AWS SQS Console, sent the message with message body and 2 message attributes.
- Below is the output in

[2022-10-21 01:19] Simonl9l commented on #1310
@norm any next steps here this is really killing us.

[2022-10-21 15:05] wr-cdargis commented on #1339
@ashishdhingra I should have been more explicit with my code example. I'm using `Amazon.Lambda.Serialization.Json.JsonSerializer`. i.e.

[code]

[2022-10-21 22:58] ashishdhingra commented on #1339
Reproducible when using custom lambda runtime (`.NET Core 3.1`) and `Amazon.Lambda.Serialization.Json.JsonSerializer`. The blueprint template for custom runtime targeting `.NET Core 3.1` is available in `Amazon.Lambda.Templates::4.1.2`.
- **.csproj**
[code]
- **Function.cs**
[code]
- **aws-lambda-tools-defaults.json**
[code]

Configuring Lambda trigger with batch window (tested with value `1`) and

[2022-10-24 06:36] normj commented on #1310
@Simonl9l sorry no progress on this issue. We have been in conversation with Microsoft on the issue discussing possible solutions but as they are heads down getting .NET 7 out the door we don't expect much traction on this issue till post .NET 7 release.

[2022-10-24 17:56] will-kienle opened #1342 ".NET Amazon.Lambda.TestUtilities test requests fail with 404 when the API route has a hyphen"
### Describe the bug

I have a .NET 6.0 Lambda API. I am running unit tests over the controller classes using the APIGatewayProxyFunction, APIGatewayProxyRequest, and TestLambdaContext classes to simulate an HTTP request to the lambda resource. I've discovered that when the API endpoint route contains a hyphen, these simulated requests return a status code of 404, causing the tests to fail. Howeve

[2022-10-24 21:32] ashishdhingra commented on #1342
The https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.TestUtilities project was last updated 6 years ago. Needs reproduction and review with the team.

[2022-10-25 06:44] ggaller opened #1343 "Invoke Lambda via Http API inside Lambda Test Tool"
### Describe the feature

Adding http API to Lambda Test Tool as another way to call the function, along with web interface and CLI.

### Use Case

In our games we build the server part on the Lambda function. With HTTP endpoint we could write a mock client and connect to the function running from the IDE with the possibility of debugging. It would be a normal local server listening on `localhost`

[2022-10-25 16:10] ashishdhingra commented on #1343
@ggaller Thanks for submitting the feature request. This appears to be duplicate of https://github.com/aws/aws-lambda-dotnet/issues/1279 (which is also reviewed by the team). Please review and confirm if this ticket could be closed as duplicate.

[2022-10-26 02:48] chris-smith-zocdoc opened #1345 "KinesisFirehoseResponse missing Metadata field"
### Describe the feature

The `metadata` field of [KinesisFirehoseResponse](https://github.com/aws/aws-lambda-dotnet/blob/master/Libraries/src/Amazon.Lambda.KinesisFirehoseEvents/KinesisFirehoseResponse.cs) is used for the [dynamic partitioning](https://docs.aws.amazon.com/firehose/latest/dev/dynamic-partitioning.html) feature in Kinesis Firehose

Reference implementation in golang https://github.

[2022-10-26 14:48] ggaller commented on #1343
Hi @ashishdhingra!
I looked at the #1279 and it seems to be a similar, but much more complex.
I know that the AWS team often implements services with partially overlapping functionality to better meet customer needs and maybe this is the case))
My solution serves to support compatibility with Lambda [Invoke API](https://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html) no more and no less.
By

[2022-10-26 17:59] ashishdhingra commented on #1345
@chris-smith-zocdoc Thanks for the PR. Please advise if you have tested this end-to-end in actual scenario.

[2022-10-26 18:10] chris-smith-zocdoc commented on #1345
@ashishdhingra I have not yet

[2022-10-26 18:12] ashishdhingra commented on #1345
Somehow looking at the example at https://docs.aws.amazon.com/firehose/latest/dev/dynamic-partitioning.html, the data type of the metadata entry doesn't appear to be `string`, even though Go SDK models it as string.

[2022-10-27 00:59] chris-smith-zocdoc commented on #1345
@ashishdhingra The JQ expression isn't relevant to this pr, thats an alternative way of providing the partitioning data without the transformation lambda.

I just confirmed this pr works as intended in our test account.

My test lambda returns the partition information like this
[code]

Relevant section of cdk configuration for `CfnDeliveryStream.extendedS3DestinationConfiguration`
[code]
Here `ev

[2022-10-27 13:40] KumarAbhinav2 commented on #245
Try Querying the log insights with "Task timed out" Phrase

`fields @timestamp, @message
| filter @message like "Task timed out"
| sort @timestamp asc
| limit 20`

[2022-10-27 20:59] avalara-stephen-hickey commented on #1095
I've confirmed I can use the test tool with an executing assembly. I've still running into an issue but it's covered by #1198 .

I think this issue can either be closed or used to say there needs to be literally any documentation on how to use the executing assembly part of the test tool (and not as part of a YouTube video).

[2022-10-27 21:40] ashishdhingra commented on #1343
@ggaller Thanks for your response. Feel free to submit the PR which could be reviewed by the team.

[2022-10-28 00:19] #907 closed

[2022-10-28 01:14] normj commented on #1095
@avalara-stephen-hickey Yes, now that we have the API emulation page for executable assemblies we really need to fix the tool to now require to be run in a project directory. That causes problems with the dev cycle.

[2022-10-28 01:42] brendonparker opened #1348 "Adding better support for OpenTelemetry"
### Describe the feature

Some way of hooking into the Amazon.Lambda.AspNetCoreServer.Hosting's `AddAWSLambdaHosting` to allow extending behavior around the FunctionHandlerAsync.

### Use Case

I'd like to use something like this: [OpenTelemetry.Instrumentation.AWSLambda](https://github.com/open-telemetry/opentelemetry-dotnet-contrib/tree/main/src/OpenTelemetry.Instrumentation.AWSLambda) with Amaz

[2022-10-28 01:53] brendonparker commented on #1348
It’s entirely possible that I am missing something and am asking for something that doesn’t make sense. All I know is that honeycomb receives my traces from localhost but when deployed to the lambda using that AddAWSLambdaHosting I get zero traces.

[2022-10-28 01:58] normj commented on #1348
I'm not sure what the solution is yet but this is a good callout to figure out the right approach.

[2022-10-28 06:24] LarsAndreasEk commented on #1105
Thanks @bruce-lindsay! I put another workaround in place: Catch exceptions in our own code, log, then throw a custom exception that has a ToString implementation that returns null.

[2022-10-28 12:34] ggaller commented on #1343
@ashishdhingra PR #1349  is ready  and waiting for the team's decision.

[2022-10-28 13:43] wr-cdargis commented on #1339
I would expect this to be reproducible in .NET 6 if `Amazon.Lambda.Serialization.Json.JsonSerializer` was used there

[2022-10-29 19:11] brendonparker commented on #1348
I'm still playing with this. It seems to be working _better_, but not sure it is working 100%...

This is the repo I'm using for experimenting: https://github.com/brendonparker/honeycombtest

Current work around is to register a custom/extended implementation of `LambdaRuntimeSupportServer`:

[code]
and the below
[code]

Still a bit fuzzy to me how this all comes together. 1. I'm new to OpenTeleme

[2022-10-30 16:10] brendonparker commented on #1348
Ok. I think I found the more correct/easy way to solve this. I opened a PR (see above) as a starting point for discussion.

After digging around a bit in the aspnet source code, I saw that the `System.Diagnostics.ActivitySource` was being managed by the HostingApplication, so long as this `IHttpActivityFeature` was provided/implemented.

Refs:
- https://github.com/dotnet/aspnetcore/blob/main/src/H

[2022-10-30 17:48] aandonoska opened #1351 "Lambda Annotations: error caused by mismatch in HttpApi attribute parameters and method parameters"
### Describe the bug

When using Lambda Annotations with Rest API, if the number of parameters in the "HttpApi" attribute do not match the parameters defined in the method itself the following error is shown:
`This is a bug. Please run the build with detailed verbosity (dotnet build --verbosity detailed) and file a bug at https://github.com/aws/aws-lambda-dotnet with the build output and stack tra

[2022-10-31 00:20] #937 closed

[2022-10-31 18:59] ashishdhingra commented on #1351
Based on discussion with the team, the action item is to improve the error messaging.

[2022-11-01 22:33] ashishdhingra commented on #1200
@hounddog22030 Looks like the linked PR https://github.com/aws/aws-lambda-dotnet/pull/1257 is merged. Could you please test your scenario and confirm if it works now?

Thanks,
Ashish

[2022-11-01 23:01] ashishdhingra commented on #1161
The PR https://github.com/aws/aws-lambda-dotnet/pull/1332 is merged and released. Closing the issue. Feel free to open a new issue in case issue still exists.

[2022-11-01 23:01] #1161 closed

[2022-11-02 13:54] brendonparker commented on #1348
@normj Let me know if you think this PR looks good

[2022-11-03 20:14] normj commented on #1348
The PR looks right to me. We need to find a time slice to try it out in action. Bare with us as this is a really busy time of year.

[2022-11-03 20:16] brendonparker commented on #1348
Cool, understood. Thanks for giving it a quick look.
Having this feature would help us out a lot. So let me know if there is anything I can do to help accelerate :)
I thought about seeing about setting up a test to try and assert that the OpenTelemetry reports (at least makes the calls, if configured). If you think that would be worth while, I can spend some time on it.

[2022-11-03 20:37] chris-smith-zocdoc commented on #1345
@ashishdhingra I've completed end to end testing, can you please take a look?

[2022-11-04 19:42] anwarjaved opened #1357 "The type or namespace name 'ServiceProvider' could not be found error in Amazon.Lambda.Annotations.SourceGenerator.Generator(short issue description)"
### Describe the bug

I am trying to use Amazon.Lambda.Annotations.SourceGenerator.Generator and it seems it ghenerates wrong code. Instead of using IServiceProvider type they use ServiceProvider Type which result in exception.
[error.txt](https://github.com/aws/aws-lambda-dotnet/files/9941500/error.txt)
![image](https://user-images.githubusercontent.com/99399/200061105-1ecbcdd4-04ed-446a-931a-ef9

[2022-11-06 18:48] brendonparker commented on #1348
I've been poking at this a bit more, trying to write some tests around it. Starting to think the implementation/propsal in my current PR is incomplete.

It appears the class `HostingApplication` implementing `IHttpApplication<TContext>` provided by aspnet is marked as `internal` ( [see implementation](https://github.com/dotnet/aspnetcore/blob/main/src/Hosting/Hosting/src/Internal/HostingApplicatio

[2022-11-07 18:33] sagulati opened #1358 "Allow NativeAOT to be executed as a part of .NET Lambda managed runtime"
### Describe the feature

Currently for Executable Assemblies, the Amazon.Lambda.RuntimeSupport package looks for ${Executable_Assembly}.dll when initializing the lambda function. For NativeAOT and [Single File Executable Assemblies](https://learn.microsoft.com/en-us/dotnet/core/deploying/single-file/overview?tabs=cli), Update this to also look for "${Executable_Binary}" without ".dll".

A link to

[2022-11-07 23:05] ashishdhingra commented on #1358
Appears to be a valid feature request. Needs review with the team.

[2022-11-08 00:39] ashishdhingra commented on #1357
Hi @anwarjaved,

Good afternoon.

Thanks for reporting the issue. Could you please share the detailed steps to reproduce the issue, may be the sample code solution? I used Visual Studio 2022 annotations template as per instructions at https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.Annotations#visual-studio-2022 and upgraded to `Amazon.Lambda.Annotations` version `

[2022-11-08 15:30] udlose opened #1359 "AbstractLambdaJsonSerializer does not reuse JsonSerializerOptions resulting in Performance penalty"
### Describe the bug

`JsonSerializerOptions` are supposed to be re-used across usages with the same settings - see [Reuse JsonSerializerOptions instances](https://learn.microsoft.com/en-us/dotnet/standard/serialization/system-text-json/configure-options?pivots=dotnet-6-0#reuse-jsonserializeroptions-instances).  Not re-using `JsonSerializerOptions` instances causes performance penalties.

While br

[2022-11-08 20:54] udlose commented on #1359
@ashishdhingra Thank you for your quick review!  To be fair, I haven't profiled this to measure the negative performance impact the current code has.  I follow the .NET world pretty closely and know that there have been many performance issues reported by Microsoft customers regarding the performance impact of repeatedly creating new instances of `JsonSerializerOptions`. There are a few Github thr

[2022-11-09 00:17] #1200 closed

[2022-11-09 20:50] isaacrlevin opened #1362 ".NET 7 Lambda Test Tool Settings Missing"
### Describe the bug

I recently updated VS, the AWS Extension, the Lambda templates, as well as the Lambda Global tools. One thing I notice when creating a new .NET 7 AOT project is that there is no option for the Mock Test tool in the Debug Options.

In order to fix this, I had to update the mock test tool (I thought it was in the overall global tool) as well as add the missing launch-settings f

[2022-11-10 00:12] normj commented on #1362
The test tool will only be configured by VS if the Lambda project is class library used for either managed runtime or image based deployments. In that case the test tool can act as the Lambda runtime client and invoke the specified method. In the case of Native AOT the project is an executable which spins up its own Lambda runtime client so the default VS test tool integration doesn't work.

There

[2022-11-10 12:20] sdmcnitt commented on #537
I have the same problem. I am using Visual Studio 2019 and when I debug the Environment.GetEnvironmentVariable(name) returns nothing. I have the environment variable set in the Project Settings > Debug > Environment Variables. This works fine when I deploy the lambda.

[2022-11-11 11:18] tmitchel2 commented on #1310
Would really like to second this.  Getting AL2022 on lambda ASAP seems like the right way to go but if any workaround is possible I would love to hear it.

[2022-11-11 17:31] ik130 commented on #1362
This is an expected behavior, as such this issue will be closed.

[2022-11-11 17:31] #1362 closed

[2022-11-11 20:13] rborunda-jack commented on #1341
Any update on this ticket. I am running in to the same "write-host" error. I'm running in to the same issue.

[2022-11-11 23:45] sagulati commented on #1358
@ashishdhingra [PR raised](https://github.com/aws/aws-lambda-dotnet/pull/1365).

[2022-11-12 06:41] Newp opened #1366 "IFormFile content has changed on zip file"
### Describe the bug

When a file is transferred via IFormFile, when a .txt file is transferred, the length of the file sent by the client, md5 hash values, and so on are delivered to the controller/action equally. However, both the length and the value have changed when you transferred the zip file. We tested it by changing the extension, but it didn't affect it, and we expect it to be converted

[2022-11-14 17:20] ashishdhingra commented on #1366
Hi @Newp,

Good morning.

Thanks for raising the issue. Could you please confirm if the ZIP file is corrupted at the destination? Although I'm not sure, the binary content during transmission might be `Base64` encoded over HTTP/HTTPS, this might report the different size and MD5 hash than expected source value.

Thanks,
Ashish

[2022-11-16 00:17] #1357 closed

[2022-11-17 17:18] ashishdhingra commented on #1358
@sagulati Please refer the blog post [Building serverless .NET applications on AWS Lambda using .NET 7](https://aws.amazon.com/blogs/compute/building-serverless-net-applications-on-aws-lambda-using-net-7/) for the Native AOT support and see if it covers your scenario.

Thanks,
Ashish

[2022-11-17 17:19] ik130 commented on #882
@Simonl9l You can run `dotnet new serverless.Annotations --output MySampleAnnotationsProject` to create a project using Lambda Annotations. This will create a project in a sub directory of the current director called `MySampleAnnotationsProject`. The directory will contain both a Lambda project using Annotations as well as a unit test project.

Is it ok to close this FR now?

[2022-11-17 21:27] Simonl9l commented on #882
@ik130 not my feature request to agree to close.

I have been doing as suggested and we have multiple lambdas in production albeit build via docker with custom runtime to give AoT support - with .Net 7!

this eliminated the need for provisioned capacity as cold start is v fast. So from my perspective I’m good.

However given AoT we’re wanting to not use the dotnet DI container and use one of the c

[2022-11-17 22:49] normj commented on #1359
Hi @udlose, this method is only called during the constructor of the serializer. The Lambda runtime client which uses the serializer only creates one instance of the serializer. So in Lambda's case there is nothing to reuse since the serializer is only created once.

[2022-11-18 03:52] udlose commented on #1359
Hi @normj . Thanks for the reply. Is this called only once per instantiation/warmup of the Lambda or once per invocation of the Lambda? IOW, if there are 10 invocations of the lambda before the Lambda spins down, is the serialized constructed once or 10 times?

[2022-11-18 06:53] normj commented on #1359
It would be called only once per Lambda compute environment or what I think you are calling "instantiation/warmp". It is not called for every Lambda invocation.

[2022-11-18 07:09] normj commented on #882
@Simonl9l I agree that I'm imagining more source generators and other library updates in our future to cut our reflection usage and make all of our .NET libraries be more AOT friendly. It will take time but we are all excited about the potential for AOT.

[2022-11-18 15:46] Kralizek opened #1368 "Lambda Annotations doesn't support a function returning `Task<T[]>` for any `T`"
### Describe the bug

When trying to build a function written using the new Annotation framework that returns an array, the build fails

[code]

### Expected Behavior

It should be possible to create a function that returns an array of items.

### Current Behavior

[code]

[code]

### Reproduction Steps

[code]

[code]

### Possible Workaround

Returning a list works without problems

[code]

###

[2022-11-18 17:53] peterrsongg commented on #1299
Hello @petro2050 this has been addressed in 2022-11-16's release. It was a typo. Closing the comment since the change has been merged in.

[2022-11-18 17:53] #1299 closed

[2022-11-19 23:50] AbbTek commented on #920
I'm trying to update our lambda project to NET Core 7. I'm including Microsoft.ICU.ICU4C.Runtime, but I'm getting the following error.

Failed to load /var/task/libcoreclr.so, error: /lib64/libm.so.6: version `GLIBC_2.27' not found (required by /var/task/libcoreclr.so)

[2022-11-19 23:52] martincostello commented on #920
See #1310

[2022-11-21 16:57] sagulati commented on #1358
@ashishdhingra - Thanks for sharing the blog post. The blog post talks about deploying NativeAOT in **custom runtime** using AWS tooling. Scenario i have is to enable running NativeAOT as apart of **.NET Lambda managed runtime**. So these are two different scenarios and [PR i have raised](https://github.com/aws/aws-lambda-dotnet/pull/1365) will allow to execute .NET6/.NET7 NativeAOT as a part of L

[2022-11-21 22:23] ashishdhingra commented on #1368
Reproducible. Needs review with the team.

[2022-11-21 23:19] Kralizek commented on #1368
The same error also occurs when the function returns `T[]` instead of `Task<T[]>`

[2022-11-22 10:28] fracampit opened #1369 "Skipped, error inspecting layer. Invalid Layer name"
### Describe the bug

I have the following layer versions:

[code]

When I run
[code]
where `$LAMBDA_LAYER_ARN` is either `arn:aws:lambda:eu-west-2:763336740511:layer:capabilities-assets:2` or `arn:aws:lambda:eu-west-2:763336740511:layer:capabilities-assets:1`, I get the following error:

[code]

### Expected Behavior

[code]

### Current Behavior

[code]

### Reproduction Steps

n/a

### Possible

[2022-11-22 15:32] udlose commented on #1359
Ok. I will close the issue. Thanks.

[2022-11-22 15:32] #1359 closed

[2022-11-22 17:08] ashishdhingra commented on #1369
Closing this as duplicate of https://github.com/aws/aws-extensions-for-dotnet-cli/issues/255.

[2022-11-23 00:15] #1366 closed

[2022-11-23 15:28] nathanvj opened #1371 "AWS Lambda Test Tool - error parsing JSON file appsettings.Development.json"
### Describe the bug

I have an AWS project with two Lambda Functions.

The project has a reference to my main project, which contains appsettings.

When I start the AWS Lambda Test Tool, it gives me the following error in my console:
[code]

And in my browser:
[code]

When I remove the reference to my main project, the error goes away.

**Please note that when I deploy the AWS Lambda, and test in

[2022-11-25 16:12] nathanvj commented on #1371
Anyone who can help me out?

[2022-11-26 01:07] ashishdhingra commented on #1371
@nathanvj Good evening. Could you share sample code solution to reproduce the issue?

[2022-11-27 00:17] #1000 closed

[2022-11-28 14:17] mseld commented on #1339
I hope this might fix deserialization sqs event problem

Reference: https://aws.amazon.com/blogs/compute/building-serverless-net-applications-on-aws-lambda-using-net-7/

[code]

[2022-11-30 10:39] JoanComasFdz commented on #1095
HI,

I am also trying to debug locally a .NET6 Minimal API lambda. I've followed the video posted here, but the events are not going to active.

I'm on:
- Windows 10 21H1 Build 19043.2130
- Visual Studio 2022 (64-bit) 17.4.1

The profile:
[code]

My project is just the **default** template `serverless.AspNetCoreMinimalAPI`, haven't changed a single line. The only thing I change is making the `serv